{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{#  {{bindAttr class=id + "l-section"}} #}

{% tplhandlebars "page" %}
    <div class="l-section"id="page" >
        {{#if view.showTitle}}
        	<section class="l-wrapper">
					<article class="l-content">
						<header class="page-header">
		                	<h1>{{title}}</h1>
						</header>
						{{{body}}} 
					</article>
					
					<sidebar class="l-sidebar page-nav">
						<h3>{% trans "About 1%Club" %}</h3>
						<ul>
							<li><a {{action showPage 'story'}} href="/#!/pages/story">{% trans "Our Story" %}</a></li>
							<li><a {{action showPage 'faq'}} href="/#!/pages/faq">{% trans "Frequently Asked Questions" %}</a></li>
							<li><a {{action showPage 'meet-team'}} href="/#!/pages/meet-team">{% trans "Meet the team" %}</a></li>
							<li><a {{action showPage 'partners'}} href="/#!/pages/partners">{% trans "Partners" %}</a></li>
							<li><a {{action showPage 'press'}} href="/#!/pages/press">{% trans "Press" %}</a></li>
							<li><a {{action showPage 'work'}} href="/#!/pages/work">{% trans "Work at 1%Club" %}</a></li>
							<li>{{#linkTo contactMessage href=true}}{% trans "Contact" %}{{/linkTo}}</a></li>
						</ul>
					</sidebar>
					
        		</div>
        	</section>
        {{else}}
        	{{{body}}}
        {{/if}}
    </div>

{% endtplhandlebars %}


{% tplhandlebars "error/not_found" %}
	
	<div class="l-section page-error" id="page" >
		<section class="l-wrapper">
			<article class="l-content">
				<header class="page-header">
	            	<h1>{% trans "Something went wrong" %}</h1>
				</header>
				<p>{% trans "The page you are looking for couldn't be found." %}</p> 
			</article>
		</section>
{% endtplhandlebars %}


{% tplhandlebars "contact_message" %}

    <div class="l-section" id="page">
        <section class="l-wrapper">
        
            	<article class="l-content">
                    <header class="page-header">
                        <h1>{% trans "Contact" %}</h1>
                        <p>
                            {% blocktrans %}
                            Send us a message or get in touch using the details below. Talk to you soon!
                            {% endblocktrans %}
                        </p>
                    </header>
					
		            <form id="contact-form">
		                {{#if isSent}}
		                	<legend>
								<strong>{% trans "Thanks for your message!. We'll get back to you soon" %}.</strong>
							</legend>
		                {{else}}
		                    <fieldset>
		                        <ul>
		                            <li class="control-group">
		                                <label class="control-label">{% trans "Name" %}</label>
		                                <div class="controls">
		                                    {{view Em.TextField valueBinding="name" classBinding="errors.name.length:error"}}
		                                </div>
		
		                                {{#if errors.name }}
		                                    <div class="has-errors">{{#each errors.name }}<p>{{this}}</p>{{/each}}</div>
		                                {{/if}}
		                            </li>
		
		                            <li class="control-group">
		                                <label class="control-label">{% trans "Email" %}</label>
		                                <div class="controls">
		                                    {{view Em.TextField valueBinding="email" classBinding="errors.email.length:error"}}
		                                </div>
		
		                                {{#if errors.email }}
		                                    <div class="has-errors">{{#each errors.email }}<p>{{this}}</p>{{/each}}</div>
		                                {{/if}}
		
		                            </li>
		
		                            <li class="control-group">
		                                <label class="control-label">{% trans "Message" %}</label>
		                                <div class="controls">
		                                    {{view Em.TextArea valueBinding="message" rows="6" classBinding="errors.message.length:error"}}
		                                </div>
		
		                                {{#if errors.message }}
		                                    <div class="has-errors">{{#each errors.message }}<p>{{this}}</p>{{/each}}</div>
		                                {{/if}}
		
		                            </li>
		
		                        </ul>
		                    </fieldset>
		                    <button {{bindAttr class=":btn :btn-iconed :btn-primary :btn-submit"}} {{action updateRecordOnServer}}><span class="flaticon solid envelope-1"></span>{% trans "Send Message" %}</button>
		                {{/if}}
		            </form>
            	</article>
            	
	            <sidebar class="l-sidebar">
	            	<h3>{% trans "Other ways to contact" %}</h3>
{% blocktrans %}
<p>
    Email:<a href="mailto:info@onepercentclub.com?subject=Contact">info@onepercentclub.com</a><br />
    Twitter:<a href="https://twitter.com/1percentclub">@1percentclub</a><br />
    Facebook: <a href="http://www.facebook.com/onepercentclub">/onepercentclub</a>
</p>
<p>
    1%Club Foundation<br />
    's Gravenhekje 1a<br />
    1011 TG Amsterdam<br />
    The Netherlands<br />
</p>
<p>
    Bank: Rabobank (Haarlem)<br />
    Account number: NL45 RABO 01322070 44(donations)<br />
    BIC: RABONL2U<br />
    <br />
    Chamber of Commerce number 34.26.78.95<br />
    Phone(+31) 20 715 8980<br />
</p>
{% endblocktrans %}
	            </sidebar>
	            
        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "partner" %}
    <div class="l-section" id="partner-detail">
        <section class="l-wrapper">
        
            <figure class="image">
                <img {{bindAttr src="image.large"}} />
            </figure>
            
            <article>
                <h1>{{name}}</h1>
                <p>{{linebreaks description formatting='br'}}</p>
            </article>
            
        </section>

        <section class="l-wrapper">
            <ul id="search-results">
                {{#each project in projects}}
                    {{render "projectPreview" project}}
                {{else}}
                    <li class="no-results">{% trans "No projects found." %}</li>
                {{/each}}
            </ul>
        </section>
    </div>
{% endtplhandlebars %}
