{% load i18n bb_ember static %}

{% tplhandlebars "monthly_project_preview" %}

     <li class="project-item project-item-small">

        <a {{action 'addProjectToMonthly' project}}>
            <span class="project-header">

            	<figure class="project-image">
                	<img {{bindAttr src="project.image" }} />
            	</figure>

                <span class="project-title">
                	<h3>{{project.title}}</h3>
                    <span class="project-location">
                        <span class="flaticon solid location-pin-1"></span> {{project.country.name}}</span>
                </span>
            </span>

            <span {{bindAttr class=":project-status phase"}}>
                {{bb-progressbar targetValue=amount_asked currentValue=amount_donated}}
                <span class="project-fund-amount"><strong>&euro;{{localize amount_donated}}</strong>  {% trans "of" %} {{localize amount_asked}} <em>{% trans "raised" %}</em></span>
                <span class="project-days-left"><span class="flaticon solid clock-1"></span> <strong>{{daysToGo}}</strong> <em>{% trans "days" %}</em></span>
            </span>
            <span class="project-description">{{{pitch}}}</span>
        </a>
    </li>

{% endtplhandlebars %}
