{% load i18n bb_ember static %}

{% tplhandlebars "my_donation_list" %}

    <section class="l-wrapper">
        <div class="l-full">

            <header class="page-header">
                <h1>{% trans "Order History" %}</h1>
            </header>

            <table class="fund-history">
                {{#each order in controller}}
                    <tr>
                        <td class="fund-history-date">{{localize order.created formatting='d'}}</td>
                        <td class="fund-history-type">{{#if order.recurring }} {% trans "Monthly Donation" %} {{ else }} {% trans "Single Donation" %} {{/if}}</td>
                        <td class="fund-history-total">&euro;{{ order.total }},-</td>
                        <td>
                            <table>
                                {{#each donation in order.donations}}
                                <tr>
                                    <td class="fund-history-project">{{#link-to 'project' donation.project.id}}{{donation.project.title}}{{/link-to}}</td>
                                    <td class="fund-history-amount">&euro;{{ donation.amount }},-</td>
                                </tr>
                                {{/each}}
                            </table>
                        </td>
                    </tr>
                {{/each}}
            </table>
            {{#if canLoadMore}}
                <a {{action "loadMore"}}>{% trans "Older donations" %}</a>
            {{/if}}
        </div>
    </section>
{% endtplhandlebars %}
