{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah/menu" %}
    <div id="cheetah-header">
        <div class="l-wrapper">
            <div class="row">
                <ul class="cheetah-nav">
                    <li {{action 'goTo' '#site'}}></li>
                    <li><a {{action 'goTo' '#cheetah-quiz' 'partner.index'}}>{% trans 'Who Can Join?'%}</a></li>
                    <li><a {{action 'goTo' '#cheetah-get-funded' 'partner.index'}}>{% trans 'How To Get Funded'%}</a></li>
                    <li><a {{action 'goTo' '#cheetah-faq' 'partner.index'}}>{% trans 'FAQ' context 'cheetah faq'%}</a></li>
                    <li><a {{action 'goTo' '#cheetah-about' 'partner.index'}}>{% trans 'About The Fund'%}</a></li>
                    <li class="browse">{{#linkTo 'partner.projects' 'cheetah'}}{% trans 'Browse all Campaigns'%}{{/linkTo}}</li>
                </ul>
            </div>
        </div>
    </div>
{% endtplhandlebars %}
