{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah/menu" %}
    <div id="cheetah-header">
        <div class="l-wrapper">
            <div class="row">
                <ul class="cheetah-nav">
                    <li {{action 'goTo' '#site' target='view'}}></li>
                    <li><a {{action 'goTo' '#cheetah-quiz' target='view'}}>{% trans 'Who Can Join?'%}</a></li>
                    <li><a {{action 'goTo' '#cheetah-get-funded' target='view'}}>{% trans 'How To Get Funded'%}</a></li>
                    <li><a {{action 'goTo' '#cheetah-faq' target='view'}}>{% trans 'FAQ'%}</a></li>
                    <li><a {{action 'goTo' '#cheetah-about' target='view'}}>{% trans 'About The Fund'%}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endtplhandlebars %}
