{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah/index" %}
    <div id="cheetah-fund">

        {{partial 'cheetah/cheetah_video'}}

        {{render 'cheetah/running_campaign_list' controller}}
        
        {{render 'cheetahQuiz'}}

        {{partial 'cheetah/how_to_get_funded'}}

        {{render 'cheetahFaq'}}

        {{partial 'cheetah/banner'}}

        {{partial 'cheetah/about'}}

        {{partial 'cheetah/areyou'}}
    </div>
{% endtplhandlebars %}
