{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah_quiz" %}
    <div class="l-section" id="cheetah-quiz">

        <div class="l-wrapper">
            {{#if questionThreePassed}}
            <div class="row">
                    <div class="quiz-heading is-inactive">
                        <h1>{% trans 'Who Can Join?'%}</h1>
                        <h2 class="sub-heading">{% trans 'Are you a Cheetah? Take the test to find out!'%}</h2>
                    </div>
                </div>
                {{else}}
                <div class="row">
                    <div class="quiz-heading">
                        <h1>{% trans 'Who Can Join?'%}</h1>
                        <h2 class="sub-heading">{% trans 'Are you a Cheetah? Take the test to find out!'%}</h2>
                    </div>
                </div>
            {{/if}}
            <div class="row quiz-blocks">
                <div {{bind-attr class=":col4 :block questionOneFailed:flipped questionOnePassed:flipped"}}>
                    {{#if questionOnePassed}}
                        <div class="front is-active">
                            <div class="quiz-content is-active">
                                <p>
                                    {% trans 'Are you an African pioneer with a project based in Africa?'%}
                                </p>
                                <div class="quiz-answers">
                                    <span {{action 'answer' 'questionOne' 'yes'}} class="yes">{% trans 'Yes' context 'cheetah yes' %}</span>
                                    <span {{action 'answer' 'questionOne' 'no'}} class="no">{% trans 'No' context 'cheetah no' %}</span>
                                </div>  
                            </div>
                        </div>
                        <div class="back is-answer">
                            <div class="quiz-content">
                                <p>
                                    {% trans 'Are you an African pioneer with a project based in Africa?'%}
                                </p>
                                <span class="question-correct"></span>
                            </div>
                        </div>
                {{else}}
                    {{#if questionOneFailed}}
                        <div class="front is-active">
                            <div class="quiz-content is-active">
                                <p>
                                    {% trans 'Are you an African pioneer with a project based in Africa?'%}
                                </p>
                                <div class="quiz-answers">
                                    <span {{action 'answer' 'questionOne' 'yes'}} class="yes">{% trans 'Yes' context 'cheetah yes' %}</span>
                                    <span {{action 'answer' 'questionOne' 'no'}} class="no">{% trans 'No' context 'cheetah no' %}</span>
                                </div>  
                            </div>
                        </div>
                        <div class="back is-answer">
                            <div class="quiz-content">
                                <a {{action 'answer' 'questionOne' null}} class="close-question"></a>
                                <p>
                                    {% blocktrans with action="{{action 'showPage' 'start-campaign'}}" href="/#!/pages/start-campaign"%}
                                        Unfortunately the Cheetah Fund 2014 only accepts projects based in Africa by African pioneers. Don’t worry, you can always <a {{ action }} href="{{ href }}">start a campaign at 1%Club!</a>
                                    {% endblocktrans %}
                                </p>
                            </div>
                        </div>
                    {{else}}
                        <div class="front is-active">
                            <div class="quiz-content is-active">
                                <p>
                                    {% trans 'Are you an African pioneer with a project based in Africa?'%}
                                </p>
                                <div class="quiz-answers">
                                    <span {{action 'answer' 'questionOne' 'yes'}} class="yes">{% trans 'Yes' context 'cheetah yes' %}</span>
                                    <span {{action 'answer' 'questionOne' 'no'}} class="no">{% trans 'No' context 'cheetah no' %}</span>
                                </div>  
                            </div>
                        </div>
                        <div class="back is-answer">
                            <div class="quiz-content">
                                <a {{action 'answer' 'questionOne' null}} class="close-question"></a>
                                <p>
                                    {% blocktrans with action="{{action 'showPage' 'start-campaign'}}" href="/#!/pages/start-campaign"%}
                                        Unfortunately the Cheetah Fund 2014 only accepts projects based in Africa by African pioneers. Don’t worry, you can always <a {{ action }} href="{{ href }}">start a campaign at 1%Club!</a>
                                    {% endblocktrans %}
                                </p>
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
                </div>

                <div {{bind-attr class=":col4 :block questionTwoPassed:flipped questionTwoFailed:flipped"}}>
                {{#if questionOnePassed}}
                        {{#if questionTwoPassed}}
                            <div class="front is-active">
                                <div class="quiz-content">
                                    {{!-- <a class="questionmark"></a> --}}
                                    <p>
                                        {% trans 'How much funding (in euros) do you need to kick-start or boost your project?'%}
                                    </p>
                                    <label for="input">
                                        {{view Em.TextField valueBinding='answerTwo' disabled='true'}}
                                    </label>
                                    
                                </div>
                            </div>
                            <div class="back is-answer">
                                <div class="quiz-content">
                                    <p>
                                        {% trans 'How much funding (in euros) do you need to kick-start or boost your project?'%}
                                    </p>
                                    <span class="question-correct"></span>
                                </div>
                            </div>
                        {{else}}
                            {{#if questionTwoFailed}}
                                <div class="front is-active">
                                    <div class="quiz-content is-active">
                                        <div class="tooltip-holder">
                                            <a {{action 'answer' 'questionOne' null}} class="questionmark"></a>
                                            <div class="tooltip">
                                                {% blocktrans %}
                                                    You might like to know that the most successful crowdfunding campaigns target a budget of around &euro;4000.
                                                {% endblocktrans %}
                                            </div>
                                        </div>
                                        <p>
                                             {% trans 'How much funding (in euros) do you need to kick-start or boost your project?'%}
                                        </p>
                                        <label for="input">
                                            {{view Em.TextField valueBinding='answerTwo' autofocus="autofocus" class="quiz-input"}}
                                        </label>
                                        <a {{action 'answer' 'questionTwo' answerTwo}} class="submit-quiz"></a>
                                    </div>
                                </div>
                                <div class="back is-answer">
                                    <div class="quiz-content">
                                        <a {{action 'answer' 'questionTwo' null}} class="close-question"></a>
                                        <p>
                                         {% blocktrans with action="{{action 'showPage' 'start-campaign'}}" href="/#!/pages/start-campaign"%}
                                            In order to join the fund opportunity the budget can’t exceed &euro;10,000. Please reconsider your budget or go to <a {{ action }} href="{{ href }}">1%Club</a> and start your campaign there!
                                        {% endblocktrans %}
                                        </p>
                                    </div>
                                </div>
                            {{else}}
                                <div class="front is-active">
                                    <div class="quiz-content is-active">
                                        <div class="tooltip-holder">
                                            <a {{action 'answer' 'questionOne' null}} class="questionmark"></a>
                                            <div class="tooltip">
                                                {% blocktrans %}
                                                    You might like to know that the most successful crowdfunding campaigns target a budget of around &euro;4000.
                                                {% endblocktrans %}
                                            </div>
                                        </div>
                                        <p>
                                             {% trans 'How much funding (in euros) do you need to kick-start or boost your project?'%}
                                        </p>
                                        <label for="input">
                                            {{view Em.TextField valueBinding='answerTwo' autofocus="autofocus" class="quiz-input"}}
                                        </label>
                                        <a {{action 'answer' 'questionTwo' answerTwo}} class="submit-quiz"></a>
                                    </div>
                                </div>
                                <div class="back is-answer">
                                    <div class="quiz-content">
                                        <a {{action 'answer' 'questionTwo' null}} class="close-question"></a>
                                        <p>
                                         {% blocktrans %}
                                            In order to join the fund opportunity the budget can’t exceed &euro;15,000. Please reconsider your budget or go to <a href="/">1%Club</a> and start your campaign there!
                                        {% endblocktrans %}
                                        </p>
                                    </div>
                                </div>
                            {{/if}}
                        {{/if}}
                    {{else}}
                        <div class="front is-inactive">
                            <div class="quiz-content">
                                {{!-- <a class="questionmark"></a> --}}
                                <p>
                                    {% trans 'How much funding (in euros) do you need to kick-start or boost your project?'%}
                                </p>
                                <label for="input">
                                    {{view Em.TextField valueBinding='answerTwo' disabled='true'}}
                                </label>
                                
                            </div>
                        </div>
                    {{/if}}
                </div>

                <div {{bind-attr class=":col4 :block questionThreeFailed:flipped"}}>
                    {{#if questionTwoPassed}}
                        {{#if questionThreePassed}}
                            <div class="front is-answer">
                                <div class="quiz-content">
                                    <p>
                                        {% trans 'Does your project have social or environmental impact?'%}
                                    </p>
                                    <span class="question-correct"></span>
                                </div>
                            </div>
                        {{else}}
                            {{#if questionThreeFailed}}
                                <div class="front is-active">
                                    <div class="quiz-content">
                                        <p>
                                            {% trans 'Does your project have social or environmental impact?'%}
                                        </p>
                                        <div class="quiz-answers">
                                            <span class="yes">{% trans 'Yes' context 'cheetah yes'%}</span>
                                            <span class="no">{% trans 'No' context 'cheetah no'%}</span>
                                        </div>  
                                    </div>
                                </div>
                                <div class="back is-answer">
                                    <div class="quiz-content">
                                        <a {{action 'answer' 'questionThree' null}} class="close-question"></a>
                                        <p>
                                            {% trans 'Because the Cheetah Fund 2014 wants to ignite a big wave of social change throughout Africa we only accept projects that will have a social or environmental impact.'%}
                                        </p>
                                    </div>
                                </div>
                            {{else}}
                                <div class="front is-active">
                                    <div class="quiz-content is-active">
                                        <div class="tooltip-holder">
                                            <a {{action 'answer' 'questionThree' null}} class="questionmark"></a>
                                            <div class="tooltip">
                                                {% blocktrans %}
                                                    Projects with a social or environmental impact add value to other people’s lives. Think of projects that tackle waste problems or work on clean and green transport. So with social or environmental impact we talk about projects that will lead to a cleaner, safer or friendlier Africa!
                                                {% endblocktrans %}
                                            </div>
                                        </div>
                                        <p>
                                            {% trans 'Does your project have social or environmental impact?'%}
                                        </p>
                                        <div class="quiz-answers">
                                            <span {{action 'answer' 'questionThree' 'yes'}} class="yes">{% trans 'Yes' context 'cheetah yes' %}</span>
                                            <span {{action 'answer' 'questionThree' 'no'}} class="no">{% trans 'No' context 'cheetah no' %}</span>
                                        </div>  
                                    </div>
                                </div>
                                <div class="back is-answer">
                                    <div class="quiz-content">
                                        <a {{action 'answer' 'questionThree' null}} class="close-question"></a>
                                        <p>
                                            {% trans 'Because the Cheetah Fund 2014 wants to ignite a big wave of social change throughout Africa we only accept projects that will have a social or environmental impact.'%}
                                        </p>
                                    </div>
                                </div>
                            {{/if}}
                        {{/if}}
                    {{else}}
                        <div class="front is-inactive">
                            <div class="quiz-content">
                                <p>
                                    {% trans 'Does your project have social or environmental impact?'%}
                                </p>
                                <div class="quiz-answers">
                                    <span class="yes">{% trans 'Yes' context 'cheetah yes'%}</span>
                                    <span class="no">{% trans 'No' context 'cheetah no'%}</span>
                                </div>  
                            </div>
                        </div>
                        <div class="back is-answer">
                            <div class="quiz-content">
                                <a {{action 'answer' 'questionThree' null}} class="close-question"></a>
                                <p>
                                    {% trans 'Because the Cheetah Fund 2014 wants to ignite a big wave of social change throughout Africa we only accept projects that will have a social or environmental impact.'%}
                                </p>
                            </div>
                        </div>
                    {{/if}}
                </div>

            {{#if questionThreePassed}}
                <div class="quiz-result is-active">
                    <div class="quiz-content">
                        <a {{action 'answer' 'questionThree' null}} class="close-question"></a>
                        <div class="quiz-img">
                            <span></span>
                        </div>
                        <div class="quiz-text">
                            <div class="quiz-heading">
                                <h1>{% trans 'Come run with the cheetahs'%}</h1>
                                <h2>{% trans 'You’re the perfect fit for the Cheetah Fund!'%}</h2>
                                <div class="btn-group">
                                    <a class="btn">
                                        {% trans 'Start a Cheetah Campaign (closed)'%}
                                    </a>
                                    <a href="{% static "images/cheetah/crowdfunding-toolkit.pdf" %}" target="_blank" class="btn btn-trans">{% trans 'Download Crowdfunding Toolkit'%}</a></li>
                                    <a {{action 'goTo' '#cheetah-get-funded'}} class="btn btn-trans">{% trans 'Learn more'%}</a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}

            </div>

        </div>
    </div>
{% endtplhandlebars %}


