{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah_quiz" %}
    <div class="l-section" id="cheetah-quiz">

        <div class="l-wrapper">
            <div class="row">
                <div class="quiz-heading">
                    <h1>Who Can Join?</h1>
                    <h2 class="sub-heading">Take the test to see if you’re a Cheetah!</h2>
                </div>
            </div>
            <div class="row quiz-blocks">
                <div class="col4 block is-active">
                    {{#if questionOnePassed}}
                        <div class="front is-answer">
                            <div class="quiz-content">
                                <p>
                                    Are you an African pioneer with a project based in Africa?
                                </p>
                                <span class="question-correct"></span>
                            </div>
                        </div>
                {{else}}
                    {{#if questionOneFailed}}
                        <div class="front is-answer">
                            <div class="quiz-content">
                                <a {{action 'answer' 'questionOne' null}} class="close-question"></a>
                                <p>
                                    Don’t worry!
                                    Unfortunately the Cheetah Fund 2014 only accepts projects based in Africa by African pioneers. But don’t worry, you can always <a href="#">start a campaign 
                                    at 1%Club</a>.
                                </p>
                            </div>
                        </div>
                    {{else}}
                        <div class="front">
                            <div class="quiz-content is-active">
                                <p>
                                    Are you an African pioneer with a project based in Africa?
                                </p>
                                <div class="quiz-answers">
                                    <span {{action 'answer' 'questionOne' 'yes'}} class="yes">Yes</span>
                                    <span {{action 'answer' 'questionOne' 'no'}} class="no">No</span>
                                </div>  
                            </div>
                        </div>
                    {{/if}}
                {{/if}}
                </div>

                <div class="col4 block">
                {{#if questionOnePassed}}
                        {{#if questionTwoPassed}}
                            <div class="front is-answer">
                                <div class="quiz-content">
                                    <p>
                                        How much funding do you need to kickstart your project?
                                    </p>
                                    <span class="question-correct"></span>
                                </div>
                            </div>
                        {{else}}
                            {{#if questionTwoFailed}}
                                <div class="front is-answer">
                                    <div class="quiz-content">
                                        <a {{action 'answer' 'questionTwo' null}} class="close-question"></a>
                                        <p>
                                            This is just wrong!
                                        </p>
                                    </div>
                                </div>
                            {{else}}
                                <div class="front is-active">
                                    <div class="quiz-content is-active">
                                        <a class="questionmark"></a>
                                        <p>
                                             How much funding do you need to kickstart your project? <br/>(in euros)
                                        </p>
                                        <label for="input">
                                            {{view Em.TextField valueBinding='answerTwo' autofocus="autofocus"}}
                                        </label>
                                        <a {{action 'answer' 'questionTwo' answerTwo}}>Send</a>
                                    </div>
                                </div>
                            {{/if}}
                        {{/if}}
                    {{else}}
                        <div class="front is-inactive">
                            <div class="quiz-content">
                                <a class="questionmark"></a>
                                <p>
                                    How much funding do you need to kickstart your project? <br/>(in euros)
                                </p>
                                <label for="input">
                                    {{view Em.TextField valueBinding='answerTwo' disabled='true'}}
                                </label>
                                <a {{action 'answer' 'questionTwo' answerTwo}}>Send</a>
                            </div>
                        </div>
                    {{/if}}
                </div>

                <div class="col4 block">
                    {{#if questionTwoPassed}}
                        {{#if questionThreePassed}}
                            <div class="front is-answer">
                                <div class="quiz-content">
                                    <p>
                                        Does your project have social or environmental impact?
                                    </p>
                                    <span class="question-correct"></span>
                                </div>
                            </div>
                        {{else}}
                            {{#if questionThreeFailed}}
                                <div class="front is-answer">
                                    <div class="quiz-content">
                                        <a {{action 'answer' 'questionThree' null}} class="close-question"></a>
                                        <p>
                                            This is just wrong!
                                        </p>
                                    </div>
                                </div>
                            {{else}}
                                <div class="front is-active">
                                    <div class="quiz-content is-active">
                                        <a {{action 'answer' 'questionOne' null}} class="questionmark"></a>
                                        <p>
                                            Does your project have social or environmental impact?
                                        </p>
                                        <div class="quiz-answers">
                                            <span {{action 'answer' 'questionThree' 'yes'}} class="yes">Yes</span>
                                            <span {{action 'answer' 'questionThree' 'no'}} class="no">No</span>
                                        </div>  
                                    </div>
                                </div>
                            {{/if}}
                        {{/if}}
                    {{else}}
                        <div class="front is-inactive">
                            <div class="quiz-content">
                                <a {{action 'answer' 'questionOne' null}} class="questionmark"></a>
                                <p>
                                    Does your project have social or environmental impact?
                                </p>
                                <div class="quiz-answers">
                                    <span class="yes">Yes</span>
                                    <span class="no">No</span>
                                </div>  
                            </div>
                        </div>
                    {{/if}}
                </div>

            {{#if questionThreePassed}}
                <div class="quiz-result">
                    <div class="quiz-content">
                        <a {{action 'answer' 'questionThree' null}} class="close-question"></a>
                        <div class="quiz-img">
                            <span></span>
                        </div>
                        <div class="quiz-text">
                            <div class="quiz-heading">
                                <h1>Come Run with the Cheetahs!</h1>
                                <h2>You’re the perfect fit for the Cheetah Fund!</h2>
                                <div class="btn-group">
                                    {{#link-to 'myPartnerProject' 'cheetah' classNames='btn'}}Start a Cheetah Campaign!{{/link-to}}
                                    {{#link-to 'myPartnerProject' 'cheetah' classNames='btn btn-trans'}}Learn more{{/link-to}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}

            </div>

        </div>
    </div>
{% endtplhandlebars %}


