{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "cheetah/detail/project_preview" %}
    <li class="campaign-item">
        <a {{action goToFavouriteProject project.id}} class="campaign-item-holder">
            <span {{bindAttr class="id:"}}></span>
            <header class="header">
                <img {{bindAttr src=project.image}} />
            </header>
            <span class="profile-photo">
                <img {{bindAttr src=project.owner.getAvatar}} />
            </span>
            <div class="campaign-body">
                <p>
                    <span class="profile-name">
                        {{project.owner.first_name}} {% trans 'runs a Cheetah campaign' %}
                    </span>
                    <span class="campaign-body-names">
                        {{project.title}}, {{project.country.name}}
                    </span>
                </p>
            </div>

            <div class="campaign-footer">
                {{#if project.isStatusCampaign}}
                    {{partial 'cheetah/detail/project_cheetah_funded'}}
                    {{#if project.isSupportable}}
                            {{cheetah-progressbar targetValue=project.amount_asked currentValue=project.amount_donated class="campaign-fund-amount-slider"}}
                    {{else}}
                        <div class="expired">
                            {{cheetah-progressbar targetValue=project.amount_asked currentValue=project.amount_donated class="campaign-fund-amount-slider"}}
                        </div>
                    {{/if}}
                    <div class="campaign-fund-amount">
                        <span class="amount-raised"><strong>&euro; {{project.amount_donated}} </strong>{% trans "raised" context "Slider project frontpage" %}</span>
                        {{#if project.isSupportable}}
                            <span class="days-left"><strong>{{project.daysToGo}} </strong>{% trans "days left" context "Slider project frontpage" %}</span>
                        {{else}}
                            <div class="expired">
                                <span class="days-left">{% trans "deadline passed" %}</span>
                            </div>
                        {{/if}}
                    </div>
                {{else}}
                    {{#if project.isStatusCompleted}}                        
                            {{#if project.isCheetahFunded}}
                                <div class="cheetah-fully-funded">
                                    {{cheetah-progressbar targetValue=project.amount_asked currentValue=project.amount_asked class="campaign-fund-amount-slider"}}
                                 </div>   

                                 <div class="campaign-fund-amount">
                                    <span class="fully-funded"><strong>&euro; {{project.cheetahAmount}} {% trans 'will be Cheetah funded!' %}</strong></span>
                                </div>
                                {{else}}
                                <div class="cheetah-fully-funded">
                                    {{bb-progressbar targetValue=project.amount_asked currentValue=project.amount_donated class="campaign-fund-amount-slider "}}
                                </div>
                                <div class="campaign-fund-amount">
                                    <span class="fully-funded"><strong>&euro; {{project.amount_donated}} {% trans 'fully funded!' %}</strong></span>
                                </div>
                            {{/if}}   
                    {{else}}
                        {{partial 'cheetah/detail/project_cheetah_funded'}}
                        <div class="campaign-fund-amount">
                                <div class="expired">
                                  {{cheetah-progressbar targetValue=project.amount_asked currentValue=project.amount_donated class="campaign-fund-amount-slider"}}
                                </div>
                                {{#if project.overDeadline}}
                                    <div class="expired">
                                        <span class="days-left">{% trans "deadline passed" %}</span>
                                    </div>
                                {{else}}
                                    <span class="days-left"><strong>{{project.daysToGo}} </strong>{% trans "days left" context "Slider project frontpage" %}</span>
                                {{/if}}
                        </div>
                    {{/if}}
                {{/if}}
            </div>
            <div class="campaign-hover">
                <p class="campaign-hover-head">
                    <strong>{{project.title}}</strong>
                </p>
                <p class="campaign-hover-body">
                    <span>
                        {{project.pitch}}
                    </span>
                </p>
                <p class="campaign-hover-footer">
                    <span class="go-to-campaign">
                        {% trans "Go to campaign" %}
                    </span>
                </p>
            </div>
        </a>
    </li>
{% endtplhandlebars %}