{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "home_banner" %}

    <div class="l-section home-carousel">
        <section class="carousel default" {{bindAttr style=view.backgroundStyle}}>
            <ul>
                {{#each slide in slides}}
                    {{#if slide.video_url}}
                        {{partial "slides_video"}}
                    {{else}}
                        {{partial "slides_default"}}
                    {{/if}}

                {{/each}}
            </ul>
            <div class="home-carousel-nav">
                {{#each slide in slides}}
                    <span {{bindAttr class=":carousel-nav-item slide.isFirst:is-active"}}></span>
                {{/each}}
            </div>
        </section>
    </div>

{% endtplhandlebars %}

