{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "home_campaign_done_block" %}

    <div class="l-section campaign-results" id="home-crazy-campaign-header">
        <section class="l-wrapper">

            <div class="l-half">
                <div class="video"><iframe src="//player.vimeo.com/video/82076214?title=0&amp;byline=0&amp;portrait=0&amp;color=ff619a" width="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe></div>
            </div>

            <div class="campaign-description">

                <div class="project-fund">
                    <p class="project-fund-amount">
                        <strong class="amount-donated">&euro;{{localize campaign.amount_donated}}</strong>
                        {% trans "fund-raced" %}
                    </p>
                    {{bb-progressbar class="project-fund-amount-slider" totalValue=campaign.target currentValue=campaign.amount_donated}}
                </div>

                <div class="campaign-result-fundracers">
                	<strong><span class="flaticon solid trophy-1"></span><em>{{finishedFundraiserCount}}</em></strong>
                	<em>{%trans "Fund-racers finished" %}!</em>
                </div>

                <div class="campaign-result-projects">
                	<strong><span class="flaticon solid trophy-1"></span><em>{{finishedFundraiserCount}}</em></strong>
                	<em>{%trans "Projects fully funded" %}!</em>
                </div>


                <p class="crazy-campaign-intro">
                    <p>{% trans "The Crazy Campaign Days: 20 teams funding 18 world-changing projects within 5 days. Totally crazy! Thank you!" %}</p>
                    <a {{action 'scrollToFundraisers' }} class="crazy-campaign-pick">{% trans "Can't get enough? Pick a fund-racer" %}</a>
                </p>
            </div>

        </section>
    </div>

{% endtplhandlebars %}

{% tplhandlebars "home_campaign_livestream_block" %}

    <div class="l-section" id="home-crazy-campaign-header">
        <section class="l-wrapper">
        
            <div class="livestream">
                <!--<object type="image/svg+xml" data="{% static "images/campaigns/crazy-campaign-days-2013.svg" %}"></object>-->
                <iframe width="640" height="385" src="https://cdn.livestream.com/embed/1percentclub?layout=4&color=0x00b319&autoPlay=false&mute=false&iconColorOver=0xffffff&iconColor=0xe4f9e6&allowchat=true&height=385&width=640" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
            </div>
            
            <div class="campaign-description">
            
                <div class="project-fund">
                    <p class="project-fund-amount">
                        <strong class="amount-donated">&euro;{{localize campaign.amount_donated}}</strong> 
                        {% trans "fund-raced" %}
                    </p>
                    {{bb-progressbar class="project-fund-amount-slider" totalValue=campaign.target currentValue=campaign.amount_donated}}
                </div>
                
                {# timer {{campaign.start}} - {{campaign.end}} #}
                <div class="crazy-campaign-countdown">
                    <div id="countdown">
                        <span class="digit">{h100}</span>
                        <span class="digit">{h10}</span>
                        <span class="digit">{h1}</span>
                        <span class="digit-sep">:</span>
                        <span class="digit">{m10}</span>
                        <span class="digit">{m1}</span>
                        <span class="digit-sep">:</span>
                        <span class="digit">{s10}</span>
                        <span class="digit">{s1}</span>
                    </div>
                    <div id="countdown-labels">
                    	<span class="countdown-label-hours">{% trans "Hours" %}</span>
                    	<span class="countdown-label-minutes">{% trans "Minutes" %}</span>
                    	<span class="countdown-label-seconds">{% trans "Seconds" %}</span>
                    </div>
                </div>

                <p class="crazy-campaign-intro">
                    <p>{% trans "The Crazy Campaign Days: 20 teams who will fund 20 world-changing projects within 5 days. Totally crazy!" %}</p>
                    <a {{action 'scrollToFundraisers' }} class="crazy-campaign-pick">{% trans "Pick a crazy fund-racer and support" %}</a>
                </p>
            </div>

        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "home_campaign_block" %}

    <div class="l-section" id="home-crazy-campaign-header">
        <section class="l-wrapper">
        
            <div class="campaign-image">
                <object type="image/svg+xml" data="{% static "images/campaigns/crazy-campaign-days-2013.svg" %}"></object>
            </div>
            
            <div class="campaign-description">
            
                <div class="project-fund">
                    <p class="project-fund-amount">
                        <strong class="amount-donated">&euro;{{localize campaign.amount_donated}}</strong> 
                        {% trans "fund-raced" %}
                    </p>
                    {{bb-progressbar class="project-fund-amount-slider" totalValue=campaign.target currentValue=campaign.amount_donated}}
                </div>
                
                {# timer {{campaign.start}} - {{campaign.end}} #}
                <div class="crazy-campaign-countdown">
                    <div id="countdown">
                        <span class="digit">{h100}</span> 
                        <span class="digit">{h10}</span> 
                        <span class="digit">{h1}</span> 
                        <span class="digit-sep">:</span> 
                        <span class="digit">{m10}</span> 
                        <span class="digit">{m1}</span> 
                        <span class="digit-sep">:</span> 
                        <span class="digit">{s10}</span> 
                        <span class="digit">{s1}</span> 
                    </div>
                    <div id="countdown-labels">
                    	<span class="countdown-label-hours">{% trans "Hours" %}</span>
                    	<span class="countdown-label-minutes">{% trans "Minutes" %}</span>
                    	<span class="countdown-label-seconds">{% trans "Seconds" %}</span>
                    </div>
                </div>
        
                <p class="crazy-campaign-intro">
                    <p>{% trans " The Crazy Campaign Days: 20 teams who will fund 20 world-changing projects within 5 days. Totally crazy!" %}</p>
                    <a {{action 'scrollToFundraisers' }} class="crazy-campaign-pick">{% trans "Pick a crazy fund-racer and support" %}</a>
                </p>
            </div>
             
        </section>
    </div>

{% endtplhandlebars %}
