{% load bb_ember %}
{% load i18n %}
{% load static %}


{% tplhandlebars "home_fundraisers" %}

    <div class="l-section" id="home-crazy-campaign-fundraisers">
        <section class="l-wrapper">

            <div class="l-full">
                <header class="section-header">
            	    <h1>{% trans "Our crazy fund-racers" %}</h1>
            	    <p>{% trans "Pick your favourite crazy fund-racer and support a world-changing project!" %}</p>
                </header>
                <ul id="fundraiser-results">
                    {{#each fundraisers}}

                        <li {{bind-attr class="is_funded:fully-funded :project-item" }}>
                            {{#linkTo 'fundraiser' this}}
                                {{#if is_funded }}
                                    <span class="is-funded">
                                        {% trans "Fully funded by" %} {{owner.full_name}} {% trans "and supporters." %}
                                    </span>
                                {{/if}}

                                <span class="project-header">

                                    <figure class="project-image">
                                        <img {{bindAttr src="image.small" }} />
                                    </figure>

                                    <span class="project-title">
                                        <h3>{{title}}</h3>
                                    </span>
                                </span>

                                <span class="project-status">

                                    {{bb-progressbar class="project-fund-amount-slider" totalValue=amount currentValue=amount_donated}}
                                    <span class="project-fund-amount">
                                        {{#if is_funded }}
                                            <em>{% trans "Fully funded with" %}</em> <strong>&euro;{{localize amount_donated}}</strong>
                                        {{else}}
                                            <strong>&euro;{{localize amount_needed}}</strong> <em>{% trans "To go" %}</em>
                                        {{/if}}
                                    </span>

                                    {{#unless is_funded }}
                                    {{#if deadline }}
                                        <span class="project-days-left"><span class="flaticon solid clock-1"></span> <strong>{{daysToGo}}</strong> <em>{% trans "days" %}</em></span>
                                    {{/if}}
                                    {{/unless}}

                                </span>
                            {{/linkTo}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
    </div>

{% endtplhandlebars %}
