{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "home_project_list" %}

    <div class="l-section" id="campaigns">
        <div class="l-wrapper">
            <header class="section-header more-space">
                <h2>{% trans "Some of our favourite campaigns" %}</h2>
                {{#link-to 'projectList' class="all-campaigns"}}{% trans 'Browse all campaigns' %}{{/link-to}}
            </header>
            <ul class="campaign-container">
                <div class="row">
                    {{#each project in projects}}
                        <div class="col4">
                            <li class="campaign-item">
                                <a {{action goToFavouriteProject project.id}} class="campaign-item-holder">
                                    <header class="header">
                                        <img {{bindAttr src=project.image}} />
                                    </header>
                                    <span class="profile-photo">
                                        <img {{bindAttr src=project.owner.getAvatar}} />
                                    </span>
                                    <div class="campaign-body">
                                        <p>
                                            <span class="profile-name">
                                                <strong>{{project.owner.full_name}}</strong> {% trans 'campaigns for' %}
                                            </span>
                                            <span class="campaign-body-names">
                                                {{project.title}}
                                            </span>
                                        </p>
                                    </div>

                                    <div class="campaign-footer">
                                        {{#if project.isStatusCampaign}}
                                            {{#if project.isSupportable}}
                                                    {{bb-progressbar targetValue=project.amount_asked currentValue=project.amount_donated class="campaign-fund-amount-slider"}}
                                            {{else}}
                                                <div class="expired">
                                                    {{bb-progressbar targetValue=project.amount_asked currentValue=project.amount_donated class="campaign-fund-amount-slider"}}
                                                </div>
                                            {{/if}}
                                            <div {{bind-attr class=":campaign-fund-amount project.isSupportable::expired"}}>
                                                <span class="amount-raised"><strong>&euro; {{localize project.amount_donated}} </strong>{% trans "raised" context "Slider project frontpage" %}</span>
                                                {{#if project.isSupportable}}
                                                    <span class="days-left"><strong>{{project.daysToGo}} </strong>{% trans "days left" context "Slider project frontpage" %}</span>
                                                {{else}}
                                                    <div class="expired">
                                                        <span class="days-left">{% trans "deadline passed" %}</span>
                                                    </div>
                                                {{/if}}
                                            </div>
                                        {{else}}
                                            {{#if project.isStatusCompleted}}
                                                <p class="campaign-fund-amount-slider is-funded"><strong style="width: 100%; overflow: hidden;" class="slider-progress is-in-progress"><em class="slider-percentage"></em></strong></p>
                                                <div class="campaign-fund-amount">
                                                    <span class="fully-funded"><strong>&euro; {{localize project.amount_donated}} {% trans 'raised' %}</strong></span>
                                                </div>
                                            {{else}}
                                                <div {{bind-attr class=":campaign-fund-amount project.isSupportable::expired"}}>
                                                    {{bb-progressbar targetValue=project.amount_asked currentValue=project.amount_donated class="campaign-fund-amount-slider"}}
                                                    <span class="amount-raised"><strong>&euro; {{localize project.amount_donated}} </strong>{% trans "raised" context "Slider project frontpage" %}</span>
                                                    {{#if project.overDeadline}}
                                                        <div class="expired">
                                                            <span class="days-left">{% trans "deadline passed" %}</span>
                                                        </div>
                                                    {{else}}
                                                        <span class="days-left"><strong>{{project.daysToGo}} </strong>{% trans "days left" context "Slider project frontpage" %}</span>
                                                    {{/if}}
                                                </div>
                                            {{/if}}
                                        {{/if}}
                                    </div>
                                    <div class="campaign-hover">
                                        <p class="campaign-hover-head">
                                            <strong>{{project.title}}</strong>
                                        </p>
                                        <p class="campaign-hover-body">
                                            <span>
                                                {{project.pitch}}
                                            </span>
                                        </p>
                                        <p class="campaign-hover-footer">
                                            <span class="go-to-campaign">
                                            	{% trans "Go to campaign" %}
                                            </span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </div>
                    {{/each}}
                </div>
            </ul>
        </div>
    </div>

{% endtplhandlebars %}

