{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "home_project_list" %}

<div class="l-section home-projects">
	<section class="l-wrapper">

		<div class="project-slider l-full" style="overflow: hidden">

            {% block_verbatim header_text %}
			<header class="section-header">
				<h2>{% trans "Choose your project" %}</h2>
				<p>{% trans "Support it with your time, knowledge or money and receive real-time updates." %}</p>
			</header>
		    {% endblock_verbatim %}

			<div class="project-slides" style="width: 20000px">
				{{#each projects}}
				<div class="project-preview" style="width: 1100px; float: left">

					<figure class="project-image">
						<img {{bindAttr src="image" alt="name"}} />
					</figure>

					<article class="project-info">
						<div class="project-meta">
							<span class="project-location">
								<span class="flaticon solid location-pin-1"></span>
								{{country.name}}
							</span>
							<span class="project-theme">
								<span class="flaticon solid tag-1"></span>
								{{theme.name}}
							</span>
						</div>

						<h2 class="project-title">
							{{#linkTo 'project' id }}
							{{title}}
							{{/linkTo}}
						</h2>
						<p class="project-description">{{pitch}}</p>

						<div class="project-action">
							{{#link-to 'project' id class="btn btn-primary btn-iconed"}}
							<span class="flaticon solid wallet-1"></span> {% trans "View project" %}
							{{/link-to}}
						</div>
					</article>

				</div>
				{{/each}}
			</div>

			<span {{action prevProject}} class="project-slider-prev">{% trans "Previous project" %}</span>
			<span {{action nextProject}} class="project-slider-next">{% trans "Next project" %}</span>

		</div>
	</section>
</div>

{% endtplhandlebars %}

