{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "home" %}

    <div id="home">
        {{view App.HomeBannerView }}

		{{#if projects}}
            {{view App.HomeProjectListView }}
		{{/if}}

        {{#if impact }}
            {{view App.HomeImpactView }}
        {{/if }}

        <div class="l-section tools-container">
            <div class="l-wrapper">
                <div class="row">
                    <div class="col4">
                        <div class="tools first-item">
                            <div class="tools-icon"><object type="image/svg+xml" data="/static/assets/images/img/illustrations/illustration-idea.svg" class="tools-icon-image"></object></div>
                            <strong class="tools-header">{% trans "We are the do-good crowdfunding platform" %}</strong>
                            <div class="tools-content">
                                {% blocktrans %}We empower people with great ideas
                                to create positive change in their
                                community, city, country – or in the
                                world.{% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="tools second-item">
                            <div class="tools-icon"><object type="image/svg+xml" data="/static/assets/images/img/illustrations/illustration-crowdfund.svg" class="tools-icon-image"></object></div>
                            <strong class="tools-header">{% trans "We have the fundraising tools to activate your network" %}</strong>
                            <div class="tools-content">
                                {% blocktrans %}We enable you to raise funds and
                                kick-start your initiative via your own
                                network. We take care of
                                administration and make sure you
                                can eﬀectively share your campaign
                                with your network.{% endblocktrans %}
                            </div>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="tools third-item">
                            <div class="tools-icon"><object type="image/svg+xml" data="/static/assets/images/img/illustrations/illustration-best-friend.svg" class="tools-icon-image"></object></div>
                            <strong class="tools-header">{% trans "We are your best friend in online campaining" %}</strong>
                            <div class="tools-content">
                                {% blocktrans %}We make campaigning for a better
                                world the most simple and rewarding
                                experience possible. We share our
                                expertise and if you need help: we’re
                                just a phone call or email away{% endblocktrans %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col12">
                        <div class="tools-btn">
                            {{#link-to 'page' 'start-campaign' classNames='btn'}}{% trans "Start a campaign" %}{{/link-to}}
                        </div>
                        <div class="tools-rocket">
                            <object type="image/svg+xml" data="/static/assets/images/img/illustrations/illustration-rocket.svg"></object>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{#if quotes }}
            {{view App.HomeQuotesView }}
        {{/if }}

        {{view App.HomeBusinessView}}

    </div>

{% endtplhandlebars %}
