{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "home" %}

    <div id="home">
        {{#if slides }}
            {{view App.SlideListView }}
        {{else}}
            No slides
        {{/if }}

		{{#if projects}}
            {{view App.HomeProjectListView }}
		{{else}}
			No Projects
		{{/if}}


        {{#if quotes }}
            {{#each quote in quotes}}
                {{view App.QuoteListView }}
            {{/each}}
        {{else}}
            No quotes
        {{/if }}

        {{#if impact }}
            {{view App.HomeImpactView }}
        {{/if }}
    </div>

{% endtplhandlebars %}
