{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "home_project" %}

    <div class="l-section home-projects">
        <section class="l-wrapper">

            <div class="project-slider l-full">

	        	<header class="section-header">
	            	<h1>{% trans "Choose your project" %}</h1>
					<p>{% trans "Support it with your time, knowledge or money and receive real-time updates." %}</p>
	        	</header>

                <div class="project-preview">

                    <figure class="image l-half">
                        <img {{bindAttr src="project.plan.image.large" }} width="100%" alt="Project Photo" />
                    </figure>

                    <article class="project-info l-half">
                        <div class="project-meta">
		                    <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{project.plan.country.name}}</span>
		                    <span class="project-theme"><span class="flaticon solid tag-1"></span> {{project.plan.theme.title}}</span>
		                </div>

                        <h2 class="project-title">{{#linkTo 'project' project.getProject }}{{project.title}}{{/linkTo}}</h2>
                        <p class="project-description">{{project.plan.pitch}}</p>
                    </article>

                    <div class="project-status l-full">

                        {{#if project.campaign.deadline}}
                        <div class="project-days-left l-one-third">
    						<strong><span class="flaticon solid clock-1"></span> {{project.campaign.daysToGo}}</strong>
    						<em>{% trans "days to go" %}</em>
    					</div>
    					{{/if}}

    					<div class="project-fund l-one-third">
                            <p class="project-fund-amount">
                                <strong class="amount-donated">&euro;{{localize project.campaign.money_donated}}</strong>
                                {% trans "of" %}
                                <strong class="amount-asked">&euro;{{localize project.campaign.money_asked}}</strong>
                                {% trans "raised" %}
                            </p>

                            <div class="project-fund-amount-slider"><strong style="width: 0%;" class="slider-progress is-in-progress"><em class="slider-percentage">0%</em></strong></div>
    					</div>

                        <div class="project-action l-one-third">
    					    <a href='#' {{ action 'addDonation' project }} class="btn btn-primary btn-iconed"><span class="flaticon solid wallet-1"></span> {% trans "Support" %}</a>
                        </div>

					</div>
                </div>

                <span {{action previousProject}} class="project-slider-prev">{% trans "Previous project" %}</span>
                <span {{action nextProject}} class="project-slider-next">{% trans "Next project" %}</span>

            </div>
        </section>
    </div>

{% endtplhandlebars %}
