{% load i18n bb_ember %}

{% tplhandlebars "_social_logins" %}

    {{#if App.FBUser}}
       {{#if currentUser.isAuthenticated }}
       {{else }}
            {{#view Em.FBView type="login-button" data-size="xlarge" data-scope="email, offline_access"}}
                <span class="flaticon social facebook-1"></span>{% trans "Sign in with Facebook" %}
            {{/view}}
       {{/if}}
      <div>
        <img {{bindAttr src="App.FBUser.picture" alt="App.FBUser.name"}} />
        {{App.FBUser.name}}
        <a href="#" {{action "logout" target="FB"}}>Logout</a>
      </div>
    {{else}}
            {{#view Em.FBView type="login-button" data-size="xlarge" data-scope="email, offline_access"}}
                    <span class="flaticon social facebook-1"></span>{% trans "Sign in with Facebook" %}
            {{/view}}
    {{/if}}
    <div class="or-hr">
        <div class="first"></div>
        <div class="middle">{% trans "or" %}</div>
        <div class="last"></div>
    </div>

{% endtplhandlebars %}