{% extends "bb_accounts:bb_accounts/nav.hbs" %}
{% load bb_ember i18n %}


{% block_verbatim profile_anchor %}
    <a href="#" class="nav-member-dropdown">
    	{{#if controllers.currentOrder.donations.length }}
    	<span class="my-notifications">{{ controllers.currentOrder.donations.length }}</span>
    	{{/if}}
        <img {{bindAttr src="currentUser.getAvatar"}} width="40" height="40" alt="Avatar" />
        <strong>
            {% blocktrans %}My 1%{% endblocktrans %}
        </strong>
    </a>
{% endblock_verbatim profile_anchor %}

{% block_verbatim anonymous_user %}

    <li class="nav-signup-login">
        <a {{action 'openInBox' 'signup'}} class="nav-signup"}}>{% trans "Sign up" %}</a>
        <a {{action 'openInBox' "login"}} class="nav-login">{%  trans "Log in" %}</a>
    </li>
    <li class="nav-switch-language">
        {{view "App.LanguageSwitchView"}}
    </li>
{% endblock_verbatim anonymous_user %}
