{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "my_project" %}
    <div class="l-section" id="project-dashboard">
        <article id="campaign-create">

            <header class="campaign-header l-section">

                <div class="l-wrapper">

					<h1 class="page-title">
						{% trans "My projects"%} <small>&rsaquo; {{ title }}</small>
					</h1>

                    {{#if partner}}
                        <h3>{{partner.name}}</h3>
                    {{/if}}

                    <div class="page-actions">
                        {{#if isPhasePlanNew}}
                            {{#if canPreview}}
                                <a class="btn btn-modest campaign-preview-button" {{action openInFullScreenBox "projectPlan" this.model}}>
                                    <span class="flaticon solid eye-1"></span>
                                    {% trans 'Preview' %}
                                </a>
                            {{/if}}
                        {{else}}

                            {{#if id}}
                                {{#link-to "project" id class="btn btn-modest campaign-link-button"}}
                                <span class="flaticon solid eye-1"></span>
                                {% trans 'Go to campaign' %}
                                {{/link-to}}
                            {{/if}}

                        {{/if}}

                    </div>
                    <ul id="campaign-steps" {{bind-attr class=":tabs isPhasePlanNew:steps"}}>
                        <li>
                            {{#link-to "myProject.pitch" classBinding=":tab-link validPitch:validated"}}
                                {{#if validPitch}}
                                    {{#if isPhasePlanNew}}<span class="flaticon solid checkmark-1"></span>{{/if}}
                                {{else}}
                                	<span class="flaticon"></span>
                                {{/if}}
                                {% trans "Project" %}
                            {{/link-to}}
                        </li>

                        <li>
                            {{#link-to "myProject.goal" classBinding=":tab-link validGoal:validated"}}
                                {{#if validGoal}}
                                    {{#if isPhasePlanNew}}<span class="flaticon solid checkmark-1"></span>{{/if}}
                                {{else}}
                                	<span class="flaticon"></span>
                                {{/if}}
                                {% trans "Goal" %}
                            {{/link-to}}
                        </li>

                        <li>
                            {{#link-to "myProject.story" classBinding=":tab-link validStory:validated"}}
                                {{#if validStory}}
                                    {{#if isPhasePlanNew}}<span class="flaticon solid checkmark-1"></span>{{/if}}
                                {{else}}
                                	<span class="flaticon"></span>
                                {{/if}}
                                {% trans "Description" %}
                            {{/link-to}}
                        </li>

                        <li>
                            {{#link-to "myProject.organisation" classBinding=":tab-link validOrganization:validated"}}
                                {{#if validOrganization}}
                                    {{#if isPhasePlanNew}}<span class="flaticon solid checkmark-1"></span>{{/if}}
                                {{else}}
                                	<span class="flaticon"></span>
                                {{/if}}
                                {% trans "Details" context "Campaign Create Details" %}
                            {{/link-to}}
                        </li>

                        <li>
                            {{#link-to "myProject.bank" classBinding=":tab-link organization.validBank:validated"}}
                                {{#if organization.validBank}}
                                    {{#if isPhasePlanNew}}<span class="flaticon solid checkmark-1"></span>{{/if}}
                                {{else}}
                                	<span class="flaticon"></span>
                                {{/if}}
                                {% trans "Bank" %}
                            {{/link-to}}
                        </li>

                        {{#if this.controller.isSubmittable}}
                            <li>
                                {{#link-to "myProject.submit" classBinding=":tab-link validSubmit:validated"}}
                                    {{#if validsubmit}}
                                        <span class="flaticon solid checkmark-1"></span>
                                    {{else}}
                                		<span class="flaticon"></span>
									{{/if}}
                                    {% trans "Submit" %}
                                {{/link-to}}
                            </li>
                        {{/if}}
                    </ul>
                </div>
			</header>

            <section class="l-section">
                <div class="l-wrapper">
                    <div class="l-content">
                        <form>
                            {{outlet}}
                        </form>
                    </div>
                    {{ partial '_my_project_sidebar' }}

                    {{#if tabBudget}}
                        {{ partial '_my_project_sidebar_budget' }}
                    {{/if}}
                    {{#if tabPitch}}
                        {{ partial '_my_project_sidebar_pitch' }}
                    {{/if}}
                    {{#if tabStory}}
                        {{ partial '_my_project_sidebar_story' }}
                    {{/if}}
                    {{#if tabOrg}}
                        {{ partial '_my_project_sidebar_organization' }}
                    {{/if}}
                    {{#if tabBank}}
                        {{ partial '_my_project_sidebar_bank' }}
                    {{/if}}
                </div>
            </section>


        </article>

    </div>

{% endtplhandlebars %}

