{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "slides_default" %}

    <li {{bind-attr class=":carousel-item slide.style" style="slide.backgroundStyle"}}>
        <div class="home-carousel-content">
            <h1>{{slide.title}}</h1>
            <p>{{{slide.body}}}</p>
        </div>
        {{#if slide.link_text}}
            <div class="home-carousel-btn">
                <a {{bindAttr href=slide.link_url class=':btn'}}>
                    {{slide.link_text}}
                </a>
            </div>
        {{/if}}
    </li>

{% endtplhandlebars %}

