{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% language "en" %}
{# Force all these pages to english #}

{% tplhandlebars "_my_fundraiser_top" %}
    <div class="l-section account-header">
        <nav class="l-wrapper">

            <figure class="account-avatar"><img {{bindAttr src="controllers.currentUser.getAvatar"}} /></figure>

            <header class="account-title">
                <h2>{% trans "My 1%" %} <em class="account-subtitle">{% trans "Fundraisers" %}</em></h2>
            </header>

            {{#if id}}
                {{#if title}}
                    {{#linkTo 'fundRaiser' this class="account-preview btn-link"}}
                        <span class="flaticon solid eye-1"></span>
                        {% trans "Back to fundraiser" %}
                    {{/linkTo}}
                {{/if}}
            {{/if}}
        </nav>
    </div>
{% endtplhandlebars %}

{% tplhandlebars "fundraiser_form" %}

    <fieldset>
        <ul>
            {% include "generic/form_field.html" with title="Title" placeholder="Title describes your fundraiser action in short" field_type="Em.TextField" field_name="title" %}

            {% include "generic/form_field.html" with title="Description" placeholder="Tell a little more about your fundraise action" field_type="Em.TextArea" field_name="description" %}
        </ul>
    </fieldset>

    <fieldset>
        <ul>
            {% include "generic/form_imagefield.html" with title="Image" field_name="image" help_text="Minimal of 800px wide" %}

            {% include "generic/form_field.html" with title="Video" placeholder="http://" field_type="Em.TextField" field_name="video_url" help_text="Youtube or Vimeo link" %}
        </ul>
    </fieldset>

    <fieldset>
    	<legend>
        	<strong>{% trans "Amount & deadline" %}</strong>
			<p>{% trans "Be realistic and...show ambition!" %}</p>
    	</legend>
        <ul>
            {% include "generic/form_field.html" with title="Amount to raise" placeholder="&euro;" field_type="Em.TextField" field_name="amount" %}

            {% include "generic/form_field.html" with title="Deadline" placeholder="" field_type="App.FundRaiserDeadLineDatePicker" field_name="deadline" %}
        </ul>
    </fieldset>
{% endtplhandlebars %}

{% tplhandlebars "fundraiser_new" %}

    <div class="l-section" id="project-dashboard">

        {{partial "my_fundraiser_top"}}

        <div class="l-wrapper">
            <div class="l-content">
                {{#if controllers.currentUser.isAuthenticated}}
                    <header class="l-page-header">
                        <h1>{% trans "Yes, you can!" %}</h1>
                        <p>
                            {% blocktrans %}
                            What's your fundraising plan? Make it concrete & exciting!
                            {% endblocktrans %}
                        </p>
                    </header>

                    <form id="fundraiser-new">

                        {{partial "fundraiser_form"}}

                        <button {{bindAttr class=":btn :btn-iconed :btn-next isDirty::disabled"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Create" %}</button>

                    </form>
                {{else}}
                    <header class="l-page-header">
                        <h1>{% trans "New fundraiser" %}</h1>
                        <p>
                            {% blocktrans %}
                            You need to be logged in to start fundraising.
                            {% endblocktrans %}
                        </p>
                    </header>

                    <p class="login-signup"><a {{action openInBox "login"}}>{% trans "Login" %}</a> {% trans "or" %} {{#linkTo "signup"}}{% trans "register" %}{{/linkTo}} {% trans "to become a fundraiser." %}</p>
                {{/if}}
            </div>

            <sidebar class="l-sidebar">
                <h2>{% trans "Fundraising for project" %}</h2>
                <p>{% trans "You'll be fundraising for this project" %}</p>

                {{render "projectPreview" project}}

            </sidebar>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "fundraiser_edit" %}

    <div class="l-section" id="project-dashboard">

        {{partial "my_fundraiser_top"}}

        <div class="l-wrapper">
            <div class="l-content">
                {{#if isOwner}}
                    <header class="l-page-header">
                        <h1>{% trans "Edit fundraiser" %}</h1>
                    </header>

                    <form id="fundraiser-edit">

                        {{partial "fundraiser_form"}}

                        <button {{bindAttr class=":btn :btn-iconed :btn-next isDirty::disabled"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save" %}</button>

                    </form>
                {{else}}
                    <header class="l-page-header">
                        <h1>{% trans "Edit fundraiser" %}</h1>
                        <p>
                            {% blocktrans %}
                                You can only make a fundraiser if you are logged in and the owner of this fundraiser.
                            {% endblocktrans %}
                        </p>
                    </header>

                    <p class="login-signup"><a href="/accounts/login">{% trans "Login" %}</a> {% trans "or become a" %} {{#linkTo "signup"}}{% trans "member" %}{{/linkTo}} {% trans "to start a fundraiser." %}</p>
                {{/if}}
            </div>

            <sidebar class="l-sidebar">
                <h2>{% trans "You rock!" %}</h2>
                <p>{% trans "Because you're fundraising for this project:" %}</p>

                {{render "projectPreview" project}}

            </sidebar>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "project_fundraiser_list" %}
    <li class="project-member-fundraisers">

        <h4>{% trans "Fundraisers" %}</h4>

        {{#if fundraisers.length}}
            <ul>
                {{#each fundraiser in controller}}
                    {{render "projectFundRaiser" fundraiser}}
                {{/each}}
            </ul>
        {{/if}}
        {{#if controllers.project.isFundable}}
            {{#linkTo 'fundRaiserNew' controllers.project.id class="fundraiser-become"}}
                {% trans "Become a fundraiser" %}
            {{/linkTo}}
        {{/if}}
    </li>
{% endtplhandlebars %}


{% tplhandlebars "project_fundraiser_popup" %}

    <span id="fundraiser-detail">
        <h3>{{owner.full_name}}</h3>
        <img {{bindAttr src="image.large"}} />
        <p class="project-fund-amount">
            <strong class="amount-donated">&euro;{{localize amount_donated}}</strong>
            {% trans "of" %}
            <strong class="amount-asked">&euro;{{localize amount}}</strong>
            {% trans "raised" %}
        </p>
    </span>

{% endtplhandlebars %}


{% tplhandlebars "project_fundraiser" %}

    {{#linkTo "fundRaiser" fundraiser classNames='member'}}
        <span>
            <span class="member-avatar"><img {{bindAttr src="owner.getAvatar" alt="owner.full_name" }}/></span>
        </span>
    {{/linkTo}}

{% endtplhandlebars %}


{% tplhandlebars "fundRaiser" %}

    <div class="l-section detail" id="fundraiser-detail">
        <section class="l-wrapper">

            <div class="l-half">
                <figure class="project-image">
                    {{#if video_html}}
                        {{{video_html}}}
                    {{else}}
                        <img {{bindAttr src="image.large"}} width="100%" alt="Photo" />
                    {{/if}}
                </figure>

                <div class="fundraiser-project">
                    <figure class="fundraiser-project-image"><img {{bindAttr src="project.image"}} width="100%" alt="Photo" /></figure>

                    <div class="fundraiser-project-detail">
                        <h4>{% trans "Fundraising for" %}</h4>
                        <p>{{#linkTo 'project' project.getProject}}{{project.title}}{{/linkTo}}</p>
                    </div>
                </div>
            </div>

            <div class="l-half">

                <article class="project-info">
                    {{view App.SocialShareView}}
                    {{#if isOwner}}
                        <ul class="owner-settings">
                            <li class="owner-settings-dropdown"><span class="flaticon solid settings-2"></span>
                                <ul class="owner-settings-dropdown-menu">
                                    <li>{{#linkTo 'fundRaiserEdit' id}}{% trans "Edit Fundraiser" %}{{/linkTo}}</li>
                                    <li>{{#linkTo 'fundRaiserDonationList' id}}{% trans "View Donations" %}{{/linkTo}}</li>
                                </ul>
                            </li>
                        </ul>
                    {{/if}}
                    <h1 class="project-title">{{title}}</h1>
                    <p class="project-description">{{description}}</p>
                </article>

                <article class="fundraiser-member">

                    <figure class="member-avatar">
                        <a href='#' {{action 'openInBigBox' 'userModal' owner }} class="TODO">
                            <img {{bindAttr src="owner.getAvatar" alt="owner.full_name"}} />
                            <strong class="member-name"><em>{% trans "Fundraiser" %}</em> {{owner.full_name}}</strong>
                        </a>
                    </figure>

                    <div class="project-action">
                        {{#if project.getProject.isPhaseCampaign}}
                            <a href='#' {{ action 'addDonation' this.project this }} class="btn btn-primary btn-iconed">
                                <span class="flaticon solid wallet-1"></span>
                                {% trans "Support" %} {{owner.first_name}}
                            </a>
                        {{else}}
                            <strong>{% trans "Project Funded" %}</strong>
                        {{/if}}
                    </div>

                </article>

            </div>
        </section>
    </div>


   <div class="l-section detail" id="fundraiser-status">
       
       <section class="l-wrapper">
           
            <div class="project-status">
           
                {{#if deadline}}
                <div class="project-days-left">
                    <strong><span class="flaticon solid stopwatch-1"></span> {{daysToGo}} <em>{% trans "days to go" %}!</em></strong>
                </div>
                {{/if}}

                <div class="project-fund">
                    <p class="project-fund-amount">
                        <strong class="amount-donated">&euro;{{localize amount_donated}}</strong>
                        {% trans "of" %}
                        <strong class="amount-asked">&euro;{{localize amount}}</strong>
                        {% trans "raised" %}
                    </p>

                    {{#bb-progressbar class="project-fund-amount-slider" totalValue=amount currentValue=amount_donated}}
                    {{/bb-progressbar}}
                </div>
            
                <ul class="project-member-list">
                    {{#if fundRaiseSupporters.length}}
                    <li class="project-member-supporters">
                        <h4>{% trans "Supporters" %} <em>{{supporters.meta.total}} {% trans "Total" %}</em></h4>
                        <ul>
                            {{#each supporter in fundRaiseSupporters}}
                                {{view "App.ProjectSupporterView" }}
                            {{/each}}
                        </ul>
                    </li>
                    {{/if}}
                </ul>
            </div>
       </section>
   </div>
    

    {{ outlet }}

{% endtplhandlebars %}


{% tplhandlebars "fundRaiser/index" %}

    <div id="l-section">
        <section class="l-wrapper">
        	<div class="l-content" id="wallposts">

    	        {{#each item in controller itemController="wallPost"}}
    	            {{#if item.isLoaded}}
                        {{#if item.isSystemWallPost}}
        	                {{view "App.SystemWallPostView"}}
                        {{else}}
        	                {{view "App.WallPostView"}}
                        {{/if}}
    	            {{/if}}
    	        {{/each}}

                {{#if canLoadMore}}
                    <a {{action "showMore"}} class="btn-link btn-more">
                        <span class="flaticon solid plus-2"></span> {% trans "Show more" %} <small>{{remainingItemCount}} {% trans "more" %}</small>
                    </a>
                {{/if}}

        	</div>

            <sidebar class="l-sidebar">
                {{#if isOwner}}
                	{{ render "fundRaiserMediaWallPostNew" }}
                {{else}}
                	{{ render "fundRaiserTextWallPostNew" }}
                {{/if}}
            </sidebar>

        </section>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "fundraiser_donation_list" %}

    <div class="l-section" id="project-dashboard">

        <div class="l-section account-header">
            <nav class="l-wrapper">

                <figure class="account-avatar"><img {{bindAttr src="controllers.currentUser.getAvatar"}} /></figure>

                <header class="account-title">
                    <h2>{% trans "My 1%" %} <em class="account-subtitle">{% trans "Fundraisers" %}</em> <em class="account-subtitle">{% trans "Donations" %}</em></h2>
                </header>

                {{#linkTo 'fundRaiser' id class="account-preview btn-link"}}
                    <span class="flaticon solid eye-1"></span>
                    {% trans "Back to fundraiser" %}
                {{/linkTo}}
            </nav>
        </div>

        <div class="l-wrapper">
            <div class="l-content">
                {{#if controllers.currentUser.isAuthenticated}}
                    <header class="l-page-header">
                        <h1>{% trans "Donation overview" %}</h1>
                        <p>
                            {% blocktrans %}
                            The people below supported your fundraiser
                            {% endblocktrans %}
                             "<strong>{{title}}</strong>".
                        </p>
                    </header>

                    {{#if fundRaiseDonations.length}}
                    	
	                    <table class="fund-history">
			                {{#each donation in fundRaiseDonations}}
			                	{{view "App.ProjectDonationView" }}
                            {{/each}}
			            </table>
                    
                    {{else}}
                        <p>{% trans "Awww. No donations yet!" %}</p>
                    {{/if}}

                {{else}}
                    <header class="l-page-header">
                        <h1>{% trans "Donation overview" %}</h1>
                        <p>
                            {% blocktrans %}
                                You are not authorised to view the donations.
                            {% endblocktrans %}
                        </p>
                    </header>

                    <p class="login-signup"><a href="/accounts/login">{% trans "Login" %}</a> {% trans "or become a" %} {{#linkTo "signup"}}{% trans "member" %}{{/linkTo}} {% trans "to start a fundraiser." %}</p>
                {{/if}}
            </div>

            <sidebar class="l-sidebar">
                <h2>{% trans "Fundraising for project" %}</h2>
                <p>{% trans "You are fundraising for this project" %}</p>

                {{render "projectPreview" project}}

            </sidebar>
        </div>
    </div>

{% endtplhandlebars %}

{% tplhandlebars "my_fundraiser_list" %}

    <div class="l-section" id="project-dashboard">

    	{{partial "my_fundraiser_top"}}

        <div class="l-wrapper">
            {{#if isLoading}}
                <div class="is-loading-big"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Loading projects" %}</strong></div>
            {{else}}
                <div class="l-content">
                	<header class="l-page-header">
                        <h1>Fundraisers overview</h1>
	                    {{#if controller.length}}
	                        <p>Overview of all your fundraiser actions.</p>
	                    {{else}}
	                        <p>You have no fundraiser actions.</p>
	                    {{/if}}
                    </header>
                </div>
            {{/if}}

            <div class="l-content">
	            <ul class="project-list">
	            	{{#each fundraiser in controller}}
	                <li class="project-list-item">

                        <span class="project-header">
                            <figure class="project-image">
                            	<a {{action "showFundraiser" fundraiser.id href=true}}>
                                	<img {{bindAttr src="fundraiser.image.square" alt="fundraiser.title"}} />
                            	</a>
                            </figure>
                            <h2 class="project-title">
                                <a {{action "showFundraiser" fundraiser.id href=true}}>
                                	{{ fundraiser.title }}
	                            </a>
                            </h2>
                        </span>

				        <div class="project-actions">
				        	{{#linkTo 'fundRaiserEdit' fundraiser.id class="btn-link project-edit"}}<span class="flaticon solid pencil-3"></span> {% trans "Edit" %}{{/linkTo}}
				        </div>
				    </li>
					{{/each}}
	            </ul>
			</div>
        </div>
    </div>

{% endtplhandlebars %}


{% endlanguage %}
