{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% language "en" %}
{# Force all these pages to english #}


{% tplhandlebars "my_project_list" %}

    <div class="l-section" id="project-dashboard">
    
    	{{partial "my_project_top"}}
    	
        <div class="l-wrapper">
            {{#if isLoading}}
                <div class="is-loading-big"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Loading projects" %}</strong></div>
            {{else}}
                {{#if canPitchNew}}
                    <div class="l-content">                        
                        <header class="l-page-header">
                            <h1>{% trans "No open projects" %}</h1>
                            <p></p>
                        </header>
                        
                        {{#linkTo "myPitchNew" tagName="button" class="btn btn-primary btn-iconed"}}
                            <span class="flaticon solid lightbulb-3"></span>
                            {% trans "Pitch a new smart idea" %}
                        {{/linkTo}}
                    </div>
                {{/if}}
            {{/if}}
            
            <div class="l-content">
	            <ul class="project-list">
	            	{{#each project in controller}}
	                <li class="project-list-item">
                                    
                        <span class="project-header">
                            <figure class="project-image">
                                <img {{bindAttr src="project.pitch.image.square" alt="project.pitch.title"}} />
                            </figure>
                            <h2 class="project-title">
                                {{ project.title }}                                
                                {{#if project.isPublic}}
                                    <a {{action "showProject" project.id href=true}} class="project-preview">
    	                                <span class="flaticon solid eye-1"></span>
    	                                {% trans "View public page" %}
    	                            </a>
                                {{/if}}
                            </h2>
                        </span>
                        
				        <div class="project-actions">
				        	{% trans "Phase" %}: <strong>{{ project.phase }}</strong> | 
			                {{#if project.isPhasePitch}}
			                	{% trans "Status:" %} <strong>{{project.plan.status}}</strong>
                                {{#if project.pitch.isBeingReviewed}}
								{% trans "Your pitch is in review now." %}
								  <br/>
								  {% trans "We'll get back to you soon!" %} 
								{{else}}
	                              {{#linkTo "myProjectPitch.basics" project tagName="a" class="btn btn-iconed"}}
	                                <span class="flaticon solid pencil-3"></span>
	                                {% trans "Continue pitch" %}
	                              {{/linkTo}}
								{{/if}}
	                        {{/if}}
	
	                        {{#if project.isPhasePlan}}
	                            {% trans "Status:" %} <strong>{{project.plan.status}}</strong>
	                            {{#linkTo "myProjectPlan" project tagName="a" class="btn btn-iconed right"}}
	                                <span class="flaticon solid pencil-3"></span>
	                                {% trans "Continue plan" %}
	                            {{/linkTo}}
	                        {{/if}}
	
	                        {{#if project.isPhaseCampaign}}
	                            {% trans "Status:" %} <strong>{{project.campaign.status}}</strong>
	                            {{#linkTo "myProjectCampaign" project tagName="a" class="btn btn-iconed right"}}
	                                <span class="flaticon solid pencil-3"></span>
	                                {% trans "Campaigning" %}
	                            {{/linkTo}}
	                        {{/if}}
				        </div>
				    </li>
					{{/each}}
	            </ul>
			</div>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "my_pitch_new" %}


    <div class="l-section" id="project-dashboard">
    	
    	{{partial "my_project_top"}}
    
        <div class="l-wrapper">
            <div class="l-content">
            
                <header class="l-page-header">
                    <h1> {% trans "Send in your Project Pitch" %}</h1>
                    <p><strong>
{% blocktrans %}
Do you have a smart idea to make a contribution to your community? An idea to tackle a waste problem in your neighborhood? An idea for clean and green transport? An idea to use tech innovations to improve local healthcare? Well, you came to the right place. We LOVE smart ideas!
{% endblocktrans %}
                    </strong></p>
                </header>

                <p>
{% blocktrans %}
1%Club offers you tools to engage your crowd to turn your smart idea in to reality.<br />
Are you ready to invest time and effort in succeeding? Double check our <a href="/#!/pages/faq-projects">FAQ</a> and pitch your smart idea here!
{% endblocktrans %}
                </p>
                
                {{#if controllers.currentUser.isAuthenticated}}
                    {{#if errors.detail}}
                        <p class="alert alert-error">
                            {% trans "Problem creating pitch." %}
                        </p>
                        {% trans "It looks like you already have started a project in progress. You can manage your project here:" %}
                        {{#linkTo "myProjectList" tagName="button" class="btn btn-primary btn-iconed"}}
                            <span class="flaticon solid pencil-3"></span>
                            {% trans "Manage projects." %}
                        {{/linkTo}}

                    {{else}}
                        <form id="manage-project-new">
                            <fieldset>
                                <ul>
                                    <li class="control-group">
                                        <label class="control-label">{% trans "Name your pitch" %}</label>
                                        <div class="controls">
                                            {{view Em.TextField valueBinding="title" name="title" placeholder="Title for your smart idea" classBinding="errors.title.length:error"}}
                                        </div>
                                        {{#if errors.title }}
                                            <div class="has-errors">{{#each errors.title }}<p>{{this}}</p>{{/each}}</div>
                                        {{/if}}
                                    </li>
                                </ul>
                            </fieldset>
                            
                            <button {{bindAttr class=":btn :btn-iconed :btn-primary :btn-save isDirty::disabled"}} {{action updateRecordOnServer}}>
                                <span class="flaticon solid pencil-3"></span>{% trans "write your pitch" %}
                            </button>
                        </form>
                    {{/if}}
                {{else}}
                    <p class="login-signup"><a href="/accounts/login">{% trans "Login" %}</a> {% trans "or become a" %} {{#linkTo "signup"}}{% trans "member" %}{{/linkTo}} {% trans "to pitch your plan." %}</p>
                {{/if}}
            </div>
            <sidebar class="l-sidebar">
                <h3>{% trans "WHEN YOUR SMART IDEA..." %}</h3>
                <ul>
                    <li>{% trans "Might seem small, but will have a big social impact" %}</li>
                    <li>{% trans "Is concrete and thus has a clear start and end" %}</li>
                    <li>{% trans "Needs on off investment to make it self-sufficient and sustainable on the long term" %}</li>
                    <li>{% trans "Takes place in one of these developing countries" %}</li>
                    <li>{% trans "Is managed and owned locally" %}</li>
                    <li>{% trans "Needs people, special know-how and skills" %}</li>
                    <li>{% trans "Needs some cash to get started (up to €5000)" %}</li>
                </ul>
                {% trans "...your idea fits right in with 1%Club!" %}
            </sidebar>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "my_project" %}
	
	<div class="l-section" id="manage-project">
    	{{partial "my_project_top"}}
		{{ outlet }}
	</div>

{% endtplhandlebars %}


{% tplhandlebars "_my_project_top" %}

<div class="l-section account-header">
    <nav class="l-wrapper">    
    
        <figure class="account-avatar"><img {{bindAttr src="controllers.currentUser.getAvatar"}} /></figure>
        
        <header class="account-title">
            <h2>{% blocktrans %}My 1%{% endblocktrans %} 
            {{#if title}}
                <em class="account-subtitle">{{ title }}</em>
			{{else}}
			    <em class="account-subtitle">{% trans "Projects" %}</em>
			{{/if}}
            </h2>
        </header>
                 
        {{#if id}}
            {{#if title}}
                {{#unless isPhasePitch}}
                    <a {{action "showProject" id href=true}} class="account-preview btn-link">
                        <span class="flaticon solid eye-1"></span>
                        {% trans "View project" %}
                    </a>
                {{/unless}}
            {{/if}}
    
            <ul class="tabs steps five">
                <li {{bindAttr class=":tab-item :first isPhasePitch:is-active:is-inactive"}}>
                    <a>
                        <span class="tab-icon"><span class="flaticon solid lightbulb-3"></span></span>
                        <strong class="tab-title">
                            {% trans "Pitch" %}
                            <em class="tab-subtitle">{{ pitch.status }}&nbsp;</em>
                        </strong>
                    </a>
                </li>
                <li  {{bindAttr class=":tab-item :second isPhasePlan:is-active:is-inactive"}}>
                    <span>
                        <span class="tab-icon"><span class="flaticon solid notebook-1"></span></span>
                        <strong class="tab-title">
                            {% trans "Plan" %}
                            <em class="tab-subtitle">{{ plan.status }}&nbsp;</em>
                        </strong>
                    </span>
                </li>
                <li {{bindAttr class=":tab-item :third isPhaseCampaign:is-active:is-inactive"}}>
                    <span>
                        <span class="tab-icon"><span class="flaticon solid wallet-1"></span></span>
                        <strong class="tab-title">
                            {% trans "Campaign" %}
                            <em class="tab-subtitle">{{ campaign.status }}&nbsp;</em>
                        </strong>
                    </span>
                </li>
                <li {{bindAttr class=":tab-item :fourth isPhaseAct:is-active:is-inactive"}}>
                    <span>
                        <span class="tab-icon"><span class="flaticon solid wrench-1"></span></span>
                        <strong class="tab-title">{% trans "Execute" %}
                            <em class="tab-subtitle">{{ act.status }}&nbsp;</em>
                        </strong>
                    </span>
                </li>
                <li {{bindAttr class=":tab-item :fifth isPhaseResults:is-active:is-inactive"}}>
                    <span>
                        <span class="tab-icon"><span class="flaticon solid flag-3"></span></span>
                        <strong class="tab-title">{% trans "Results" %}
                            <em class="tab-subtitle">{{ results.status }}&nbsp;</em>
                        </strong>
                    </span>
                </li>
            </ul>
        {{/if}}
    </nav>
</div>
    
{% endtplhandlebars %}

{% tplhandlebars "_my_project_tasks_and_updates" %}
    
    <div class="toolbox">
        <h3 class="toolbox-title">
            <em class="flaticon solid wrench-1"></em>
            {% trans "Crowdsourcing" %}
        </h3>
        <div class="toolbox-content">
            <p>{% trans "Do you need someone to help writing your business plan?" %}</p>
            {{#linkTo "projectTaskNew" project.getProject tagName="button" class="btn btn-iconed"}}
                <em class="flaticon solid wrench-1"></em>
                {% trans "Create a new task" %}
            {{/linkTo}}
        </div>
    </div>

    <div class="toolbox">
        <h3 class="toolbox-title">
            <em class="flaticon solid megaphone-1"></em>
            {% trans "Project Updates" %}
        </h3>
        <div class="toolbox-content">
            <p>{% trans "Why not? Ask the crowd for feedback on your idea!" %}</p>
            {{#linkTo "project" project.getProject tagName="button" class="btn btn-iconed"}}
                <span class="flaticon solid megaphone-1"></span>
                {% trans "Post an Update" %}
            {{/linkTo}}
        </div>
    </div>

{% endtplhandlebars %}

{% tplhandlebars "my_project_plan" %}

        <div class="l-wrapper">
        
            <nav class="manage-project-sidebar">
                <h4><span class="flaticon solid notebook-1"></span> {% trans "Project Story" %} </h4>
                <ul class="manage-project-nav">
                    <li>
                        {{#linkTo "myProjectPlan.basics"}}
                            <em {{bindAttr class="validBasics:is-finished:is-unfinished"}}></em>
                            {% trans "Project Basics" %}
                        {{/linkTo}}
                    </li>
                    <li>
                        {{#linkTo "myProjectPlan.description"}}
                            <em {{bindAttr class="validDescription:is-finished:is-unfinished"}}></em>
                            {% trans "Project Description" %}
                        {{/linkTo}}
                    </li>
                    <li>
                        {{#linkTo "myProjectPlan.location"}}
                            <em {{bindAttr class="validLocation:is-finished:is-unfinished"}}></em>
                            {% trans "Location" %}
                        {{/linkTo}}
                    </li>
                    <li>
                        {{#linkTo "myProjectPlan.media"}}
                            <em {{bindAttr class="validMedia:is-finished:is-unfinished"}}></em>
                            {% trans "Media" %}
                        {{/linkTo}}
                    </li>
                </ul>
                
                <h4><span class="flaticon solid briefcase-1"></span> {% trans "Organisation" %}</h4>
                <ul class="manage-project-nav">
                    <li>
                        {{#linkTo "myProjectPlan.organisation"}}
                            <em {{bindAttr class="organization.validProfile:is-finished:is-unfinished"}}></em>
                            {% trans "Organisation Profile" %}
                        {{/linkTo}}
                    </li>
                    {{#if organization}}
                    <li>
                        {{#linkTo "myProjectPlan.legal"}}
                            <em {{bindAttr class="organization.validLegalStatus:is-finished:is-unfinished"}}></em>
                            {% trans "Legal Status" %}
                        {{/linkTo}}
                    </li>
                    <!--{% comment %}<li>
                        {{#linkTo "myProjectPlan.ambassadors"}}
                            <em {{bindAttr class="validAmbassadors:is-finished:is-unfinished"}}></em>
                            {% trans "Ambassadors" %}
                        {{/linkTo}}
                    </li>{% endcomment %}-->
                    {{/if}}

                {{#if needsFunding}}
                    <h4><span class="flaticon solid wallet-1"></span> {% trans "Crowdfunding" %}</h4>
                    <ul class="manage-project-nav">
                        <li>
                            {{#linkTo "myProjectPlan.campaign"}}
                                <em {{bindAttr class="validCampaign:is-finished:is-unfinished"}}></em>
                                {% trans "Start Campaign" %}
                            {{/linkTo}}
                        </li>
                        <li>
                            {{#linkTo "myProjectPlan.budget"}}
                                <em {{bindAttr class="validBudget:is-finished:is-unfinished"}}></em>
                                {% trans "Budget" %}
                            {{/linkTo}}
                        </li>
                        {{#if organization}}
                        <li>
                            {{#linkTo "myProjectPlan.bank"}}
                                <em {{bindAttr class="organization.validBank:is-finished:is-unfinished"}}></em>
                                {% trans "Bank details" %}
                            {{/linkTo}}
                        </li>
                        {{/if}}
                {{/if}}
                
                {{#linkTo "myProjectPlan.submit" class="btn btn-iconed btn-primary btn-submit"}}
                    <span class="flaticon solid right-2"></span>
                    {% trans "Submit Plan" %}
                {{/linkTo}}

            </nav>

            <form class="l-content">
                {{ outlet }}
            </form>

        </div>

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_index" %}

    <fieldset>
        <legend>
            <strong>{% trans "Woohoo, your pitch was accepted!" %}</strong>
        </legend>
        <div class="fieldset-content">
            <p>{% trans "To complete your project plan, please fill in the empty spaces. Are there still some gaps? Don’t worry! We have a community full of people that are willing to help you. The only thing you need to do is create a 1%Skills task ask for the right expertise." %}</p>
        </div>
    </fieldset>

    {{#if project.coach}}
        <fieldset>
            <legend>
                <strong>{% trans "Project Coach" %}</strong>
            </legend>
            <div class="fieldset-content">
                <p>{% trans "Meet" %} <strong>{{project.coach.first_name}}</strong>, {% trans "who's ready to guide you through writing your ProjectPlan." %}
                    <br />
                    <a {{action openInBigBox "userModal" project.coach }} class="member">
                        <figure class="member-avatar"><img {{bindAttr src="project.coach.getAvatar" info="project.coach.first_name"}} /></figure>
                        <strong class="member-name">{{project.coach.full_name}}</strong>
                    </a>
                </p>
            </div>
        </fieldset>
    {{/if}}

    {{#linkTo "myProjectPlan.basics" class="btn btn-iconed btn-next"}}<span class="flaticon solid right-2"></span>{% trans "Next" %}{{/linkTo}}

    {{partial "my_project_tasks_and_updates"}}
    
{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_basics" %}

    <legend>
        <strong>{% trans "Project basics" %}</strong>
    </legend>

    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Be short, creative, simple and memorable." %}">
                <label class="control-label">{% trans "Title" %}</label>
                <div class="controls">
                    {{view Em.TextField valueBinding="title" placeholder="Title" classBinding="errors.title.length:error"}}
                </div>

                {{#if errors.title }}
                    <div class="has-errors">{{#each errors.title }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "Pitch your smart idea in one sentence." %}">
                <label class="control-label">{% trans "Pitch" %}</label>
                <div class="controls">
                    {{view Em.TextArea valueBinding="pitch" placeholder="Description" classBinding="errors.pitch.length:error"}}
                </div>

                {{#if errors.pitch }}
                    <div class="has-errors">{{#each errors.pitch }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Select one of the themes." %}">
                <label class="control-label">{% trans "Theme" %}</label>
                <div class="controls">
                    {{view App.ThemeSelectView valueBinding="theme" classBinding="errors.theme.length:error"}}
                </div>

                {{#if errors.theme }}
                    <div class="has-errors">{{#each errors.theme }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>
    {% comment %}
    <fieldset>
        <ul>
            
            <li class="control-group has-popover" data-content="{% trans "Pick a short, clear name." %}">
                <label class="control-label">{% trans "Short name" %}</label>
                <div class="controls">
                    {{view Em.TextField valueBinding="slug" placeholder="Short name" classBinding="errors.slug.length:error"}}
                    <div class="extra-info">
                        {% trans "Example: " %}
                        <strong>http://onepercentclub.com/#/projects/{{ slug }}</strong>
                    </div>
                </div>

                {{#if errors.slug }}
                    <div class="has-errors">{{#each errors.slug }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>
    {% endcomment %}
    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label">
                    {% trans "Tags" %} ({{tags.length}})<br />
                    <small>{% trans "Between 2 and 5 tags" %}</small>
                </label>
                <div class="controls">
                    {{view App.TagWidget tagsBinding="tags" classBinding="errors.tags.length:error"}}
                </div>

                {{#if errors.tags }}
                    <div class="has-errors">{{#each errors.tags }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "What do you need to realise your smart idea?" %}">
                <label class="control-label">
                    {% trans "What do you need?" %}
                </label>

                <div class="controls">
                    {{#view Em.RadioButtonGroup name="need" selectedValueBinding="need" class="radio-group"}}
                        <label class="radio">{{view view.RadioButton value="skills"}}<span>{% trans "Skills and expertise" %}</span></label>
                        <label class="radio">{{view view.RadioButton value="finance"}}<span>{% trans "Crowdfunding campaign" %}</span></label>
                        <label class="radio">{{view view.RadioButton value="both"}}<span>{% trans "Both" %}</span></label>
                    {{/view}}
                </div>
            </li>

        </ul>
    </fieldset>

    {{#if isDirty}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>
    {{else}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action goToNextStep}}><span class="flaticon solid right-2"></span>{% trans "Next" %}</button>
    {{/if}}


    {{partial "my_project_tasks_and_updates"}}

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_description" %}

    <legend>
        <strong>{% trans "Project description" %}</strong>
    </legend>

    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Blow us away with the details!" %}">
                <label class="control-label">{% trans "Why, what and how" %}</label>
                <div class="controls wide">
                    {{view Em.TextArea valueBinding="description"classBinding="errors.description.length:error" rows=12}}
                </div>

                {{#if errors.description }}
                    <div class="has-errors">{{#each errors.description }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "What will be the Impact? How will your Smart Idea change the lives of people?" %}">
                <label class="control-label">{% trans "Effects" %}</label>
                <div class="controls wide">
                    {{view Em.TextArea valueBinding="effects" classBinding="errors.effects.length:error" rows=6}}
                </div>

                {{#if errors.effects }}
                    <div class="has-errors">{{#each errors.effects }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "How will this project be self-sufficient and sustainable in the long term?" %}">
                <label class="control-label">{% trans "Future" %}</label>
                <div class="controls wide">
                    {{view Em.TextArea valueBinding="future" classBinding="errors.future.length:error" rows=6}}
                </div>

                {{#if errors.future }}
                    <div class="has-errors">{{#each errors.future }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Describe your target group." %}">
                <label class="control-label">{% trans "For who" %}</label>
                <div class="controls">
                    {{view Em.TextArea valueBinding="forWho" classBinding="errors.forWho.length:error"}}
                </div>

                {{#if errors.forWho }}
                    <div class="has-errors">{{#each errors.forWho }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "How many people do you expect to reach? Enter a number (e.g. 50)" %}">
                <label class="control-label">{% trans "People reached" %}</label>
                <div class="controls">
                    {{view Em.TextField valueBinding="reach" classBinding="errors.reach.length:error"}}
                </div>

                {{#if errors.reach }}
                    <div class="has-errors">{{#each errors.reach }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>

    {{#if isDirty}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>
    {{else}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action goToNextStep}}><span class="flaticon solid right-2"></span>{% trans "Next" %}</button>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "my_project_location" %}

    <legend>
        <strong>{% trans "Project location" %}</strong>
        <p>{% trans "So where is it all happenin'?" %}</p>
    </legend>

    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label">{% trans "Country" %}</label>
                <div class="controls">
                    {{view App.ProjectCountrySelectView valueBinding="country" classBinding="errors.country.length:error"}}
                </div>
                {{#if errors.country }}
                    <div class="has-errors">{{#each errors.country }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
            <li class="control-group has-popover" data-content="{% trans "Select the location on the map. You can use the search to find your location." %}">
                <label class="control-label">{% trans "Location" %}</label>
                <div class="controls wide">
                    {{view App.MapPicker longitudeBinding="longitude" latitudeBinding="latitude" classBinding="errors.location.length:error"}}
                </div>
            </li>
        </ul>
    </fieldset>

    {{#if isDirty}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>
    {{else}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action goToNextStep}}><span class="flaticon solid right-2"></span>{% trans "Next" %}</button>
    {{/if}}


{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_media" %}

    <legend>
        <strong>{% trans "Project media" %}</strong>
        <p>{% trans "Upload a photo" %}</p>
    </legend>
    
    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "This photo will represent your idea on 1%Club. So make sure it's personal, unique and recognisable for your smart idea and that it looks nice too!" %}">
                <label class="control-label">
                    {% trans "Project Picture" %}
                </label>

                <div class="controls manage-project-image">
                    <a class="btn btn-iconed btn-upload">
                        {{view App.UploadFile fileBinding="image" name="image" accept="image/*" id="image"}}
                        <span class="flaticon solid upload-document-1"></span>
                        {% trans "Upload picture" %}
                    </a>
                    <br />
                    <div {{bindAttr class=":image-preview image::empty"}}>
                        {{#if image}}
                            <img {{bindAttr src="image.large"}} />
                        {{else}}
                            <img src="{% get_static_prefix %}images/empty.png" />
                        {{/if}}
                    </div>
                </div>
            </li>
        </ul>
    </fieldset>

    {{#if isDirty}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>
    {{else}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action goToNextStep}}><span class="flaticon solid right-2"></span>{% trans "Next" %}</button>
    {{/if}}


{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_organisation" %}

    <legend>
        <strong>{% trans "Organisation" %}</strong>
    </legend>

    {{#if organization}}
        <fieldset>
            <ul>
                <li class="control-group has-popover" data-content="{% trans "Name of your organisation" %}">
                    <label class="control-label">{% trans "Name" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.name" classBinding="organization.errors.name.length:error"}}
                    </div>

                    {{#if organization.errors.name }}
                        <div class="has-errors">{{#each organization.errors.name }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Describe your organisation" %}">
                    <label class="control-label">{% trans "Description" %}</label>
                    <div class="controls">
                        {{view Em.TextArea valueBinding="organization.description" classBinding="organization.errors.description.length:error"}}
                    </div>

                    {{#if organization.errors.description }}
                        <div class="has-errors">{{#each organization.errors.description }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>
                <strong>{% trans "Address" %}</strong>
            </legend>
            <ul>
                <li class="control-group has-popover" data-content="{% trans "Street, house number, the place in your city" %}">
                    <label class="control-label">{% trans "Address line 1" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.address_line1" classBinding="organization.errors.address_line1.length:error"}}
                    </div>

                    {{#if organization.errors.address_line1 }}
                        <div class="has-errors">{{#each organization.errors.address_line1 }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}

                </li>

                <li class="control-group has-popover" data-content="{% trans "More about your address" %}">
                    <label class="control-label">{% trans "Address line 2" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.address_line2" classBinding="organization.errors.address_line2.length:error"}}
                    </div>

                    {{#if organization.errors.address_line2 }}
                        <div class="has-errors">{{#each organization.errors.address_line2 }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>


                <li class="control-group has-popover" data-content="{% trans "City or village.." %}">
                    <label class="control-label">{% trans "City" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.city" classBinding="organization.errors.city.length:error"}}
                    </div>

                    {{#if organization.errors.city }}
                        <div class="has-errors">{{#each organization.errors.city }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Postal code" %}">
                    <label class="control-label">{% trans "Postal code" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.postal_code" classBinding="organization.errors.postal_code.length:error"}}
                    </div>

                    {{#if organization.errors.postal_code }}
                        <div class="has-errors">{{#each organization.errors.postal_code }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Country or territory" %}">
                    <label class="control-label">{% trans "Country" %}</label>
                    <div class="controls">
                        {{view App.CountrySelectView valueBinding="organization.country" classBinding="organization.errors.country.length:error"}}
                    </div>

                    {{#if organization.errors.country }}
                        <div class="has-errors">{{#each organization.errors.country }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>
                <strong>{% trans "Online" %}</strong>
            </legend>
            <ul>

                <li class="control-group has-popover" data-content="{% trans "Does your organization have a website?" %}">
                    <label class="control-label">{% trans "Website" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.website" classBinding="organization.errors.website.length:error"}}
                    </div>

                    {{#if organization.errors.website }}
                        <div class="has-errors">{{#each organization.errors.website }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Email address" %}">
                    <label class="control-label">{% trans "Email" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.email" classBinding="organization.errors.email.length:error"}}
                    </div>

                    {{#if organization.errors.email }}
                        <div class="has-errors">{{#each organization.errors.email }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Does your organization have a twitter account?" %}">
                    <label class="control-label">{% trans "Twitter" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.twitter" placeholder="@twitteraccount" classBinding="organization.errors.twitter.length:error"}}
                    </div>

                    {{#if organization.errors.twitter }}
                        <div class="has-errors">{{#each organization.errors.twitter }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Does your organization have a facebook group?" %}">
                    <label class="control-label">{% trans "Facebook" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.facebook" placeholder="https://www.facebook.com/<groupname>" classBinding="organization.errors.facebook.length:error"}}
                    </div>

                    {{#if organization.errors.facebook }}
                        <div class="has-errors">{{#each organization.errors.facebook }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Can we reach you on Skype?" %}">
                    <label class="control-label">{% trans "Skype" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.skype" placeholder="skype name" classBinding="organization.errors.skype.length:error"}}
                    </div>

                    {{#if organization.errors.skype }}
                        <div class="has-errors">{{#each organization.errors.skype }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>
            </ul>
        </fieldset>

        {{#if shouldSave}}
            <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>
        {{else}}
            <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action goToNextStep}}><span class="flaticon solid right-2"></span>{% trans "Next" %}</button>
        {{/if}}

    {{else}}
        <fieldset>
            <ul>
                <li class="control-group has-popover" data-content="{% trans "Choose your organisation from the list or create a new one." %}">
                    <label class="control-label">{% trans "Organisation" %}</label>
                    <div class="controls">
                        <ul>
                            {{#each organizations}}
                                <li>
                                    <h4>{{this.name}}</h4>
                                    {{this.description}}
                                    <br/>
                                    <a {{action selectOrganization this}} class="btn-link"><span class="flaticon solid plus-2"> {% trans "Select" %}</a>
                                </li>
                            {{/each}}
                            <li>
                                <h4>{% trans "create new" %}</h4>
                                {% trans "Create a new organization to run this project." %}
                                <br/>
                                <a {{action createNewOrganization organization}} class="btn-link"><span class="flaticon solid plus-2"> {% trans "Create" %}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </fieldset>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_legal" %}

    <legend>
        <strong>{% trans "Legal status" %}</strong>
        <p>{% trans "Please upload an excerpt of your official registration to show that your NGO is registered." %}</p>
    </legend>


    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "What is the legal status of your organization? Include the registration number." %}">
                <label class="control-label">{% trans "Legal status" %}</label>
                <div class="controls">
                    {{view Em.TextField valueBinding="organization.legalStatus" placeholder="Legal status" classBinding="organization.errors.legalStatus.length:error"}}
                </div>

                {{#if organization.errors.legalStatus }}
                    <div class="has-errors">{{#each organization.errors.legalStatus }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "please upload a copy of your passport. Make sure it's a valid one and we can read it clearly!" %}">
                <label class="control-label">
                    {% trans "Documents" %} ({{organization.documents.length}})<br />
                    <small>
                        {% trans ".jpg, .png or .pdf" %}
                    </small>
                </label>

                <div class="controls manage-project-files">
                    <a class="btn btn-iconed btn-upload">
                        {{view App.UploadMultipleFiles name="documents" multiple=true}}
                        <span class="flaticon solid upload-document-1"></span>
                        {% trans "Upload scan(s)" %}
                    </a>
                    <br />
                    {{#each doc in organization.documents}}
                        <a {{action removeFile doc}}><span class="flaticon solid minus-2"></span></a>
                        <a {{bindAttr href=doc.file.url}}>
                            {{doc.file.name}} <small>{{doc.file.size}}</small><br/>
                        </a>
                    {{/each}}
                </div>
            </li>
        </ul>
    </fieldset>

    {{#if shouldSave}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>
    {{else}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action goToNextStep}}><span class="flaticon solid right-2"></span>{% trans "Next" %}</button>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_ambassadors" %}

    <legend>
        <strong>{% trans "Ambassadors" %}</strong>
        <p>
            {% blocktrans %}
An ambassador is somebody who can tell something about your smart idea or about you as a person or your organisation. Ambassadors will make your story more credible and will add that little something extra. You probably have lots of people in your network who can act as ambassador, but be sure it is not your mom and the person meets our criteria (see <a href="/#!/pages/faq-projects">FAQ</a>).<br /><br />
Do you want to start a crowdfunding campaign? Make sure all ambassadors create a 1%Profile and post a short comment on your project page to promote your smart idea.<br /><br />
You've to have at least 3 ambassadors. (more? great!)<br /><br />
            {% endblocktrans %}
        </p>
    </legend>

    <fieldset>
        <ul>
            {{#each ambassador in ambassadors}}
                <li class="control-group has-popover" data-content="{% trans "Email address of the amabassador" %}">
                    <label class="control-label">{% trans "Name" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="ambassador.name" classBinding="ambassador.errors.name.length:error"}}
                    </div>

                    {{#if ambassador.errors.name }}
                        <div class="has-errors">{{#each ambassador.errors.name }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}

                </li>

                <li class="control-group has-popover" data-content="{% trans "Email address of the amabassador" %}">
                    <label class="control-label">{% trans "Email" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="ambassador.email" classBinding="ambassador.errors.email.length:error"}}
                    </div>

                    {{#if ambassador.errors.email }}
                        <div class="has-errors">{{#each ambassador.errors.email }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}

                </li>

                <li class="control-group has-popover" data-content="{% trans "Can you tell something more about this ambassador." %}">
                    <label class="control-label">{% trans "Description" %}</label>
                    <div class="controls">
                        {{view Em.TextArea valueBinding="ambassador.description" classBinding="ambassador.errors.description.length:error"}}
                    </div>

                    {{#if ambassador.errors.description }}
                        <div class="has-errors">{{#each ambassador.errors.description }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}

                </li>

                <li class="control-group wide has-popover" data-content="{% trans "Do you want to remove this ambassador?" %}">
                    <label class="control-label wide">
                        <a {{action removeAmbassador ambassador}} class="btn-link"><span class="flaticon solid minus-2"></span> {% trans "Remove this ambassador" %}</a>
                    </label>
                    <hr />
                </li>
            {{/each}}
            <li class="control-group wide has-popover" data-content="{% trans "You should at least add three ambassadors." %}">
                <label class="control-label wide">
                    <a {{action addAmbassador}} class="btn-link"><span class="flaticon solid plus-2"></span> {% trans "Add another ambassador" %}</a>
                </label>
            </li>
        </ul>
    </fieldset>

    <button {{bindAttr class=":btn :btn-iconed :btn-next shouldSave::disabled"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_bank" %}

    <legend>
        <strong>{% trans "Bank details" %}</strong>
    </legend>

    {{#if organization.isLoaded}}
        <fieldset>
            <ul>
                <li class="control-group has-popover" data-content="{% trans "Name of the bank that holds your acount." %}">
                    <label class="control-label">{% trans "Account bank name" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_bank_name" classBinding="organization.errors.account_bank_name.length:error"}}
                    </div>

                    {{#if organization.errors.account_bank_name }}
                        <div class="has-errors">{{#each organization.errors.account_bank_name }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Address of the bank." %}">
                    <label class="control-label">{% trans "Bank address" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_bank_address" classBinding="organization.errors.account_bank_address.length:error"}}
                    </div>

                    {{#if organization.errors.account_bank_address }}
                        <div class="has-errors">{{#each organization.errors.account_bank_address }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Country of the bank." %}">
                    <label class="control-label">{% trans "Bank country" %}</label>
                    <div class="controls">
                        {{view App.CountrySelectView valueBinding="organization.account_bank_country" classBinding="organization.errors.account_bank_country.length:error"}}
                    </div>

                    {{#if organization.errors.account_bank_country }}
                        <div class="has-errors">{{#each organization.errors.account_bank_country }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Bank account number." %}">
                    <label class="control-label">{% trans "Account number" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_number" classBinding="organization.errors.account_number.length:error"}}
                    </div>

                    {{#if organization.errors.account_number }}
                        <div class="has-errors">{{#each organization.errors.account_number }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Name of the bank account holder." %}">
                    <label class="control-label">{% trans "Account name" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_name" classBinding="organization.errors.account_name.length:error"}}
                    </div>

                    {{#if organization.errors.account_name }}
                        <div class="has-errors">{{#each organization.errors.account_name }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Account holder city" %}">
                    <label class="control-label">{% trans "Account city" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_city" classBinding="organization.errors.account_city.length:error"}}
                    </div>

                    {{#if organization.errors.account_city }}
                        <div class="has-errors">{{#each organization.errors.account_city }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "You ony have to enter this if your country supports IBAN." %}">
                    <label class="control-label">{% trans "Account IBAN" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_iban" classBinding="organization.errors.account_iban.length:error"}}
                    </div>

                    {{#if organization.errors.account_iban }}
                        <div class="has-errors">{{#each organization.errors.account_iban }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "BIC/SWIFT code for your bank" %}">
                    <label class="control-label">{% trans "Bank BIC/SWIFT code" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="organization.account_bic" classBinding="organization.errors.account_bic.length:error"}}
                    </div>

                    {{#if organization.errors.account_bic }}
                        <div class="has-errors">{{#each organization.errors.account_bic }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group has-popover" data-content="{% trans "Do we need more information to make an eventual bank transfer?" %}">
                    <label class="control-label">{% trans "Extra info" %}</label>
                    <div class="controls">
                        {{view Em.TextArea valueBinding="organization.account_other" classBinding="organization.errors.account_other.length:error"}}
                    </div>

                    {{#if organization.errors.account_other }}
                        <div class="has-errors">{{#each organization.errors.account_other }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>
            </ul>
        </fieldset>
        {{#if shouldSave}}
            <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>
        {{else}}
            <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action goToNextStep}}><span class="flaticon solid right-2"></span>{% trans "Next" %}</button>
        {{/if}}

    {{else}}
        {{#if organization}}
            {% trans "Loading data" %}
        {{else}}
            {% trans "You should create an organisation profile first." %}
        {{/if}}
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_campaign" %}

    <legend>
        <strong>{% trans "Crowndfunding Campaign" %}</strong>
        <p>
            {% blocktrans %}
Sometimes people are lucky and support for their project directly comes in from all corners of the world. However, for the other 99% it starts with their own network and their networks’ network. This basically means you have to tell your network about your project on 1%Club. Once, twice, maybe even three times. Per e-mail, on Facebook, on Twitter, face-to-face, by phone, by poster or in a video message. Whatever you need to do to get them on board! Our advice would be to have some people on board to help you do this.<br/><br/>
Do realize that you have to put in work to make it work. And remember, hard work tends to pays off. You have 6 months for this campaign so use it wisely. If you don’t succeed the money will go back to the people who gave it and they will choose another project.<br/><br/>
Need more tips and tricks? Read our <a href="/#!/pages/faq-projects">FAQ</a>.<br/><br/>
            {% endblocktrans %}

        </p>
    </legend>

    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Describe in one sentence where the money is needed for." %}">
                <label class="control-label">{% trans "Money needed for" %}</label>
                <div class="controls">
                    {{view Em.TextField valueBinding="moneyNeeded" classBinding="errors.moneyNeeded.length:error"}}
                </div>

                {{#if errors.moneyNeeded }}
                    <div class="has-errors">{{#each errors.moneyNeeded }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "What is your crowdfunding strategy? What steps are you going to take? " %}">
                <label class="control-label">{% trans "Campaign strategy" %}</label>
                <div class="controls">
                    {{view Em.TextArea valueBinding="campaign" rows="6" classBinding="errors.campaign.length:error"}}
                </div>

                {{#if errors.campaign }}
                    <div class="has-errors">{{#each errors.campaign }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>

    {{#if isDirty}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>
    {{else}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action goToNextStep}}><span class="flaticon solid right-2"></span>{% trans "Next" %}</button>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_budget" %}

    <legend>
        <strong>{% trans "Budget needed" %}</strong>
        <p>
{% blocktrans %}
Time to let us know how the money that you will be raising will be spent! Be sure to give us a
detailed insight in your budget as it will only make your credibility go up. Just one little suggestion
before you start; be realistic in your crowdfunding goal. Better a smaller amount and make it then a
large amount and have nothing in the end. Also, there are certain things not allowed to ask money for.
Check them in our <a href="/#!/pages/faq-projects">FAQ</a>.
<br/>
Please add 5% administration fee to your budget. The total amount, including the fee, cannot exceed 5.000 Euro.
{% endblocktrans %}
        </p>
    </legend>

    <fieldset>
        <br />
        <ul>
            {{#each line in budgetLines}}
                <li class="control-group">
                    <label class="control-label">{% trans "Budget item description" %}</label>
                    <div class="controls">
                       {{view Em.TextField valueBinding="line.description" placeholder="Description"}} 
                    </div>
                </li>    
                <li class="control-group">
                    <label class="control-label">{% trans "Amount" %}</label>
                    <div class="controls">
                       {{view Em.TextField valueBinding="line.amount" placeholder="Amount euro"}}
                    </div>
                </li>
                <li class="control-group">
                    <div class="controls wide text-right">
                        <a {{action removeBudgetLine line href=true}} class="btn-link">
                            <span class="flaticon solid minus-2"> {% trans  "Remove" %}</span>
                        </a>
                    </div>
                </li>
            {{/each}}

            <li class="control-group">
                <div class="controls wide text-left">
                    <a {{action addBudgetLine line href=true}} class="btn-link">
                        <span class="flaticon solid plus-2"></span>
                        {% trans "Add budget item" %}
                    </a>
                </div>
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>
            <strong>{% trans "Total budget needed" %}:</strong>
            <p>&euro; {{totalBudget}}</p>
            {{#if totalBudget}}
                {{#unless validBudget}}
                    <div class="has-errors"><p>{% trans "Total budget shouldn't be over 5000 euro." %}</p></div>
                {{/unless}}
            {{else}}
                <div class="has-errors"><p>{% trans "Start adding items to your budget." %}</p></div>
            {{/if}}
        </legend>
    </fieldset>

    {{#if shouldSave}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>
    {{else}}
        <button {{bindAttr class=":btn :btn-iconed :btn-next"}} {{action goToNextStep}}><span class="flaticon solid right-2"></span>{% trans "Next" %}</button>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_submit" %}

    <legend>
        <strong>{% trans "Submit Plan" %}</strong>
    </legend>
    
    <fieldset>
    
        <div class="fieldset-content">
            
            <h3>{% trans "Check!" %}</h3>
            {% blocktrans %}
                Make sure that you filled out the entire form and that all items to the left have a <span class="flaticon solid checkmark-2"></span> check sign.
                If one of the items still shows a circle then that still needs some work.
            {% endblocktrans %}
        </div>
        
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Agree to the terms to submit the plan" %}">
                <div class="controls wide">
                    <label class="checkbox wide">{{view Em.Checkbox checkedBinding="agreed" classBinding="errors.agreed.length:error"}} <span>{% trans "I agree to the " %} <a {{action showPage 'terms-and-conditions'}}>{% trans "general terms and conditions" %}</a></span></label>
                </div>
            </li>
        </ul>
    </fieldset>
    
    {{#if agreed}}
        <button {{bindAttr class=":btn :btn-iconed :btn-submit :btn-primary"}} {{action submitPlan}}><span class="flaticon solid right-2"></span>{% trans "Submit plan" %}</button>
    {{else}}
        <button {{bindAttr class=":btn :btn-iconed :btn-submit :disabled"}}><span class="flaticon solid right-2"></span>{% trans "Submit plan" %}</button>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_review" %}

    <div class="l-wrapper">
        <article class="l-content">
            <header class="page-header">
                <h2>{% trans "Your plan is in review now" %}</h2>
                <p>We'll get back to you soon!</p>
            </header>
        </article>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_rejected" %}


    <div class="l-wrapper">
        <article class="l-content">
            <header class="page-header">
                <h2>{% trans "We're sorry, your plan has been rejected." %}</h2>
                <p>{% trans "Please contact us if you need support to define your smart idea." %}</p>
            </header>
        </article>
    </div>


{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_approved" %}


    <div class="l-wrapper ">
        <article class="l-content">
            <header class="page-header">
                <h2>{% trans "Yeah! Your plan has been approved." %}</h2>
                <p>{% trans "You can start your " %} {{#linkTo "myProjectCampaign"}}{% trans "Campaign" %}{{/linkTo}}</p>
            </header>
        </article>
    </div>


{% endtplhandlebars %}



{% tplhandlebars "my_pitch_index" %}

    <fieldset>
        <legend>
        	<strong>{% trans "Get ready to write your pitch!" %}</strong>
			<p>{% blocktrans %}Time to pitch your smart idea because we just can’t wait to hear about it! Make sure your story is positive, convincing and compelling. Fill in the Projects Basics, Location and a Picture. Need more tips and tricks to blow us away with your pitch? Check out our <a href="/#!/pages/faq-projects">FAQ</a>.{% endblocktrans %}</p>
        </legend>
    </fieldset>

    {{#linkTo "myProjectPitch.basics" class="btn btn-iconed btn-next"}}<span class="flaticon solid right-2"></span>{% trans "Next" %}{{/linkTo}}

{% endtplhandlebars %}


{% tplhandlebars "my_project_pitch" %}


    <div class="l-wrapper">
    
        <div class="manage-project-sidebar">
            
            <h4><em class="flaticon solid lightbulb-3"></em>{% trans "Project Pitch" %}</h4>
                
            <ul class="manage-project-nav">
                <li>
                    {{#linkTo "myProjectPitch.basics"}}
                        <em {{bindAttr class="validBasics:is-finished:is-unfinished"}}></em>
                        {% trans "Project Basics" %}
                    {{/linkTo}}
                </li>
                <li>
                    {{#linkTo "myProjectPitch.location"}}
                        <em {{bindAttr class="validLocation:is-finished:is-unfinished"}}></em>
                        {% trans "Location" %}
                    {{/linkTo}}
                </li>
                <li>
                    {{#linkTo "myProjectPitch.media"}}
                        <em {{bindAttr class="validMedia:is-finished:is-unfinished"}}></em>
                        {% trans "Media" %}
                    {{/linkTo}}
                </li>
            </ul>
            
            {{#linkTo "myProjectPitch.submit" class="btn btn-iconed btn-primary btn-submit"}}
                <span class="flaticon solid right-2"></span>
                {% trans "Submit Pitch" %}
            {{/linkTo}}
        </div>
            
        <form class="l-content">
            {{ outlet }}
        </form>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "my_pitch_basics" %}

    <legend>
        <strong>{% trans "Pitch basics" %}</strong>
    </legend>

    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Be short, creative, simple and memorable." %}">
                <label class="control-label">{% trans "Title" %}</label>
                <div class="controls">
                    {{view Em.TextField valueBinding="title" placeholder="Title" classBinding="errors.title.length:error"}}
                </div>

                {{#if errors.title }}
                    <div class="has-errors">{{#each errors.title }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "By reading your pitch many donors already make the decision to donate or not. The explanation must be to the point, because people don't have time to read everything." %}">
                <label class="control-label">{% trans "Pitch" %}</label>
                <div class="controls">
                    {{view Em.TextArea valueBinding="pitch" placeholder="Description" classBinding="errors.pitch.length:error"}}
                </div>

                {{#if errors.pitch }}
                    <div class="has-errors">{{#each errors.pitch }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "A short description should at least tell something about a person, place, mitvation and activity. The simplest story would be: [Person] in [place] needs help to [activity] because [motivation]." %}">
                <label class="control-label wide">{% trans "Short explanation: Why, what and how" %}</label>
                <div class="controls wide">
                    {{view Em.TextArea valueBinding="description"classBinding="errors.description.length:error" rows=12}}
                </div>

                {{#if errors.description }}
                    <div class="has-errors">{{#each errors.description }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>
    
    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Select one of the themes." %}">
                <label class="control-label">{% trans "Theme" %}</label>
                <div class="controls">
                    {{view App.ThemeSelectView valueBinding="theme" classBinding="errors.theme.length:error"}}
                </div>

                {{#if errors.theme }}
                    <div class="has-errors">{{#each errors.theme }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>
    
    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label">
                    {% trans "Tags" %} ({{tags.length}})<br />
                    <small>{% trans "Between 2 and 5 tags" %}</small>
                </label>

                <div class="controls">
                    {{view App.TagWidget tagsBinding="tags" classBinding="errors.tags.length:error"}}
                </div>

                {{#if errors.tags }}
                    <div class="has-errors">{{#each errors.tags }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>
    
    <fieldset>
        <ul>   
            <li class="control-group has-popover" data-content="{% trans "What do you need to realise your smart idea?" %}">
                <label class="control-label">
                    {% trans "What do you need?" %}
                </label>

                <div class="controls">
                    {{#view Em.RadioButtonGroup name="need" selectedValueBinding="need" class="radio-group"}}
                        <label class="radio">{{view view.RadioButton value="skills"}}<span>{% trans "Skills and expertise" %}</span></label>
                        <label class="radio">{{view view.RadioButton value="finance"}}<span>{% trans "Crowdfunding campaign" %}</span></label>
                        <label class="radio">{{view view.RadioButton value="both"}}<span>{% trans "Both" %}</span></label>
                    {{/view}}
                </div>
            </li>
        </ul>
    </fieldset>

    <button {{bindAttr class=":btn :btn-iconed :btn-primary :btn-next isDirty::disabled"}} {{action updateRecordOnServer}}><span class="flaticon solid right-2"></span>{% trans "Save & Next" %}</button>

{% endtplhandlebars %}



{% tplhandlebars "my_pitch_submit" %}

    <legend>
        <strong>{% trans "Submit Pitch" %}</strong>
        <p>{% trans "Send your pitch to us, we'll get back to you soon." %}</p>
    </legend>
    
    <fieldset>
    
        <div class="manage-project-overview">
            {{#if validBasics}}
                <h3><span class="flaticon solid checkmark-1"></span> Basics are ok!<br/></h3>
            {{else}}
                <h3>{{#linkTo "myProjectPitch.basics"}}Basics{{/linkTo}} still need work!</h3>
                {{#unless title}}
                    <span class="flaticon solid exclamation-point-2"></span> <strong>Title</strong> is missing<br/>
                {{/unless}}
                {{#unless pitch}}
                    <span class="flaticon solid exclamation-point-2"></span> <strong>Pitch</strong> is missing<br/>
                {{/unless}}
                {{#unless theme}}
                    <span class="flaticon solid exclamation-point-2"></span> <strong>Theme</strong> is missing<br/>
                {{/unless}}
                {{#unless description}}
                    <span class="flaticon solid exclamation-point-2"></span> <strong>Why, what and how</strong> is missing<br/>
                {{/unless}}
                {{#unless tags}}
                    <span class="flaticon solid exclamation-point-2"></span> <strong>Tags</strong> are missing. Add at least five tags.<br/>
                {{/unless}}
            {{/if}}
            {{#if validLocation}}
                <h3><span class="flaticon solid checkmark-1"></span> Location is ok!</h3>
            {{else}}
                <h3>{{#linkTo "myProjectPitch.basics"}}Basics{{/linkTo}} still need work!</h3>
                {{#unless latitude}}
                    <span class="flaticon solid exclamation-point-2"></span> <strong>Map location</strong> is missing<br/>
                {{/unless}}
                {{#unless country}}
                    <span class="flaticon solid exclamation-point-2"></span> <strong>Country</strong> are missing<br/>
                {{/unless}}
            {{/if}}
            {{#if validMedia}}
                <h3><span class="flaticon solid checkmark-1"></span> Media is ok!</h3>
            {{else}}
                <h3>{{#linkTo "myProjectPitch.media"}}Media{{/linkTo}} still need work!</h3>
                <span class="flaticon solid exclamation-point-2"></span> <strong>Image</strong> is missing<br/>
            {{/if}}
        </div>
        
        <ul> 
            <li class="control-group has-popover" data-content="{% trans "Agree to the terms to submit the pitch" %}">
                <div class="controls wide">
                    <label class="checkbox">{{view Em.Checkbox checkedBinding="agreed" classBinding="errors.agreed.length:error"}} <span>{% trans "I agree to the " %} <a {{action showPage 'terms-and-conditions'}}>{% trans "general terms and conditions" %}</a></span></label>
                </div>
            </li>
        </ul>

    </fieldset>
    {{#if agreed}}
        <button {{bindAttr class=":btn :btn-iconed :btn-primary :btn-submit"}} {{action submitPitch}}><span class="flaticon solid right-2"></span>{% trans "Submit pitch" %}</button>
    {{else}}
        <button {{bindAttr class=":btn :btn-iconed :btn-primary :btn-submit :disabled"}}><span class="flaticon solid right-2"></span>{% trans "Submit pitch" %}</button>
    {{/if}}


{% endtplhandlebars %}


{% tplhandlebars "my_project_pitch_review" %}

    <div class="l-wrapper">
        <article class="l-content">
            <header class="l-page-header">
                <h2>{% trans "Your pitch is in review now" %}</h2>
                <p>{% trans "We'll get back to you soon!" %}</p>
            </header>
        </article>
    </div>


{% endtplhandlebars %}


{% tplhandlebars "my_project_pitch_rejected" %}

    <div class="l-wrapper">
        <article class="l-content">
            <header class="l-page-header">
                <h2>{% trans "We're sorry, your pitch has been rejected" %}</h2>
                <p>{% trans "Please contact us if you need support to define your smart idea." %}</p>
            </header>
        </article>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "my_project_pitch_approved" %}

    <div class="l-wrapper">
        <article class="l-content">
            <header class="l-page-header">
                <h2>{% trans "Yeah! Your pitch has been approved" %}</h2>
                <p>{% trans "You can write your {{#linkTo myProjectPlan}}Project Plan{{/linkTo}}!" %}</p>
            </header>
        </article>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "map_picker" %}

    <div class="map-picker"></div>
    <div class="map-look-up">
        {{view Em.TextField valueBinding="view.lookup" placeholder="Search your location."}}
        <button {{action lookUpLocation target="view"}}> Search</button>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "my_project_campaign" %}

    <div class="l-wrapper">
    
        <div class="manage-project-sidebar">

            <h4><span class="flaticon solid lock-1"></span> {% trans "Project Story" %}</h4>
            <p>Your plan is approved and currently locked. If you need to make any changes: please sent a message to
            {{#if coach}}your 1%COACH, <strong>{{coach.full_name}}</strong>, at{{/if}} projects@1procentclub.nl.</p>
            
            <h4><span class="flaticon solid wallet-1"></span> {% trans "Funding status" %}</h4>
                  
            <div class="project-fund">
                <p class="project-fund-amount">
                    <strong class="amount-donated">&euro;{{campaign.money_donated}}</strong>
                    {% trans "of" %}
                    <strong class="amount-asked">&euro;{{campaign.money_asked}}</strong>
                    {% trans "raised" %}
                </p>
            
                <div class="project-fund-amount-slider"><strong style="width: 0%;" class="slider-progress is-in-progress"><em class="slider-percentage">0%</em></strong></div>
			</div>
        </div>

        <form class="l-content manage-project-status">
            <fieldset>
                <legend>
                    <strong>{% trans "How is your campaign going?" %}</strong>
                </legend>
                
                <div class="fieldset-content">
                    <p>{% blocktrans %}
                    Is money pouring in? No? Our tips & tricks might help you.
                    Check our <a href="/#!/pages/faq-projects">FAQ</a>! And remember Einsteins words: "You have to learn the rules
                    of the game. And then you have to play better than anyone else".
                    You can do it!
                    {% endblocktrans %}</p>

                    {{#if campaign.deadline}}
                        <div class="project-days-left">
						    <strong><span class="flaticon solid clock-1"></span> {{campaign.daysToGo}}</strong>
                            <em>{% trans "days to go" %}</em>
                        </div>
                    {{/if}}
                </div>
            </fieldset>
        </form>
        
    </div>

{% endtplhandlebars %}

{% endlanguage %}
