{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "my_project_list" %}

    <div class="container section">
        <div class="wrapper">
            <ul>
                {{#each project in controller}}
                    <li>
                        <h3>
                            {{project.title}} <br />
                        </h3>
                        {{#if project.isPhasePitch}}
                            {{#linkTo "myProjectPitch" project }}
                                <span class="icon-wrench"></span>
                                {% trans "PITCH" %}
                            {{/linkTo}}
                        {{/if}}
                        {{#if project.isPhasePlan}}
                            {{#linkTo "myProjectPlan" project }}
                                <span class="icon-wrench"></span>
                                {% trans "PLAN" %}
                            {{/linkTo}}
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "my_project" %}

    {{partial "my_project_top"}}

    {{ outlet }}

{% endtplhandlebars %}


{% tplhandlebars "_my_project_top" %}

    <div class="container section">
        <div class="wrapper">
            <div class="content">
                <h1 class="main-title">
                    <img {{bindAttr src="controllers.currentUser.getAvatar" info="owner.first_name"}} width="30" height="30" />
                    {% trans "My 1%" %}
                    <em>
                        <span class="icon-chevron-right"></span>
                        {{ title }}
                    </em>
                </h1>
            </div>
            <sidebar>
                {{#linkTo project this class="button-link"}}
                    <em class="icon-eye-open"></em> View public Project Page
                {{/linkTo}}
            </sidebar>
        </div>
        <div class="wrapper">
            <ul class="manage-steps">
                {{#if isPhasePitch}}
                    {{#linkTo "myProjectPitch"}}
                        <li class="selected first">
                            <div class="inner">
                                <em class="icon-ok"></em>
                                <h4>{% trans "Project Pitch" %}</h4>
                                {{ pitch.status }}
                            </div>
                        </li>
                    {{/linkTo}}
                {{else}}
                    <li class="first">
                        <div class="inner">
                            <em class="icon-ok"></em>
                            <h4>{% trans "Project Pitch" %}</h4>
                            {{ pitch.status }}
                        </div>
                    </li>
                {{/if}}
                {{#if isPhasePlan}}
                    {{#linkTo "myProjectPlan"}}
                        <li class="selected second">
                            <div class="inner">
                                <em class="icon-pencil"></em>
                                <h4>{% trans "Project Plan" %}</h4>
                                {{ plan.status }}
                            </div>
                        </li>
                    {{/linkTo}}
                {{else}}|
                    <li class="second">
                        <div class="inner">
                            <em class="icon-pencil"></em>
                            <h4>{% trans "Project Plan" %}</h4>
                            {% trans "Not available" %}
                        </div>
                    </li>
                {{/if}}
                <li class="third">
                    <div class="inner">
                        <em class="icon-bullhorn"></em>
                        <h4>{% trans "Campaign" %}</h4>
                        {% trans "Not available" %}
                    </div>
                </li>
                <li class="fourth">
                    <div class="inner">
                        <em class="icon-wrench"></em>
                        <h4>{% trans "Execute project" %}</h4>
                        {% trans "Not available" %}
                    </div>
                </li>
                <li class="fifth">
                    <div class="inner">
                        <em class="icon-trophy"></em>
                        <h4>{% trans "Project results" %}</h4>
                        {% trans "Not available" %}
                    </div>
                </li>
            </ul>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan" %}

    <div class="container">
        <div class="wrapper dashboard">
            <div class="menu-sidebar">
                <div class="menu">
                    <div class="title">
                        <h4>
                            <em class="icon-book"></em>
                            {% trans "Project Story" %}
                        </h4>
                    </div>
                    {{#linkTo "myProjectPlan.basics" class="item"}}
                        <em class="icon-pencil"></em>
                        {% trans "Project Basics" %}
                    {{/linkTo}}
                    {{#linkTo "myProjectPlan.description" class="item"}}
                        <em class="icon-pencil"></em>
                        {% trans "Project Description" %}
                    {{/linkTo}}
                    {{#linkTo "myProjectPlan.location" class="item"}}
                        <em class="icon-pencil"></em>
                        {% trans "Location" %}
                    {{/linkTo}}
                </div>
                <br/>
                <br/>
                <div class="menu">
                    <div class="title">
                        <h4>
                            <em class="icon-book"></em>
                            {% trans "Update Organisation" %}
                        </h4>
                    </div>
                    {{#linkTo "myProjectPlan.organisation" class="item"}}
                        <em class="icon-pencil"></em>
                        {% trans "Organisation Profile" %}
                    {{/linkTo}}
                    {{#linkTo "myProjectPlan.legal_status" class="item"}}
                        <em class="icon-pencil"></em>
                        {% trans "Legal Status" %}
                    {{/linkTo}}
                    {{#linkTo "myProjectPlan.ambassadors" class="item"}}
                        <em class="icon-pencil"></em>
                        {% trans "Ambassadors" %}
                    {{/linkTo}}
                    {{#linkTo "myProjectPlan.bank" class="item"}}
                        <em class="icon-pencil"></em>
                        {% trans "Bank details" %}
                    {{/linkTo}}
                </div>

            </div>
            <form>
                {{ outlet }}
            </form>
        </div>
    </div>

{% endtplhandlebars %}



{% tplhandlebars "my_project_plan_index" %}

    <fieldset>
        <legend><strong>{% trans "Woohoo, your pitch was accepted! The world is at your feet now. Start doing your thing!" %}</strong></legend>
        <div class="form-desc">
            <br />
            <br />
            {% trans "To complete your project plan, please fill in the empty areas. Are there still some gaps? Don’t worry! We have a network full of people that are willing to help you.  The only thing you need to do is create a 1%SKILLS task ask for the right expertise." %}
            <br />
            <br />
        </div>
    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_basics" %}

    <div class="form-meta">
        <div class="form-label">{% trans "Project basics" %}</div>
        <div class="form-desc">{% trans "Need some info here..." %}</div>
    </div>

    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Be short, creative, simple and memorable." %}">
                <label class="control-label">{% trans "Title" %}</label>
                <div class="controls">
                    {{view Em.TextField valueBinding="title" placeholder="Title" classBinding="errors.title.length:error"}}
                </div>

                {{#if errors.title }}
                    <div class="errors">{{#each errors.title }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "Pitch your smart idea in one sentence." %}">
                <label class="control-label">{% trans "Pitch" %}</label>
                <div class="controls">
                    {{view Em.TextArea valueBinding="pitch" placeholder="Description" classBinding="errors.pitch.length:error"}}
                </div>

                {{#if errors.pitch }}
                    <div class="errors">{{#each errors.pitch }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "Select one of the themes." %}">
                <label class="control-label">{% trans "Theme" %}</label>
                <div class="controls">
                    {{view App.ThemeSelectView valueBinding="theme" classBinding="errors.theme.length:error"}}
                </div>

                {{#if errors.theme }}
                    <div class="errors">{{#each errors.theme }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "Pick a short, clear name." %}">
                <label class="control-label">{% trans "Short name" %}</label>
                <div class="controls">
                    {{view Em.TextField valueBinding="slug" placeholder="Short name" classBinding="errors.slug.length:error"}}
                    <div class="extra-info">
                        {% trans "Example: " %}
                        <strong>http://onepercentclub.com/#/projects/{{ slug }}</strong>
                    </div>
                </div>

                {{#if errors.slug }}
                    <div class="errors">{{#each errors.slug }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Tags" %}</label>
                <div class="controls">
                    {{view App.TagWidget tagsBinding="tags" classBinding="errors.tags.length:error"}}
                </div>

                {{#if errors.tags }}
                    <div class="errors">{{#each errors.tags }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>

    <button {{bindAttr class=":btn :btn-iconed :right isDirty::disabled"}} {{action updateRecordOnServer}}><em class="icon icon-star"></em>{% trans "Save" %}</button>

{% endtplhandlebars %}


{% tplhandlebars "my_project_plan_description" %}

    <div class="form-meta">
        <div class="form-label">{% trans "Project description" %}</div>
        <div class="form-desc">{% trans "Need some info here..." %}</div>
    </div>

    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Blow us away with the details!" %}">
                <label class="control-label">{% trans "Why, what and how" %}</label>
                <div class="controls wide">
                    {{view Em.TextArea valueBinding="description"classBinding="errors.description.length:error" rows=12}}
                </div>

                {{#if errors.description }}
                    <div class="errors">{{#each errors.description }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "What will be the Impact? How will your Smart Idea change the lives of people?" %}">
                <label class="control-label">{% trans "Effects" %}</label>
                <div class="controls wide">
                    {{view Em.TextArea valueBinding="effects" classBinding="errors.effects.length:error" rows=6}}
                </div>

                {{#if errors.effects }}
                    <div class="errors">{{#each errors.effects }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "How will this project be self-sufficient and sustainable in the long term?" %}">
                <label class="control-label">{% trans "Future" %}</label>
                <div class="controls wide">
                    {{view Em.TextArea valueBinding="future" classBinding="errors.future.length:error" rows=6}}
                </div>

                {{#if errors.future }}
                    <div class="errors">{{#each errors.future }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "Describe your target group." %}">
                <label class="control-label">{% trans "For who" %}</label>
                <div class="controls">
                    {{view Em.TextArea valueBinding="for_who" classBinding="errors.for_who.length:error"}}
                </div>

                {{#if errors.for_who }}
                    <div class="errors">{{#each errors.for_who }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "How many people do you expect to reach?" %}">
                <label class="control-label">{% trans "People reached" %}</label>
                <div class="controls">
                    {{view Em.TextField valueBinding="reach" classBinding="errors.reach.length:error"}}
                </div>

                {{#if errors.reach }}
                    <div class="errors">{{#each errors.reach }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

        </ul>
    </fieldset>

    <button {{bindAttr class=":btn :btn-iconed :right isDirty::disabled"}} {{action updateRecordOnServer}}><em class="icon icon-star"></em>{% trans "Save" %}</button>

{% endtplhandlebars %}



{% tplhandlebars "my_project_location" %}

    <div class="form-meta">
        <div class="form-label">{% trans "Project location" %}</div>
        <div class="form-desc">{% trans "So where is it all happenin'?" %}</div>
    </div>


    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Select the country." %}">
                <label class="control-label">{% trans "Country" %}</label>
                <div class="controls">
                    {{view App.CountrySelectView valueBinding="country" classBinding="errors.country.length:error"}}
                </div>
                {{#if errors.country }}
                    <div class="errors">{{#each errors.country }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
            <li class="control-group has-popover" data-content="{% trans "Select the location on the map. You can use the search to find your location." %}">
                <label class="control-label">{% trans "Location" %}</label>

                <div class="controls wide">
                    {{view App.MapPicker longitudeBinding="longitude" latitudeBinding="latitude" classBinding="errors.location.length:error"}}
                </div>

                {% comment %}
            {% endcomment %}
            </li>

        </ul>

    </fieldset>

    <button {{bindAttr class=":btn :btn-iconed :right isDirty::disabled"}} {{action updateRecordOnServer}}><em class="icon icon-star"></em>{% trans "Save" %}</button>

{% endtplhandlebars %}


{% tplhandlebars "my_pitch_index" %}

    <fieldset>
        <legend><strong>{% trans "I looooove my pitches!" %}</strong></legend>
    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "my_project_pitch" %}

    <div class="container">
        <div class="wrapper dashboard">
            <div class="menu-sidebar">
                <div class="menu">
                    <div class="title">
                        <h4>
                            <em class="icon-lightbulb"></em>
                            {% trans "Project Pitch" %}
                        </h4>
                    </div>
                    {{#linkTo "myProjectPitch.basics" class="item"}}
                        <em {{bindAttr class="validBasics:icon-ok:icon-pencil"}}></em>
                        {% trans "Project Basics" %}
                    {{/linkTo}}
                    {{#linkTo "myProjectPitch.location"  class="item"}}
                        <em {{bindAttr class="validLocation:icon-ok:icon-pencil"}}></em>
                        {% trans "Location" %}
                    {{/linkTo}}
                    {{#linkTo "myProjectPitch.submit"  class="item"}}
                        <em class="icon-star"></em>
                        {% trans "Submit" %}
                    {{/linkTo}}
                </div>
            </div>
            <form>
                {{ outlet }}
            </form>
        </div>
    </div>


{% endtplhandlebars %}


{% tplhandlebars "my_pitch_basics" %}

    <div class="form-meta">
        <div class="form-label">{% trans "Pitch basics" %}</div>
        <div class="form-desc">{% trans "Need some info here..." %}</div>
    </div>

    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Be short, creative, simple and memorable." %}">
                <label class="control-label">{% trans "Title" %}</label>
                <div class="controls">
                    {{view Em.TextField valueBinding="title" placeholder="Title" classBinding="errors.title.length:error"}}
                </div>

                {{#if errors.title }}
                    <div class="errors">{{#each errors.title }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "Pitch your smart idea in one sentence." %}">
                <label class="control-label">{% trans "Pitch" %}</label>
                <div class="controls">
                    {{view Em.TextArea valueBinding="pitch" placeholder="Description" classBinding="errors.pitch.length:error"}}
                </div>

                {{#if errors.pitch }}
                    <div class="errors">{{#each errors.pitch }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "Blow us away with the details!" %}">
                <label class="control-label">{% trans "Why, what and how" %}</label>
                <div class="controls wide">
                    {{view Em.TextArea valueBinding="description"classBinding="errors.description.length:error" rows=12}}
                </div>

                {{#if errors.description }}
                    <div class="errors">{{#each errors.description }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group has-popover" data-content="{% trans "Select one of the themes." %}">
                <label class="control-label">{% trans "Theme" %}</label>
                <div class="controls">
                    {{view App.ThemeSelectView valueBinding="theme" classBinding="errors.theme.length:error"}}
                </div>

                {{#if errors.theme }}
                    <div class="errors">{{#each errors.theme }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Tags" %} ({{tags.length}})</label>
                <div class="controls">
                    {{view App.TagWidget tagsBinding="tags" classBinding="errors.tags.length:error"}}
                </div>

                {{#if errors.tags }}
                    <div class="errors">{{#each errors.tags }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
            <li class="control-group has-popover" data-content="{% trans "What do you need to realise your smart idea?" %}">
                <label class="control-label">
                    {% trans "What do you need?" %}
                </label>

                <div class="controls">
                    {{#view Em.RadioButtonGroup name="need" selectedValueBinding="need" class="radio-group"}}
                        <div class="radio3">{{view view.RadioButton value="skills"}}<span>{% trans "Skills and expertise" %}</span></div>
                        <div class="radio3">{{view view.RadioButton value="finance"}}<span>{% trans "Crowdfunding campaign" %}</span></div>
                        <div class="radio3">{{view view.RadioButton value="both"}}<span>{% trans "Both" %}</span></div>
                    {{/view}}
                </div>
            </li>
        </ul>
    </fieldset>

    <button {{bindAttr class=":btn :btn-iconed :right isDirty::disabled"}} {{action updateRecordOnServer}}><em class="icon icon-star"></em>{% trans "Save" %}</button>

{% endtplhandlebars %}



{% tplhandlebars "my_pitch_submit" %}

    <div class="form-meta">
        <div class="form-label">{% trans "Submit Pitch" %}</div>
        <div class="form-desc">{% trans "Need some info here..." %}</div>
    </div>

    <fieldset>
        <ul>
            <li class="control-group has-popover" data-content="{% trans "Agree to the terms to submit the pitch" %}">
                <label class="control-label">
                    &nbsp;
                </label>
                <div class="controls">
                    {{#if validBasics}}
                        <h4>
                            <span class="icon-ok"></span> Basics are ok!<br/>
                        </h4>
                    {{else}}
                        <h4>
                            {{#linkTo "myProjectPitch.basics"}}Basics{{/linkTo}} still need work!
                        </h4>
                        {{#unless title}}
                            <span class="icon-ban-circle"></span> <b>Title</b> is missing<br/>
                        {{/unless}}
                        {{#unless tags}}
                            <span class="icon-ban-circle"></span> <b>Tags</b> are missing<br/>
                        {{/unless}}
                        {{#unless description}}
                            <span class="icon-ban-circle"></span> <b>Why, what and how</b> is missing<br/>
                        {{/unless}}
                        {{#unless title}}
                            <span class="icon-ban-circle"></span> <b>Title</b> is missing<br/>
                        {{/unless}}
                        {{#unless need}}
                            <span class="icon-ban-circle"></span> <b>Title</b> is missing<br/>
                        {{/unless}}
                    {{/if}}
                    {{#if validLocation}}
                        <h4>
                            <span class="icon-ok"></span> Location is ok!<br/>
                        </h4>
                    {{else}}
                        <h4>
                            {{#linkTo "myProjectPitch.basics"}}Basics{{/linkTo}} still need work!<br/>
                        </h4>
                        {{#unless latitude}}
                            <span class="icon-ban-circle"></span> <b>Map location</b> is missing<br/>
                        {{/unless}}
                        {{#unless country}}
                            <span class="icon-ban-circle"></span> <b>Country</b> are missing<br/>
                        {{/unless}}
                    {{/if}}
                </div>
            </li>

            <li class="control-group has-popover" data-content="{% trans "Agree to the terms to submit the pitch" %}">
                <div class="controls wide">
                    {{view Em.Checkbox checkedBinding="agreed" classBinding=":left errors.agreed.length:error"}}
                    <span>&nbsp;</span>
                    {% trans "I agree to the " %}
                    <a {{action "showTermsAndConditions"}}>{% trans "general terms and conditions" %}</a>
                </div>
            </li>
        </ul>

    </fieldset>

    <button {{bindAttr class=":btn :btn-iconed :right :btn-primary submit::disabled agreed::disabled"}} {{action submitPitch}}><em class="icon icon-star"></em>{% trans "Submit pitch" %}</button>

{% endtplhandlebars %}


{% tplhandlebars "my_project_pitch_review" %}

    <div class="container">
        <div class="wrapper dashboard">
            <article class="content">
                <h2>{% trans "Your pitch is in review now. We'll get back to you soon!" %}</h2>
            </article>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "my_project_pitch_rejected" %}

    <div class="container">
        <div class="wrapper dashboard">
            <article class="content">
                <h2>
                    {% trans "We're sorry, your pitch has been rejected." %}
                    {% trans "Please contact us if you need support to define your smart idea." %}
                </h2>
            </article>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "my_project_pitch_approved" %}

    <div class="container">
        <div class="wrapper dashboard">
            <article class="content">
                <h2>
                    {% trans "Yeah! Your pitch has been approved." %}<br/>
                    {% trans "You can write your {{#linkTo myProjectPlan}}Project Plan{{/linkTo}} now!" %}
                </h2>

            </article>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "map_picker" %}

    <div class="map-picker"></div>
    <div class="map-look-up">
        {{view Em.TextField valueBinding="view.lookup" placeholder="Search your location."}}
        <button {{action lookUpLocation target="view"}}>search</button>
    </div>

{% endtplhandlebars %}

