{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_preview" %}

    <li class="project-item">
    
        {{#linkTo 'project' project.getProject }}
            <span class="project-header">
            
            	<figure class="project-image">
                	<img {{bindAttr src="project.image" }} />
            	</figure>
            	
                <span class="project-title">
                	<h3>{{project.title}}</h3>
                    <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{project.country.name}}</span> 
                </span>
            </span>
            
	        <span {{bindAttr class=":project-status phase"}}>
	            {{#if project.isPhasePlan}}
                    <span class="project-phase"><span class="flaticon solid lightbulb-3"></span> <strong>{% trans "New" %}</strong> <em>{% trans "Smart Idea" %}</em></span> 
	            {{/if}}
	
	            {{#if project.isPhaseCampaign}}
                    {{#if project.campaign.money_asked}}
                        <div class="project-fund-amount-slider"><strong style="width: 0%;" class="slider-progress is-in-progress"><em class="slider-percentage">0%</em></strong></div>
                        <span class="project-fund-amount"><strong>&euro;{{localize project.campaign.money_needed}}</strong> <em>{% trans "To go" %}</em></span>
                    {{/if}}
                    {{#if project.campaign.deadline }}
                        <span class="project-days-left"><span class="flaticon solid clock-1"></span> <strong>{{project.campaign.daysToGo}}</strong> <em>{% trans "days" %}</em></span>
                    {{/if}}
	            {{/if}}
	
	            {{#if project.isPhaseAct}}
                    <span class="project-phase"><span class="flaticon solid lightbulb-3"></span> <strong>{% trans "Project funded" %}</strong> <em>{% trans "Being realized" %}</em></span>
	            {{/if}}
	            
	            {{#if project.isPhaseResults}}
                    <span class="project-phase"><span class="flaticon solid lightbulb-3"></span> <strong>{% trans "Project funded" %}</strong> <em>{% trans "Being realized" %}</em></span>
	            {{/if}}
	            
	            {{#if project.isPhaseRealized}}
	                <span class="project-phase"><span class="flaticon solid lightbulb-3"></span> <strong>{% trans "Project realized" %}</strong> <em>{% trans "See results" %}</em></span>
	            {{/if}}
	        </span>
	        
            <span class="project-description">
                {{{project.pitch}}} 
                
                <span class="project-view">{% trans "View project" %}</span>
            </span>
	        
        {{/linkTo}}
        	        
        {{#if taskCount}}
            <a class="project-tasks"><span class="flaticon solid wrench-1"></span> <strong>{{project.taskCount}}</strong> <em>{% trans "task(s) available" %}</em></a>
        {{/if}}
    </li>

{% endtplhandlebars %}


{% tplhandlebars "project_list" %}

    {{render "projectSearchForm" }}
    <div class="l-section">
        <section class="l-wrapper">
            {{#if model.isLoaded}}
                <ul id="search-results">
                    {{#each project in model}}
                        {{render "projectPreview" project}}
                    {{else}}
                        <li class="no-results">{% trans "No projects found." %}</li>
                    {{/each}}
                </ul>
            {{else}}
                <div class="is-loading-big"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Loading projects" %}</strong></div>
            {{/if}}
        </section>
    </div>
    
{% endtplhandlebars %}


{% tplhandlebars "project_search_form" %}

    <div class="l-section" id="search">
        <section class="l-wrapper">
            <form id="search-form">
                <div class="control">
                    {{view Em.TextField valueBinding="text" placeholder="Search"}}
                    <span class="flaticon stroke zoom-2"></span>
                </div>
                <div class="control">
                    {{view App.ProjectCountrySelectView valueBinding="country" }}
                    <span class="flaticon solid earth-1"></span>
                </div>
                <div class="control">
                    {{view App.ThemeSelectView valueBinding="theme" }}
                    <span class="flaticon stroke tag-2"></span>
                </div>
                <div class="control">
                    {{view App.ProjectPhaseSelectView valueBinding="phase" }}
                    <span class="flaticon stroke flag-1"></span>
                </div>
            </form>
        </section>
    </div>

    <div class="l-section">
        <section class="l-wrapper">
            <article id="search-navigation">
            	
            	<header>
                	<h2>{% trans "Results" %} <em>{{controllers.projectList.model.meta.total}}</em></h2>
                    <a {{action 'clearForm'}} class="search-reset">
                        <span class="flaticon solid x-2"></span> {% trans "Reset Search Filter" %}
                    </a>
            	</header>
                
                <div class="search-sort">
                    {% trans "Sort:" %}
                    <a {{action 'sortOrder' 'popularity'}} {{bindAttr class="orderedByPopularity:active"}}>{% trans "Most popular" %}</a>
                    {% comment %}
                        Disabled because the currently approved design does not include sorting by title.
                        Current design: https://www.dropbox.com/s/n34ndim6cdbm7vz/Project-Search-V2.png
                        <a {{action 'sortOrder' 'title'}} {{bindAttr class="orderedByTitle:active"}}>{% trans "Title" %}</a>
                    {% endcomment %}
                    <a {{action 'sortOrder' 'newest'}} {{bindAttr class="orderedByNewest:active"}}>{% trans "Newest" %}</a>
                    <a {{action 'sortOrder' 'needed'}} {{bindAttr class="orderedByNeeded:active"}}>{% trans "Almost funded" %}</a>
                    <a {{action 'sortOrder' 'deadline'}} {{bindAttr class="orderedByDeadline:active"}}>{% trans "Near deadline" %}</a>
                </div>
                
                <div class="search-pagination">
                	<span class="search-showing">{% trans "Showing" %} {{rangeStart}}-{{rangeEnd}}</span>
                	<span class="search-pages-control">
		                {{#if hasPreviousPage}}
		                    <a {{action 'previousPage'}} class="previous-page">
		                        <span class="flaticon solid left-circle-2"></span>
		                    </a>
		                {{else}}
		                	<span class="previous-page"><span class="flaticon solid left-circle-2"></span></span>
		                {{/if}}
		                
		                {{#if hasNextPage}}
		                    <a {{action 'nextPage'}} class="next-page">
		                        <span class="flaticon solid right-circle-2"></span>
		                    </a>
		                {{else}}
		                	<span class="next-page"><span class="flaticon solid right-circle-2"></span></span>
		                {{/if}}
                	</span>
                </div>
                
            </article>
        </section>
    </div>

{% endtplhandlebars %}

{% tplhandlebars "project" %}

    <div class="l-section" id="project-detail">
        <section class="l-wrapper">
        
            <figure class="project-image l-half">
                <img {{bindAttr src="plan.image.large"}} width="100%" alt="Photo" />
            </figure>

            <div class="l-half">
                
                {% comment %}
                <ul class="project-phase">
                    <li>{% trans "Pitch" %}</li>
                    <li {{bindAttr class="isPhasePlan:is-current" }}>{% trans "Plan" %}</li>
                    <li {{bindAttr class="isPhaseCampaign:is-current" }}>{% trans "Campaign" %}</li>
                    <li {{bindAttr class="isPhaseAct:is-current" }}>{% trans "Act" %}</li>
                    <li {{bindAttr class="isPhaseResults:is-current" }}>{% trans "Results" %}</li>
                </ul>
                {% endcomment %}
                
                <article class="project-info">
                    <div class="project-meta">
	                    {{#if plan.country.name}}<span class="project-location"><span class="flaticon solid location-pin-1"></span> {{plan.country.name}}</span>{{/if}}
	                    {{#if plan.theme.title}}<span class="project-theme"><span class="flaticon solid tag-2"></span> {{plan.theme.title}}</span>{{/if}}
	                </div>
	                {{view App.SocialShareView}}
                    <h1 class="project-title">{{plan.title}}</h1>
                    <p class="project-description">{{plan.pitch}}</p>
                </article>
                
            </div>
        </section>


        {{#if isFundable}}
            <section class="l-wrapper">
                <div class="project-status">
                    
                	{{#if campaign.deadline}}
                    <div class="project-days-left l-one-third">
						<strong><span class="flaticon solid clock-1"></span> {{campaign.daysToGo}}</strong>
						<em>{% trans "days to go" %}</em>
					</div>
					{{/if}}
					
					<div class="project-fund l-one-third">
                        <p class="project-fund-amount">
                            <strong class="amount-donated">&euro;{{localize campaign.money_donated}}</strong>
                            {% trans "of" %}
                            <strong class="amount-asked">&euro;{{localize campaign.money_asked}}</strong>
                            {% trans "raised" %}
                        </p>
                    
                        <div class="project-fund-amount-slider"><strong style="width: 0%;" class="slider-progress is-in-progress"><em class="slider-percentage">0%</em></strong></div>
					</div>
                    
                    <div class="project-action l-one-third">
					    <a href='#' {{ action 'addDonation' this }} class="btn btn-primary btn-iconed"><span class="flaticon solid wallet-1"></span> {% trans "Support project" %}</a>
                    </div>
				</div>
            </section>
        {{else}}
            <section class="l-wrapper">
                <div class="project-status">

                    <div class="project-days-left l-one-third">
                	{% comment %}
						<strong><span class="flaticon solid clock-1"></span>[DATE COMPLETED]</strong>
						<em>{% trans "completed" %}</em>
                	{% endcomment %}
					</div>

                    {{#if campaign}}
                        <div class="project-fund l-one-third">
                            <p class="project-fund-amount">
                                <strong class="amount-donated">&euro;{{localize campaign.money_donated}}</strong>
                                {% trans "raised" %}
                            </p>

                            <div class="project-fund-amount-slider"><strong style="width: 0%;" class="slider-progress is-in-progress"><em class="slider-percentage">0%</em></strong></div>
                        </div>
                    {{/if}}
				</div>
            </section>
        {{/if}}
    </div>

    <div class="l-section" id="project-members">
        <section class="l-wrapper">
            {{view App.ProjectMembersView}}
        </section>
    </div>

    <nav class="l-section" id="project-actions">
        <div class="l-wrapper">
        
            <ul class="tabs four">
                <li class="tab-updates">
                    {{#linkTo 'project.index'}}
                        <span class="tab-icon amount">{{wallposts.length}}</span>
                        <strong class="tab-title">
                            {% trans "Updates" %}

                            {{#if wallposts.length}}
                                {{#if wallposts.firstObject.isLoaded}}
                                    <em class="tab-subtitle">{{localize wallposts.firstObject.created formatting="X"}}</em>
                                {{else}}
                                    <em class="tab-subtitle">{% trans "Loading&#8230;" %}</em>
                                {{/if}}
                            {{else}}
                                <em class="tab-subtitle">{% trans "No updates" %}</em>
                            {{/if}}
                        </strong>
                    {{/linkTo}}
                </li>
                <li class="tab-tasks">
                    {{#if taskCount}}
                        {{#linkTo 'projectTasks'}}
                            <span class="tab-icon">{{taskCount}}</span>
                            <strong class="tab-title">Tasks <em class="tab-subtitle">{% trans "Skills needed" %}</em></strong>
                        {{/linkTo}}
                    {{else}}
                        {{#linkTo 'projectTasks'}}
                            <span class="tab-icon">0</span>
                            <strong class="tab-title">Tasks <em class="tab-subtitle">{% trans "No skills needed" %}</em></strong>
                        {{/linkTo}}
                    {{/if}}
                </li>
                <li class="tab-plan">
                    {{#linkTo "projectPlan"}}
                        <span class="tab-icon"><span class="flaticon solid document-2"></span></span>
                        <strong class="tab-title">Project Plan <em class="tab-subtitle">{% trans "Read full plan" %}</em></strong>
                    {{/linkTo}}
                </li>
            </ul>
            
        </div>
    </nav>
    {{ outlet }}


{% endtplhandlebars %}


{% tplhandlebars "project_members" %}

    <ul class="project-member-list">
        <li class="project-member-initiator">
            <ul>
                <li>
                    <a {{action 'openInBigBox' 'userModal' owner }} class="member">
                        <figure class="member-avatar"><img {{bindAttr src="owner.getAvatar"}} /></figure>
                        <h4>{% trans "Initiator" %}</h4>
                        <strong class="member-name">{{owner.full_name}}</strong>
                        <em class="member-organisation">{{organization}}</em>
                    </a>
                </li>
            </ul>
        </li>

        {{#if team_member}}
            <li class="project-member-coaches">
                <h4>{% trans "Coach" %}</h4>
                <ul>
                    <li>
                        <a class="member" {{action 'openInBigBox' 'userModal' team_member }} {{bindAttr data-content="team_member.full_name"}} data-title="1%Coach" >
                            <span class="member-avatar"><img {{bindAttr src="team_member.getAvatar"}} alt="team_member.full_name" /></span>
                        </a>
                    </li>
                </ul>
            </li>
        {{/if}}

        {{#unless isPhasePlan}}
            {{render "projectSupporterList"}}
        {{/unless}}
    </ul>

{% endtplhandlebars %}


{% tplhandlebars "project_supporter_list" %}

    {{#if supporters.length}}
        <li class="project-member-supporters">
            <ul>
                <li class="project-member-supporters-total">
                    <strong>{{supporters.meta.total}}</strong>
                    <br/>
                    <em>Total</em>
                </li>
                {{#each supporter in controller}}
                    {{view "App.ProjectSupporterView" }}
                {{/each}}
            </ul>
            <h4>{% trans "Supporters" %}</h4>
        </li>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "project_supporter" %}

    {{#if supporter.member}}
        <a class="member" {{action 'openInBigBox' 'userModal' supporter.member }} {{bindAttr data-title="supporter.member.full_name" data-content="supporter.time_since"}}>
            <span class="member-avatar"><img {{bindAttr src="supporter.member.getAvatar"}}  alt="supporter.member.full_name" /></span>
        </a>
    {{else}}
        <a class="member" data-title="guest" {{bindAttr data-content="supporter.time_since"}}>
            <span class="member-avatar"><img src="/static/assets/images/default-avatar.png"  alt="{% trans 'Guest' %}" /></span>
        </a>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "project_plan" %}
    
    <div class="l-section" id="project-plan">
        <section class="l-wrapper">
        
                <header>
                	<h1>{% trans "Project Plan" %}</h1>
                </header>
               
                {{#if description}}
                	<article>
                	    <h2>{% trans "Why, what and how?" %}</h2>
                        <p>{{{description}}}</p>
    				</article>
    			{{/if}}
    			
    			{{#if effects}}
    				<article>
                	    <h2>{% trans "Effects" %}</h3>
                            <p>{{{effects}}}</p>
                	</article>
                {{/if}}
    			
    			{{#if future}}
                	<article>
                	    <h2>{% trans "Future" %}</h2>
                        <p>{{{future}}}</p>
                	</article>
    			{{/if}}
    				
    			{{#if forWho}}
    				<article>
                	    <h2>{% trans "For who?" %}</h2>
                        <p>{{{forWho}}}</p>
    				</article>
    			{{/if}}
    			
    			{{#if reached}}
    				<article>
                	    <h2>{% trans "People reached" %}</h2>
                        <p>{{{reached}}}</p>
    				</article>
    			{{/if}}
    
    			{{#if country.name}}
    				<article>
                	    <h2>{% trans "Location" %}</h3>
    				    <p>{{country.name}}, {{country.subregion}}</p>
                        <img {{bindAttr src="view.staticMap"}} />
    				</article>
    			{{/if}}
    			
    			{{#if organization.name}}
    				<article>
                	    <h2>{% trans "Organisation" %}</h2>
    				    <h3>{{organization.name}}</h3>
                        <p>{{organization.description}}</p>
    				
        				
                        {{#if organization.website}}
                            <dl>
                                <dt><span class="flaticon solid link-1"></span> Website</dt>
                                <dd><a href="{{organization.website}}">{{organization.website}}</a></dd>
                            </dl>
                        {{/if}}
                        {{#if organization.twitter}}
                            <dl>
                                <dt><span class="flaticon social twitter-3"></span> Twitter</dt>
                                <dd><a href="http://twitter.com/{{organization.twitter}}">{{organization.twitter}}</a></dd>
                            </dl>
                        {{/if}}
                        {{#if organization.facebook}}
                            <dl>
                                <dt><span class="flaticon social facebook-3"></span> Facebook</dt>
                                <dd><a href="http://facebook.com/{{organization.facebook}}">{{organization.facebook}}</a></dd>
                            </dl>
                        {{/if}}
                        {{#if organization.skype}}
                            <dl>
                                <dt><span class="flaticon social skype-2"></span> Website</dt>
                                <dd><a href="callto:{{organization.skype}}">{{organization.skype}}</a></dd>
                            </dl>
                        {{/if}}
                        </ul>
    				</article>	
                {{/if}}
                
        </section>
    </div>

{% endtplhandlebars %}