{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_preview" %}

    <li class="item item-project">
        {{#linkTo project project.getProject}}
            <div class="header">
                <img {{bindAttr src="project.image" }} />
                <h3>
                    {{project.title}}<br/>
                    <i class="icon-globe"></i><span class="item-project-country">{{project.country.name}}</span>
                </h3>
            </div>
        {{/linkTo}}
        <div {{bindAttr class=":status phase"}}>
            {{#if project.isPhasePlan}}
                <div class="donate-status">
                    <p class="donate-amount text-center">
                        <i class="flaticon solid lightbulb-3"></i>
                        <em>{% trans "New" %}</em> {% trans "Smart Idea" %}
                    </p>
                    {{#unless task_count}}
                        <a {{action showProject project.id href=true}}>{% trans "Give your feedback" %}</a>
                    {{/unless}}
                </div>
            {{/if}}

            {{#if project.isPhaseCampaign}}
                <div class="donate-status">
                    {{#if project.campaign.money_asked}}
                        <span class="donate-slider"><strong style="width: 0;" class="donate-progress">&nbsp;</strong></span>
                        <p class="donate-amount">
                            <span class="donated">&euro;{{localize project.campaign.money_needed}}</span>
                            {% trans "TO GO" %}
                        </p>
                    {{/if}}
                    {{#if project.campaign.deadline }}
                        <p class="donate-days-left">
                            <strong><i class="flaticon solid clock-1"></i> {{ project.campaign.daysToGo }}</strong>
                            <em>{% trans "days" %}</em>
                        </p>
                    {{/if}}
                </div>
            {{/if}}

            {{#if project.isPhaseAct}}
                <div class="donate-status">
                    <span class="donate-slider"><strong style="width: 100%;" class="donate-progress-finished">&nbsp;</strong></span>
                    <p class="donate-amount text-center">
                        <em>{% trans "Fully funded" %}</em>
                        &amp; {% trans "being realized" %}
                    </p>
                </div>
            {{/if}}

            {# Is the same as phase "Act". So code can be made DRYer. #}
            {{#if project.isPhaseResults}}
                <div class="donate-status">
                    <span class="donate-slider"><strong style="width: 100%;" class="donate-progress-finished">&nbsp;</strong></span>
                    <p class="donate-amount text-center">
                        <em>{% trans "Fully funded" %}</em>
                        &amp; {% trans "being realized" %}
                    </p>
                </div>
            {{/if}}

            {{#if project.isPhaseRealized}}
                <div class="donate-status">
                    <p class="donate-amount">
                        {% trans "Project realized" %}
                    </p>

                    <a {{action showProject project.id href=true}}>{% trans "See project results" %}</a>
                </div>
            {{/if}}

            {{#if task_count}}
                <div class="project-task">
                    <a {{action showProjectTaskList project.id}}>
                        <i class="flaticon solid wrench-1"></i> <em>{{project.task_count}}</em> {% trans "task(s) available" %}
                    </a>
                </div>
            {{/if}}
        </div>
    </li>


{% endtplhandlebars %}


{% tplhandlebars "project_list" %}

    {{render "projectSearchForm" }}
    <div class="container">
        <section class="wrapper">
            <article>
                <header>
                    {{#if model.isLoaded}}
                        <ul class="results">
                            {{#each project in model}}
                                {{render "projectPreview" project}}
                            {{else}}
                                <li>{% trans "No projects found." %}</li>
                            {{/each}}
                        </ul>
                    {{else}}
                        <img src="{% get_static_prefix %}images/loading.gif" height="16px" /> {% trans "loading projects" %}
                    {{/if}}
                </header>
            </article>
        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "project_search_form" %}

    <div class="container section">
        <section class="wrapper">
            <article class="search-form">
                <div class="control">
                    <em class="icon icon-search"></em>
                    {{view Em.TextField valueBinding="text" placeholder="Text search" }}
                </div>
                <div class="control">
                    <em class="icon icon-globe"></em>
                    {{view App.ProjectCountrySelectView valueBinding="country" placeholder="Text search" }}
                </div>
                <div class="control">
                    <em class="icon icon-leaf"></em>
                    {{view App.ThemeSelectView valueBinding="theme" placeholder="Text search" }}
                </div>
                <div class="control">
                    <em class="icon icon-filter"></em>
                    {{view App.ProjectPhaseSelectView valueBinding="phase" }}
                </div>
                <div class="clear-form">
                    <a {{action clearForm}}>
                        <span class="flaticon solid x-3"></span>
                        {% trans "clear filters" %}
                    </a>
                </div>
            </article>
        </section>
    </div>

    <div class="container">
        <section class="wrapper">
            <article class="navigation">
                {{#if hasPreviousPage}}
                    <a {{action "previousPage"}} class="previous-page left button-link">
                        <i class="flaticon solid left-circle-2"></i>
                    </a>
                {{/if}}
                {{#if hasNextPage}}
                    <a {{action "nextPage"}} class="next-page right button-link">
                        <i class="flaticon solid right-circle-2"></i>
                    </a>
                {{/if}}
                <h2>{% trans "found" %} <em>{{controllers.projectList.model.meta.total}}</em> {% trans "projects" %}</h2>
                <div class="ordering button-link">
                    {% trans "Sort:" %}
                    <a {{action sortOrder 'popularity'}} {{bindAttr class="orderedByPopularity:active"}}>{% trans "Most popular" %}</a>
                    {% comment %}
                        Disabled because the currently approved design does not include sorting by title.
                        Current design: https://www.dropbox.com/s/n34ndim6cdbm7vz/Project-Search-V2.png
                        <a {{action sortOrder 'title'}} {{bindAttr class="orderedByTitle:active"}}>{% trans "Title" %}</a>
                    {% endcomment %}
                    <a {{action sortOrder 'newest'}} {{bindAttr class="orderedByNewest:active"}}>{% trans "Newest" %}</a>
                    <a {{action sortOrder 'needed'}} {{bindAttr class="orderedByNeeded:active"}}>{% trans "Almost funded" %}</a>
                    <a {{action sortOrder 'deadline'}} {{bindAttr class="orderedByDeadline:active"}}>{% trans "Near deadline" %}</a>
                </div>
                <br />
                {% trans "Showing" %} {{rangeStart}}-{{rangeEnd}}
            </article>
        </section>
    </div>

{% endtplhandlebars %}


{# TODO: Since this is a view that can be used anywhere in the application, should be moved to someother file. #}
{% tplhandlebars "social_share" %}
    <a {{action shareOnFacebook target="view"}}><i class="flaticon social facebook-4"></i></a>
    <a {{action shareOnTwitter target="view"}}><i class="flaticon social twitter-4"></i></a>
{% endtplhandlebars %}

{% tplhandlebars "project" %}

    <div class="section" id="detail">
        <div class="darken-background"></div>
        <section class="wrapper">
            <figure class="media">
                <img {{bindAttr src="plan.image.large"}} width="100%" alt="Photo" />
            </figure>

            <article>
                <ul class="project-phase">
                    <li class="item"><i class="flaticon solid checkmark-3"></i> {% trans "pitch" %}</li>
                    <li {{bindAttr class=":item isPhasePlan:project-phase-is-current" }}>{% trans "plan" %}</li>
                    <li {{bindAttr class=":item isPhaseCampaign:project-phase-is-current" }}>{% trans "campaign" %}</li>
                    <li {{bindAttr class=":item isPhaseAct:project-phase-is-current" }}>{% trans "act" %}</li>
                    <li {{bindAttr class=":item isPhaseResults:project-phase-is-current" }}>{% trans "results" %}</li>
                </ul>

                <div class="project-meta">
                    <span class="location"><em class="flaticon solid location-pin-1"></em> {{plan.country.name}}, {{plan.country.subregion}}</span>

                    <span class="theme">
                        <em class="flaticon solid feather-1"></em>
                        {{plan.theme.title}}
                    </span>

                    {% comment %}
                    <span class="tags" data-title="Tags" {{bindAttr data-content="allTags"}}>
                        <em class="flaticon solid tag-1"></em>
                        {{#each tag in plan.tags}}
                            {{tag.id}}
                        {{/each}}
                    </span>
                    {% endcomment %}
                </div>

                <h1 class="project-title">
                    {{plan.title}}
                </h1>

                <p class="project-description">{{plan.pitch}}</p>

                <div class="project-plan">
                    {{#linkTo "projectPlan"}}
                        <i class="flaticon solid open-book-4"></i>
                        {% trans "Read full project plan" %}
                    {{/linkTo}}
                </div>

                {{view App.SocialShareView classNames="project-share"}}
            </article>
        </section>

        {{#if isFundable}}
            <section class="wrapper">
                <div class="status-box">
                    <p class="donate-days-left">
                        {{#if campaign.deadline }}
                            <strong><i class="icon flaticon solid clock-1"></i> {{campaign.daysToGo}} </strong>
                            <em>{% trans "days to go" %}</em>
                        {{/if}}
                    </p>

                    <div class="donate-status">
                        <p class="donate-amount">
                                <span class="donated">&euro;{{localize campaign.money_donated}}</span>
                                {% trans "of" %}
                                <span class="asked">&euro;{{localize campaign.money_asked}}</span>
                                {% trans "raised" %}
                        </p>
                        <span class="donate-slider"><strong style="width: 40%;" class="donate-progress is-in-progress"><em class="donate-percentage">40%</em></strong></span>
                    </div>

                    <div class="donate-call-to-action">
                        {{#linkTo "currentOrder.addDonation" this class="btn btn-primary btn-iconed right"}}
                            <em class="icon flaticon solid money-1"></em> {% trans "Support this project" %}
                        {{/linkTo}}
                    </div>
                </div>
            </section>
        {{/if}}
    </div>

    <div class="section">
        <div class="wrapper">
            {{view App.ProjectMembersView}}
        </div>
    </div>

    <nav id="project-actions" class="">

        <div class="wrapper">
            <ul class="tabs">
                <li class="tab-updates">
                    {{#linkTo "project.index"}}
                        <span class="tab-icon amount">{{wallposts.length}}</span>
                        <strong class="tab-title">
                            {% trans "Project Updates" %}

                            {{#if wallposts.length}}
                                {{#if wallposts.firstObject.isLoaded}}
                                    <em class="tab-subtitle">{% trans "Last:" %} {{localize wallposts.firstObject.created formatting="X"}} </em>
                                {{else}}
                                    <em class="tab-subtitle">{% trans "..." %}</em>
                                {{/if}}
                            {{else}}
                                <em class="tab-subtitle">{% trans "No updates yet" %}</em>
                            {{/if}}
                        </strong>
                    {{/linkTo}}
                </li>
                <li class="tab-tasks">
                    {{#linkTo "projectTaskList"}}
                        <span class="tab-icon"><em class="flaticon solid wrench-1"></em></span>
                        <strong class="tab-title">Tasks <em class="tab-subtitle">Expertise needed</em></strong>
                    {{/linkTo}}
                </li>
                <li class="tab-plan">
                    {{#linkTo "projectPlan"}}
                        <span class="tab-icon"><em class="flaticon solid document-2"></em></span>
                        <strong class="tab-title">Project Plan <em class="tab-subtitle">Read full plan</em></strong>
                    {{/linkTo}}
                </li>
            </ul>
        </div>
    </nav>
    {{ outlet }}


{% endtplhandlebars %}


{% tplhandlebars "project_members" %}

    <div class="member-box">
        <ul>
            <li class="member-initiator">
                <ul>
                    <li>
                        <a {{action openInBigBox "userModal" owner }} class="member">
                            <img {{bindAttr src="owner.getAvatar" info="owner.first_name"}} width="45" height="45" />
                            <h4>Initiator</h4>
                            <strong class="member-name">{{owner.full_name}}</strong>
                            <em class="member-organisation">{{organization}}</em>
                        </a>
                    </li>
                </ul>
            </li>
            {% comment %}
            <li class="member-project-team">
                <h4>Project Team</h4>
                <ul>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="owner.picture" info="owner.full_name"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"  info="ciew.content.owner.fullname"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>

            {% endcomment %}

            {{#if team_member}}
                <li class="member-coaches">
                    <h4>Coach</h4>
                    <ul>
                        <li>
                            <a class="member" {{action openInBigBox "userModal" team_member }} {{bindAttr data-content="team_member.full_name"}} data-title="1%COACH" >
                                <img {{bindAttr src="team_member.getAvatar"}} width="45" height="45" alt="Photo" />
                            </a>
                        </li>
                    </ul>
                </li>
            {{/if}}

            {% comment %}

            <li class="member-promotors">
                <h4>Promotors</h4>
                <ul>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquotbottome>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"}} width="45" height="45" alt="Photo" />
                            <span class="popup">username
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>

            {% endcomment %}

            {{#if isPhaseCampaign}}
                {{render "projectSupporterList"}}
            {{/if}}
        </ul>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "project_supporter_list" %}

    {{#if supporters.length}}
        <li class="show-all-supporters supporters-amount" class="not-implemented">
            <a href="#" class="member">
                <strong>{{supporters.length}}</strong>
                <br/>
                <em>Total</em>
            </a>
        </li>

        <li class="member-supporters">
            <ul>
                {{#each supporter in controller}}
                    {{view "App.ProjectSupporterView" }}
                {{/each}}
            </ul>
            <h4>{% trans "Supporters" %}</h4>
        </li>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "project_supporter" %}

    {{#if supporter.member}}
        <a class="member" {{bindAttr data-title="supporter.member.full_name" data-content="supporter.time_since"}}>
            <img {{bindAttr src="supporter.member.getAvatar"}} width="45" height="45" alt="Photo" />
        </a>
    {{else}}
        <a class="member" data-title="guest" {{bindAttr data-content="supporter.time_since"}}>
            <img src="/static/assets/images/default-avatar.png" width="45" height="45" alt="Photo" />
        </a>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "project_plan" %}

    <section class="wrapper">
        <div class="wall">
            <article>
                <h3>{% trans "Project plan" %}</h3>
                {{theme.title}}<br/>
                {{#each tag in tags}}
                    <a>
                        {{tag.id}}
                    </a>
                {{/each}}

                <h3>{% trans "Why, what and how?" %}</h3>
                {{{description}}}

                <h3>{% trans "Effects" %}</h3>
                {{{effects}}}

                <h3>{% trans "Future" %}</h3>
                {{{future}}}

                <h3>{% trans "For who?" %}</h3>
                {{{forWho}}}

                <h3>{% trans "People reached" %}</h3>
                {{{reached}}}

                <h3>{% trans "Why, what, how?" %}</h3>
                {{{description}}}

                <h3>{% trans "Location" %}</h3>
                {{country.name}}, {{country.subregion}}<br />
                <img {{bindAttr src="view.staticMap"}} />

                <h3>{% trans "Organisation" %}</h3>
                {{organization.name}}<br/>
                {{organization.description}}<br/>
                {{#if organization.website}}
                    <span class="icon-link"></span> {{organization.website}}<br/>
                {{/if}}
                {{#if organization.twitter}}
                    <span class="icon-twitter"></span> {{organization.twitter}}<br/>
                {{/if}}
                {{#if organization.facebook}}
                    <span class="icon-facebook"></span> {{organization.facebook}}<br/>
                {{/if}}
                {{#if organization.skype}}
                    <span class="icon-skype"></span> {{organization.skype}}<br/>
                {{/if}}

            </article>
        </div>

        {% comment %}
        <div class="sidebar grey task-detail">
            <h3>{{ controller.model.length }} {% trans "Project Plan" %}</h3>
            <ul>
                <li>Description</li>
                <li>Budget</li>
                <li>Theme</li>
            </ul>
        </div>
        {% endcomment %}

    </section>

{% endtplhandlebars %}