{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_list" %}

    <div class="container">
        <section class="wrapper">
            <article>
                <header>
                    <h2>{% trans "Projects" %}</h2>

                    {{#if model.isLoaded}}
                    <ul>
                        {{#each project in controller}}
                            <li>{{#linkTo "project" project}}{{project.title}}{{/linkTo}}</li>
                        {{else}}
                            <li>{% trans "No projects found." %}</li>
                        {{/each}}
                    </ul>
                    {{else}}
                        <img src="{% get_static_prefix %}images/loading.gif" height="16px" /> {% trans "loading projects" %}
                    {{/if}}

                </header>
            </article>
        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "project" %}

    <div class="section" id="detail">

        <section class="wrapper">
            <figure class="media">
                <img {{bindAttr src="plan.image"}} width="100%" alt="Photo" />
            </figure>

            <article>
                <div class="project-meta">
                    <span class="location"><em class="icon-globe"></em> {{plan.country.name}}, {{plan.country.subregion}}</span>
                    <span class="tags">
                      <em class="icon-tag"></em>
                    {%comment%}
                     TODO: add css for comma after tag:
                     http://stackoverflow.com/questions/10403003/how-do-i-add-a-separator-between-elements-in-an-each-loop-except-after-the
                    {%endcomment%}
                        {{#each tag in plan.tags}}
                            {{tag.id}}
                        {{/each}}
                    </span>
                </div>

                <h1 class="project-title">
                    {{plan.title}}
                </h1>

                <p class="project-description">{{plan.pitch}}</p>

                {{#if isPhaseCampaign}}
                    <div class="status-box">
                        <div class="donate-status">
                            <p class="donate-amount">
                                    <span class="donated">&euro;{{localize money_donated}}</span>
                                    {% trans "of" %}
                                    <span class="asked">&euro;{{localize money_asked}}</span>
                                    {% trans "raised" %}
                            </p>
                            <span class="donate-slider"><strong style="width: 40%;" class="donate-progress is-in-progress"><em class="donate-percentage">40%</em></strong></span>
                        </div>

                        <p class="donate-days-left">
                            <strong><em class="icon-time"></em> ??</strong>
                            <em>{% trans "days to go" %}</em>
                        </p>
                    </div>
                {{/if}}

            </article>

        {{view App.ProjectMembersView}}

        </section>

    </div>

    <nav id="project-actions" class="section">

        <div class="wrapper">

            <ul class="tabs">
                <li class="tab-updates">
                    {{#linkTo "project"}}
                        <em class="tab-icon amount">{{wallposts.length}}</em>
                        <strong class="tab-title">
                            Project Updates
                            {{#if wallposts.length}}
                                {{#if wallposts.firstObject.isLoaded}}
                                    <em class="tab-subtitle">{% trans "Last:" %} {{localize wallposts.firstObject.created formatting="X"}} </em>
                                {{/if}}
                            {{else}}
                                <em class="tab-subtitle">{% trans "No updates yet" %}</em>
                            {{/if}}
                        </strong>
                    {{/linkTo}}
                </li>
                <li class="tab-tasks">
                    {{#linkTo "projectTaskList"}}
                        <em class="tab-icon amount">2</em>
                        <strong class="tab-title">Tasks <em class="tab-subtitle">Expertise needed</em></strong>
                    {{/linkTo}}
                </li>
                <li class="tab-plan">
                    <a href="#">
                        <em class="tab-icon icon-file-alt"></em>
                        <strong class="tab-title">Project Plan <em class="tab-subtitle">Read full plan</em></strong>
                    </a>
                </li>
            </ul>

            <div class="project-action">
                {{#if isFundable}}
                    {{#linkTo "currentOrder.addDonation" this class="btn btn-primary btn-iconed right"}}
                        <em class="icon icon-money"></em> {% trans "Support this project" %}
                    {{/linkTo}}
                {{else}}
                {{/if}}
            </div>

        </div>

    </nav>
    {{ outlet }}


{% endtplhandlebars %}


{% tplhandlebars "project_members" %}

    <div class="member-box">
        <ul>
            <li class="member-initiator">
                <h4>Initiator</h4>
                <ul>
                    <li>
                        <a {{action openInBigBox "userModal" owner }} class="member">
                            <img {{bindAttr src="owner.getAvatar" info="owner.first_name"}} width="45" height="45" />
                            <strong class="member-name">{{owner.full_name}}</strong>
                            <em class="member-organisation">{{organization}}</em>
                        </a>
                    </li>
                </ul>
            </li>
            {% comment %}
            <li class="member-project-team">
                <h4>Project Team</h4>
                <ul>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="owner.picture" info="owner.full_name"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"  info="ciew.content.owner.fullname"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>

            {% endcomment %}

            {{#if team_member}}
                <li class="member-coaches">
                    <h4>Coach</h4>
                    <ul>
                        <li>
                            <a class="member" {{action openInBigBox "userModal" team_member }} {{bindAttr data-content="team_member.full_name"}} data-title="1%COACH" >
                                <img {{bindAttr src="team_member.getAvatar"}} width="45" height="45" alt="Photo" />
                            </a>
                        </li>
                    </ul>
                </li>
            {{/if}}

            {% comment %}

            <li class="member-promotors">
                <h4>Promotors</h4>
                <ul>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"}} width="45" height="45" alt="Photo" />
                            <span class="popup">
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquotbottome>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="member">
                            <img {{bindAttr src="view.content.owner.picture"}} width="45" height="45" alt="Photo" />
                            <span class="popup">username
                                <span class="action"><strong>Marieke</strong> just donated</span>
                                <span class="comment"><blockquote>Great Project, go for it!</blockquote></span>
                            </span>
                        </a>
                    </li>
                </ul>
            </li>

            {% endcomment %}

            {{#if isPhaseCampaign}}
                <li class="member-supporters">
                    <h4>{% trans "Supporters" %}</h4>
                    {{render "projectSupporterList"}}
                </li>
                <li class="show-all-supporters supporters-amount" class="not-implemented">
                    <a href="#" class="member">
                        <strong>{{supporters_count}}</strong>
                        <br/>
                        <em>Total</em>
                    </a>
                </li>
            {{/if}}
        </ul>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "project_supporter_list" %}
    <ul>
        {{#each supporter in controller}}
            {{view "App.ProjectSupporterView" }}
        {{/each}}
    </ul>
{% endtplhandlebars %}


{% tplhandlebars "project_supporter" %}
    {{#if supporter.member}}
        <a class="member" {{bindAttr data-title="supporter.member.full_name" data-content="supporter.time_since"}}>
            <img {{bindAttr src="supporter.member.getAvatar"}} width="45" height="45" alt="Photo" />
        </a>
    {{else}}
        <a class="member" data-title="guest" {{bindAttr data-content="supporter.time_since"}}>
            <img src="/static/assets/images/default-avatar.png" width="45" height="45" alt="Photo" />
        </a>
    {{/if}}

{% endtplhandlebars %}


