{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "tag_widget" %}

    <ul class="tags">
        {{#each tags}}
            <li class="tag"><em class="flaticon solid tag-2"></em> {{this.id}} <em {{action removeTag this target="view" }} class="flaticon solid x-1 delete"></em></li>
        {{/each}}
    </ul>

    {{view App.TagField valueBinding="view.new_tag" placeholder="Add a tag" class="tag"}} <button class="btn btn-modest" {{action addTag target=view}}>Add</button>

{% endtplhandlebars %}


{% tplhandlebars "social_share" %}

    <a {{action shareOnFacebook target="view"}}><i class="flaticon social facebook-4"></i></a>
    <a {{action shareOnTwitter target="view"}}><i class="flaticon social twitter-4"></i></a>

{% endtplhandlebars %}

