{% load templatetag_handlebars %}
{% load i18n %}


{% tplhandlebars "voucher" %}

    <div class="container section voucher-banner">

        <header class="wrapper">
            <div class="voucher-banner-title">
                <h1 class="">{% trans "Give" %}</h1>
                <h1 class="">{% trans "a gift" %}</h1>
                <h1 class="">{% trans "that keeps on giving" %}</h1>
                <h1 class="pink">{% trans "Give a" %}</h1>
                <h1 class="pink">{% trans "1%GIFTCARD" %} </h1>
            </div>

            <div class="voucher-banner-calltoaction">


                {{#linkTo "voucherRedeem" class="btn btn-large btn-iconed"}}
                    <i class="icon icon-credit-card"></i>

                    <div class="btn-content">
                        <div class="btn-title">{% trans "I received a 1%GIFTCARD" %}</div>
                        <div class="btn-subtitle">{% trans "Support a project by cashing your voucher" %}</div>
                    </div>
                {{/linkTo}}



                {{#linkTo "currentOrder.voucherList" class="btn btn-large btn-iconed btn-primary"}}
                    <i class="icon icon-gift"></i>

                    <div class="btn-content">
                        <div class="btn-title">{% trans "I'd like to buy a 1%GIFTCARD" %}</div>
                        <div class="btn-subtitle">{% trans "Order your digital email-vouchers right here!" %}</div>
                    </div>

                {{/linkTo}}

                <p class="text-right voucher-custom">
                    <i class="icon icon-certificate"></i> {% trans "Need a (large) batch or custom cards?" %}
                    {{#linkTo "customVoucherRequest" }}
                        {% trans "Contact us!" %}
                    {{/linkTo}}
                </p>
            </div>
        </header>

    </div>

    <div class="container">
        <section class="wrapper">
            <ul class="voucher-instructions">
                <li>
                    <div class="voucher-ins-step">1</div>
                    <h2>{% trans "Give" %}</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta, nisi a fermentum vehicula, sapien dui facilisis arcu, in ullamcorper nisl purus id neque.</p>
                </li>

                <li>
                    <div class="voucher-ins-step">2</div>
                    <h2>{% trans "Choose" %}</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta, nisi a fermentum vehicula, sapien dui facilisis arcu, in ullamcorper nisl purus id neque.</p>
                </li>

                <li>
                    <div class="voucher-ins-step">3</div>
                    <h2>{% trans "Follow" %}</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta, nisi a fermentum vehicula, sapien dui facilisis arcu, in ullamcorper nisl purus id neque.</p>
                </li>
            </ul>
        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "voucherRedeem" %}

    <div class="container section">
        <div class="wrapper">
            <div class="content">
                <h1 class="main-title">{% trans "Redeem your 1%GIFTCARD and support a project!" %}</h1>
            </div>
            <sidebar>
                {{#linkTo "currentOrder.donationList" tagName="a" class="button-link"}}
                    <em class="icon-credit-card"></em> {% trans "Switch to donations" %}
                {{/linkTo}}
            </sidebar>
        </div>
    </div>

    <div class="container">

        <section class="wrapper">

            <ul class="voucher-steps">
                {{#view App.OrderNavView classNames="support selected"}}
                    {{#linkTo "voucherRedeem"}}Support{{/linkTo}}
                {{/view}}
                {{#view App.OrderNavView classNames="profile"}}
                    <a>{% trans "Profile" %}</a>
                {{/view}}
            </ul>

            {{#if voucher.isLoaded}}
                <form class="labeled">

                    <fieldset>
                        <ul>
                            <li class="control-group control-group-lonely">
                                <label class="control-label">{% trans "Gift card" %} {{voucher.code}} <i class="icon-ok"></i></label>
                            </li>
                        </ul>
                    </fieldset>

                    <fieldset>
                        <ul id="donation-projects">
                            {{#each voucher.donations}}
                                {{view App.VoucherDonationView content=this}}
                            {{else}}
                                <a {{action openInBox "voucherPickProject"}} href="#">
                                    <div class="form-meta">
                                        <p class="form-label">{% trans "Choose a project to support with this gift card" %}</p>
                                        <p class="form-desc">{% trans "You can make it work!" %}</p>
                                    </div>
                                </a>
                            {{/each}}
                        </ul>
                    </fieldset>

                    <fieldset>
                        <ul>
                            <li class="form-summary">
                                {% trans "Total" %}
                                <span class="currency right">&euro;{{voucher.amount}}</span>
                            </li>
                        </ul>
                    </fieldset>


                    {{#each voucher.donations}}
                        <a {{action openInBox "voucherPickProject"}} class="button-link">
                            <em class="icon-retweet"></em> {% trans "Choose different project" %}
                        </a>
                    {{/each}}

                    {{#if voucher.donations.length}}
                        <button {{action "redeemVoucher" target="controller"}} type="submit" class="btn btn-iconed right">
                            <i class="icon icon-chevron-right"></i>
                            {% trans "Submit" %}
                        </button>
                    {{else}}
                        <button disabled class="btn btn-iconed right">
                            <i class="icon icon-chevron-right"></i>
                            {% trans "Submit" %}
                        </button>
                    {{/if}}
                </form>

            {{else}}
                <form class="labeled">
                    <fieldset>
                        <ul>
                            <li class="control-group">
                                <label class="control-label">{% trans "Gift card code" %}</label>

                                <div class="controls">
                                    {{view Em.TextField valueBinding="code" placeholder="Your code" classBinding="error:error"}}
                                </div>

                                {{#if error}}
                                    <div class="errors"><p>{% trans "Unfortunately we couldn't find a gift card with this code. Try entering the code again or send us a message and we will sort it out." %}</p></div>
                                {{/if}}
                            </li>
                        </ul>
                    </fieldset>

                    <button {{action "submitVoucherCode" target="controller"}} type="submit" class="btn btn-iconed right">
                        <i class="icon icon-chevron-right"></i>
                        {% trans "Submit" %}
                    </button>
                </form>
            {{/if}}

        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "voucher_redeem_done" %}

    <div class="container section">

        <header class="wrapper">
            <h1 class="">YOU MAKE IT WORK!</h1>
        </header>

    </div>

{% endtplhandlebars %}


{% tplhandlebars "voucher_donation" %}

    {{#linkTo "project" project}}
        <img {{bindAttr src="project.image_square" alt="project.title"}} class="project-image" />
        <h1>{{project.title}} <em class="country"><i class="icon-globe"></i> {{project.country.name}}</em></h1>
    {{/linkTo}}
    <div class="donation-amount">
        <div class="amount-needed">
            {# TODO: Create computed property to generate remaining money after donation #}
            <strong>&euro; {{project.campaign.amount_needed}}</strong> {% trans "is still needed"%}
        </div>
    </div>

    {# add this for multiple donations per voucher #}
    {# <a class="remove" {{action "delete" this target="view" }}>{% trans "Remove" %}</a> #}

{% endtplhandlebars %}


{% tplhandlebars "custom_voucher_request" %}

    <div class="container section">
        <header class="wrapper">
            <div class="content">
                <h1 class="">{% trans "Contact us for 1%GIFTCARDS" %}</h1>
                {% trans "Please send us a message and tell us your wishes and we will contact you as soon as possible. Or call us directly on (+31) 20 715 8980." %}
            </div>
        </header>
    </div>
    <br/>
    <div class="container">
        <section class="wrapper">
            <form>
                <fieldset>
                    <ul>

                        <li class="control-group">
                            <label class="control-label">{% trans "Value of Gift Cards" %}</label>
                            <div class="controls">
                                {{view Em.TextField valueBinding="value"}}
                            </div>
                            {{#if errors.amount }}
                                <div class="errors">{{#each errors.amount}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">{% trans "Number of Gift Cards" %}</label>
                            <div class="controls">
                                {{view Em.TextField valueBinding="number" type="number" step="10"}}
                            </div>
                            {{#if errors.amount }}
                                <div class="errors">{{#each errors.amount}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">{% trans "Your name" %}</label>
                            <div class="controls">
                                {{view Em.TextField valueBinding="contact_name" }}
                            </div>
                            {{#if errors.contact_name }}
                                <div class="errors">{{#each errors.contact_name}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">{% trans "Your email" %}</label>
                            <div class="controls">
                                {{view Em.TextField valueBinding="contact_email"}}
                            </div>
                            {{#if errors.contact_email }}
                                <div class="errors">{{#each errors.contact_email}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">{% trans "Organisation" %}</label>
                            <div class="controls">
                                {{view Em.TextField valueBinding="organization"}}
                            </div>
                            {{#if errors.organization }}
                                <div class="errors">{{#each errors.organization}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">{% trans "Phone number" %}</label>
                            <div class="controls">
                                {{view Em.TextField valueBinding="contact_phone"}}
                            </div>
                            {{#if errors.contact_phone }}
                                <div class="errors">{{#each errors.contact_phone}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        <li class="control-group">
                            {% trans "Anything else you’d like to ask? Send us a message!" %}
                            {{view Em.TextArea valueBinding="message" classBinding="errors.message.length:error"}}
                        </li>
                        <li class="control-group">
                            <a class="right button" {{action sendRequest target="controller"}}>{% trans "Send message" %}</a>
                        </li>
                    </ul>
                </fieldset>

            </form>
        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "custom_voucher_request_done" %}

    <div class="container section">

        <header class="wrapper">
            <h1 class="">{% trans "Thanks for your request. We'll get back to you soon!" %}</h1>
            <h2 class="green">{% trans "YOU MAKE IT WORK!" %}</h2>
        </header>

    </div>

{% endtplhandlebars %}



{% tplhandlebars "voucher_pick_project" %}
    <h2>Pick a project</h2>
    <ul>
        {{#each project in projects}}
            <li>
                {{#linkTo "voucherRedeem.add" project}}
                    {{ project.title }}
                {{/linkTo}}
            </li>
        {{/each}}
    </ul>
{% endtplhandlebars %}
