{% load i18n bb_ember static %}

{# Move this to a generic location #}
{% tplhandlebars "components/bb-modal" %}
    <div class="modal large" id="project-select">
        <div class="modal-header">
            {{header}}
            <a class="close" {{action 'close'}} rel="close">×</a>
        </div>

        <div class="modal-body">
            {{ yield }}
        </div>
        {{#if hasCloseButton}}
            <div class="modal-footer">
                <button class="btn btn-iconed btn-close btn-primary" {{action 'close'}}>
                    <span class="flaticon solid x-1"></span>
                    {% trans "Close" %}
                </button>
            </div>
        {{/if}}
    </div>
{% endtplhandlebars %}


{% tplhandlebars "userDonation" %}

<div id="account">

    <div class="l-section account-header">
        <nav class="l-wrapper">    
            <figure class="account-avatar"><img {{bindAttr src="controllers.currentUser.getAvatar"}} /></figure>
            
            <header class="account-title">
                <h2>{% blocktrans %}My 1%{% endblocktrans %}  <em class="account-subtitle">{% trans "Donations" %}</em></h2>
            </header>
            
            <ul class="tabs three">
                <li class="tab-item">
                    {{#linkTo "userMonthlyProjects" }}
                        <em class="tab-icon"><span class="flaticon solid wallet-1"></span></em>
                        <strong class="tab-title">
                            {% trans "Monthly Donation" %}
                            <em class="tab-subtitle">{% trans "Select Projects" %}</em>
                        </strong>
                    {{/linkTo}}
                </li>
    
                <li class="tab-item">
                    {{#linkTo "userMonthlyProfile" }}
                        <em class="tab-icon"><span class="flaticon solid wallet-1"></span></em>
                        <strong class="tab-title">
                            {% trans "Donation Profile" %}
                            <em class="tab-subtitle">{% trans "Payment Details" %}</em>
                        </strong>
                    {{/linkTo}}
                </li>
    
                <li class="tab-item first">
                    {{#linkTo "userDonationHistory" }}
                        <em class="tab-icon"><span class="flaticon solid wallet-1"></span></em>
                        <strong class="tab-title">
                            {% trans "Donations" %}
                            <em class="tab-subtitle">{% trans "Donation History" %}</em>
                        </strong>
                    {{/linkTo}}
                </li>
            </ul>
        </nav>
    </div>
        
    <div class="l-section account-details">
        {{ outlet }}
    </div>
    
</div>

{% endtplhandlebars %}


{% tplhandlebars "userDonationHistory" %}

<section class="l-wrapper">
    <div class="l-full">
        
        <header class="page-header">
            <h1>{% trans "Order History" %}</h1>
        </header>
        
        {{#if model.isLoaded }}
        
            <table class="fund-history">
                {{#each order in controller}}
                <tr>
                    <td class="fund-history-date">{{localize order.created formatting='d'}}</td>
                    <td class="fund-history-type">{{#if order.recurring }} {% trans "Monthly Donation" %} {{ else }} {% trans "Single Donation" %} {{/if}}</td>
                    <td class="fund-history-total">&euro;{{ order.total }},-</td>
                    <td>
                        <table>
                            {{#each donation in order.donations}}
                            <tr>
                                <td class="fund-history-project"><a {{action showProject donation.project.id}}>{{donation.project.title}}</a></td>
                                <td class="fund-history-amount">&euro;{{ donation.amount }},-</td>
                            </tr>
                            {{/each}}
                        </table>
                    </td>
                </tr>
                {{/each}}
            </table>
        {{else}}
            <div class="is-loading-small"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Loading order history&#8230;" %}</strong></div>
        {{/if}}
            
    </div>
</section>
{% endtplhandlebars %}


{% tplhandlebars "userMonthlyProfile" %}

    <section class="l-wrapper">
        <div class="l-content">
            <form>
                {{#if model}}
                    <legend>
                        <strong>{% trans "Edit your payment info" %}</strong>
                        <p>{% trans "Here you can change your bank account info and monthly donations." %}</p>
                    </legend>

                    <fieldset>
                        <ul>
                            <li class="control-group">
                                <label class="control-label">{% trans "Account Name" %}</label>
                                <div class="controls">
                                    {{view Em.TextField valueBinding="name" placeholder="Full name as it appears on your bank account" classBinding="errors.name.length:error"}}
                                </div>
                                {{#if errors.name }}
                                    <div class="has-errors">{{#each errors.name }}<p>{{this}}</p>{{/each}}</div>
                                {{/if}}
                            </li>

                            <li class="control-group">
                                <label class="control-label">{% trans "Account Number" %}</label>
                                <div class="controls">
                                    {{view Em.TextField valueBinding="account" placeholder="Your bank account number" classBinding="errors.account.length:error"}}
                                </div>
                                {{#if errors.account }}
                                    <div class="has-errors">{{#each errors.account }}<p>{{this}}</p>{{/each}}</div>
                                {{/if}}
                            </li>

                            <li class="control-group">
                                <label class="control-label">{% trans "Account City" %}</label>
                                <div class="controls">
                                    {{view Em.TextField valueBinding="city" placeholder="City registered on your bank account" classBinding="errors.city.length:error"}}
                                </div>
                                {{#if errors.city }}
                                    <div class="has-errors">{{#each errors.city }}<p>{{this}}</p>{{/each}}</div>
                                {{/if}}
                            </li>

                        </ul>
                    </fieldset>

                    {{#if saved }}
                        <div class="is-saved"><span class="flaticon solid checkmark-1"></span> <strong>{% trans "Monthly settings saved" %}</strong></div>
                    {{/if}}

                    <button {{bindAttr class=":btn :btn-iconed :btn-primary :btn-save isDirty::disabled"}} {{action 'save' model}}>
                        <span class="flaticon solid checkmark-1"></span>
                        {% trans "Save" %}
                    </button>
                {{/if }}
            </form>
        </div>
    </section>

{% endtplhandlebars %}


{% tplhandlebars "userMonthlyProjects" %}
    <section class="l-wrapper">
        <div class="l-content">
            
            <header class="page-header">
            {{#if payment.active}}
                <h1>{% trans "My monthly donation" %}</h1>
                <p></p>
            {{else}}
                {# Could use payment.isNew if we want to show a different page for new and stopped recurring donations #}
                {# New recurring donation #}
                <h1>{% blocktrans %}Support 1%Projects monthly{% endblocktrans %}</h1>
                {% blocktrans %}
<p>Do you like to support projects regularly on 1%Club? But are you too busy to select a new project each time again?</p>
<p>No worries! Just set a monthly donation.</p>

<p>
    There are two ways:
    <ol>
        <li>
            <h3>Top 3 Projects</h3>
            Follow the 'wisdom of the crowd' and donate to the 3 projects that are most successful that month. And give them an extra boost!
        </li>
        <li>
            <h3>Pick your own project(s)</h3>
            Select one or more projects yourself that you want to support every month. You can adjust your support all the time, as you like.
        </li>

    </ol>
</p>
<p>We will send you an email every month to update you what project(s) received your 1% support!</p>
                {% endblocktrans %}
                <a {{action 'toggleActive'}} class="btn btn-iconed btn-primary"><span class="flaticon solid checkmark-1"></span> {% trans "Yes, I want to set a monthly donation" %}</a>

            {{/if}}
            </header>
            
            <form id="fund-monthly">
                {{#if payment.active}}
                
                    {{#if donations.length}}
                        <legend>
                            <strong>{% blocktrans %}Your monthly donation will go to the project(s) you've selected here:{% endblocktrans %}</strong>
                        </legend>
                    {{else}}
                        <legend class="fund-empty">
                            <strong>{% blocktrans %}Your monthly donation will go to the top 3 projects.{% endblocktrans %}</strong>
                            <p>{% trans "The three most popular projects at this moment are:" %}</p>
                        </legend>
                    {{/if}}
                
                    <ul class="project-list">
                        {{#each donation in donations }}
                            {{render "monthlyDonation" donation}}
                        {{else}}
                            {{#each project in topThreeProjects }}
                                <li class="project-list-item project-top3">
                                    
                                    <a {{action "showProject" project.getProject}} class="project-header">
                                        <figure class="project-image">
                                            <img {{bindAttr src="project.image" alt="project.title"}} />
                                        </figure>
                                        <h2 class="project-title">
                                            {{ project.title }}
                                            <em class="project-location">
                                                <span class="flaticon solid location-pin-1"></span> {{project.country.name}}
                                            </em>
                                        </h2>
                                    </a>
                                    
                                    <div class="fund-amount">
                                        <strong class="fund-amount-needed">&euro; {{ project.campaign.money_needed }}</strong> {% trans "is still needed"%}
                                    </div>
                                </li>
                            {{/each}}
                        {{/each}}
                    </ul>
                    
                    <fieldset class="fund-total">
                        {{#if showTopThreeProjects }}
                            <div class="fund-total-label">&nbsp;</div>
                        {{else}}
                            <div class="fund-total-label">{% trans "Total" %}</div>
                        {{/if}}
                        <div class="fund-amount-control">
                            {{#each error in payment.errors.amount }}
                                <span class="has-errors">{{ error }}</span>
                            {{/each}}
                            <label for="fund-amount-1">{% trans "Divide to projects" %}</label>
                            <span class="currency"><em>&euro; </em>
                                {{view Em.TextField type="number" class="fund-amount-input" id="fund-amount-1" step="5" name="fund-amount-1" size="8" maxlength="4" valueBinding="payment.amount"}}
                            </span>
                        </div>
                    </fieldset>
                    
                     <a {{action 'openModal' 'projectPicker'}} class="btn-link btn-add">
                        <span class="flaticon solid plus-2"></span>
                        {{#if donations.length }}
                            {%trans "Add another project" %}
                        {{else}}
                            {%trans "Select a project yourself" %}
                        {{/if}}
                    </a>

                    {{#unless addressComplete}}
                        <h2>{% blocktrans %}My address{% endblocktrans %}</h2>
                        <fieldset>
                            <ul>

                                <li class="control-group">
                                    <label class="control-label">
                                        {% trans "Address" %}
                                    </label>

                                    <div class="controls">
                                        {{view Em.TextField valueBinding="address.line1" classBinding="address.errors.line1.length:error"}}
                                    </div>

                                    {{#if address.errors.line1}}
                                        <div class="has-errors">{{#each address.errors.line1}}<p>{{this}}</p>{{/each}}</div>
                                    {{/if}}
                                </li>
                                <li class="control-group">
                                    <label class="control-label">
                                        {% trans "City" %}
                                    </label>

                                    <div class="controls">
                                        {{view Em.TextField valueBinding="address.city" classBinding="address.errors.city.length:error"}}
                                    </div>

                                    {{#if address.errors.city}}
                                        <div class="has-errors">{{#each address.errors.city}}<p>{{this}}</p>{{/each}}</div>
                                    {{/if}}
                                </li>
                                <li class="control-group">
                                    <label class="control-label">
                                        {% trans "Postal Code" %}
                                    </label>

                                    <div class="controls">
                                        {{view Em.TextField valueBinding="address.postal_code" classBinding="address.errors.postal_code.length:error"}}
                                    </div>

                                    {{#if address.errors.postal_code}}
                                        <div class="has-errors">{{#each address.errors.postal_code}}<p>{{this}}</p>{{/each}}</div>
                                    {{/if}}

                                </li>

                                <li class="control-group">
                                    <label class="control-label">
                                        {% trans "Country" %}
                                    </label>

                                    <div class="controls">
                                        {{view App.CountryCodeSelectView valueBinding="address.country" classBinding="address.errors.country.length:error"}}
                                    </div>

                                    {{#if address.error.country}}
                                        <div class="has-errors">{{#each address.errors.country}}<p>{{this}}</p>{{/each}}</div>
                                    {{/if}}
                                </li>

                            </ul>
                        </fieldset>

                    {{/unless}}

                    
                    {{#if payment.isIncomplete}}
                    <div class="fund-monthly-details">
                        <h2>{% blocktrans %}My payment details{% endblocktrans %}</h2>
                        <p>{% blocktrans %}Please fill in your bank details{% endblocktrans %}.</p>
                        <fieldset>
                            <ul>
                                <li class="control-group">
                                    <label class="control-label">{% trans "Account Name" %}</label>
                                    <div class="controls">
                                        {{view Em.TextField valueBinding="payment.name" placeholder="Full name as it appears on your bank account" classBinding="payment.errors.name.length:error"}}
                                    </div>
                                    {{#if payment.errors.name }}
                                        <div class="has-errors">{{#each payment.errors.name }}<p>{{this}}</p>{{/each}}</div>
                                    {{/if}}
                                </li>

                                <li class="control-group">
                                    <label class="control-label">{% trans "Account Number" %}</label>
                                    <div class="controls">
                                        {{view Em.TextField valueBinding="payment.account" placeholder="Your bank account number" classBinding="payment.errors.account.length:error"}}
                                    </div>
                                    {{#if payment.errors.account }}
                                        <div class="has-errors">{{#each payment.errors.account }}<p>{{this}}</p>{{/each}}</div>
                                    {{/if}}
                                </li>

                                <li class="control-group">
                                    <label class="control-label">{% trans "Account City" %}</label>
                                    <div class="controls">
                                        {{view Em.TextField valueBinding="payment.city" placeholder="City registered on your bank account" classBinding="payment.errors.city.length:error"}}
                                    </div>
                                    {{#if payment.errors.city }}
                                        <div class="has-errors">{{#each payment.errors.city }}<p>{{this}}</p>{{/each}}</div>
                                    {{/if}}
                                </li>

                            </ul>
                        </fieldset>
                    </div>
                    {{/if}}
                {{/if}}
                
                {{#if payment.active}}
                <button {{bindAttr class=":btn :btn-iconed :btn-primary :btn-save shouldSave::disabled"}} {{action 'save' model}}>
                    <span class="flaticon solid checkmark-1"></span>
                    {% trans "Save" %}
                </button>
                {{/if}}

            </form>
        </div>

        <div class="l-sidebar">
            {{#if payment.active}}
                <a class="btn-link fund-monthly-cancel" {{action 'toggleActive'}}>
                    <span class="flaticon solid x-2"></span>
                    {% trans "Cancel my monthly donation" %}
                </a>
            {{/if}}
        </div>
    </section>

    {{#bb-modal id="projectPicker" class="large compact"}}
        {{render "monthlyProjectList" }}
    {{/bb-modal}}

{% endtplhandlebars %}


{% tplhandlebars "monthlyProjectList" %}
    {{render "monthlyProjectSearchForm" }}
    <article>
        <header>
            <ul id="search-results">
                {{#each project in model}}
                    {{render "monthlyProjectPreview" project}}
                {{else}}
                    <li class="no-results">{% trans "No projects found." %}</li>
                {{/each}}
            </ul>
            </header>
    </article>
{% endtplhandlebars %}


{% tplhandlebars "monthlyDonation" %}

    {{#linkTo 'project' project class="project-header" }}
        <figure class="project-image">
            <img {{bindAttr src="project.plan.image.square" alt="project.title"}} />
        </figure>
        <h2 class="project-title">
            {{ project.title }}
            <em class="project-location">
                <span class="flaticon solid location-pin-1"></span> {{ project.plan.country.name }}
            </em>
        </h2>
    {{/linkTo}}

    <div class="fund-amount">
        <strong class="fund-amount-needed">&euro; {{ project.campaign.money_needed }}</strong> {% trans "is still needed"%}
        
        <div class="fund-amount-divided">
            {{#each error in errors.amount}}
                <span class="has-errors">{{ error }}</span>
            {{/each}}
            <strong>&euro; {{ amount }}</strong>
        </div>
    </div>
    
    <a {{ action "deleteDonation" this target="view" }} class="manage-delete"><span class="flaticon solid x-2"></span> <strong>{% trans "Delete" %}</strong></a></li>

{% endtplhandlebars %}

{% tplhandlebars "monthlyProjectPreview" %}

     <li class="project-item project-item-small">
    
        <a {{action 'addProjectToMonthly' project.getProject}}>
            <span class="project-header">
            
            	<figure class="project-image">
                	<img {{bindAttr src="project.image" }} />
            	</figure>
            	
                <span class="project-title">
                	<h3>{{project.title}}</h3>
                    <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{project.country.name}}</span> 
                </span>
            </span>
            
	        <span class="project-status campaign">
	            {{#if project.isPhasePlan}}
                    <span class="project-phase"><span class="flaticon solid lightbulb-3"></span> <strong>{% trans "New" %}</strong> <em>{% trans "Smart Idea" %}</em></span> 
	            {{/if}}
	
	            {{#if project.isPhaseCampaign}}
                    {{#if project.campaign.money_asked}}
                        <div class="project-fund-amount-slider"><strong style="width: 0%;" class="slider-progress is-in-progress"><em class="slider-percentage">0%</em></strong></div>
                        <span class="project-fund-amount"><strong>&euro;{{localize project.campaign.money_needed}}</strong> <em>{% trans "To go" %}</em></span>
                    {{/if}}
                    {{#if project.campaign.deadline }}
                        <span class="project-days-left"><span class="flaticon solid clock-1"></span> <strong>{{project.campaign.daysToGo}}</strong> <em>{% trans "days" %}</em></span>
                    {{/if}}
	            {{/if}}
	        </span>
	        
            <span class="project-description">{{{pitch}}}</span>
	        
        </a>
    </li>

{% endtplhandlebars %}


{% tplhandlebars "monthlyProjectSearchForm" %}

    <div id="search">
        <section>
            <form id="search-form">
                <div class="control">
                    {{view Em.TextField valueBinding="text" placeholder="Search"}}
                    <span class="flaticon stroke zoom-2"></span>
                </div>
                <div class="control">
                    {{view App.ProjectCountrySelectView valueBinding="country" }}
                    <span class="flaticon solid earth-1"></span>
                </div>
                <div class="control">
                    {{view App.ThemeSelectView valueBinding="theme" }}
                    <span class="flaticon stroke tag-2"></span>
                </div>
            </form>
        </section>
    </div>

    <div>
        <section>
            <article id="search-navigation">
            	
            	<header>
                	<h4>{% trans "Found" %} <em>{{controllers.monthlyProjectList.model.meta.total}}</em></h4>
                    <a {{action 'clearForm'}} class="search-reset">
                        <span class="flaticon solid x-2"></span> {% trans "Reset Search Filter" %}
                    </a>
            	</header>
                
                <div class="search-sort">
                    {% trans "Sort:" %}
                    <a {{action 'sortOrder' 'popularity'}} {{bindAttr class="orderedByPopularity:active"}}>{% trans "Most popular" %}</a>
                    {% comment %}
                        Disabled because the currently approved design does not include sorting by title.
                        Current design: https://www.dropbox.com/s/n34ndim6cdbm7vz/Project-Search-V2.png
                        <a {{action 'sortOrder' 'title'}} {{bindAttr class="orderedByTitle:active"}}>{% trans "Title" %}</a>
                    {% endcomment %}
                    <a {{action 'sortOrder' 'newest'}} {{bindAttr class="orderedByNewest:active"}}>{% trans "Newest" %}</a>
                    <a {{action 'sortOrder' 'needed'}} {{bindAttr class="orderedByNeeded:active"}}>{% trans "Almost funded" %}</a>
                    <a {{action 'sortOrder' 'deadline'}} {{bindAttr class="orderedByDeadline:active"}}>{% trans "Near deadline" %}</a>
                </div>
                
                <div class="search-pagination">
                	<span class="search-showing">{% trans "Showing" %} {{rangeStart}}-{{rangeEnd}}</span>
                	<span class="search-pages-control">
		                {{#if hasPreviousPage}}
		                    <a {{action 'previousPage'}} class="previous-page">
		                        <span class="flaticon solid left-circle-2"></span>
		                    </a>
		                {{else}}
		                	<span class="previous-page"><span class="flaticon solid left-circle-2"></span></span>
		                {{/if}}
		                
		                {{#if hasNextPage}}
		                    <a {{action 'nextPage'}} class="next-page">
		                        <span class="flaticon solid right-circle-2"></span>
		                    </a>
		                {{else}}
		                	<span class="next-page"><span class="flaticon solid right-circle-2"></span></span>
		                {{/if}}
                	</span>
                </div>
                
            </article>
        </section>
    </div>

{% endtplhandlebars %}

