{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "member_profile" %}
    <div class="mp-sidebar">
        <img {{bindAttr src="picture" info="first_name"}} width="100" height="100" />

        <h2>{{ first_name }} {{ last_name }}</h2>

        <p class="mp-member-since">{% trans "Member since" %} {{ member_since }}</p>

        <p class="mp-organization"></p>
    </div>

    <div class="mp-content">
        <h3>{% trans "About" %}</h3>
        <p>{{ about }} </p>

        <h4>{% trans "IS A 1%MEMBER BECAUSE" %}</h4>
        <p>{{ why }} </p>

        <div class="mp-meta">
            {{#if working_location }}
                <div class="mp-meta-item">
                    <i class="icon-map-marker"></i>
                    <span class="key">{% trans "Location" %}</span>
                    <span class="value">{{ working_location }}</span>
                </div>
            {{/if}}

            {{#if contribution }}
                <div class="mp-meta-item">
                    <i class="icon-wrench"></i>
                    <span class="key">{% trans "Expertise" %}</span>
                    <span class="value">{{ contribution }}</span>
                </div>
            {{/if}}

            {{#if availability }}
                <div class="mp-meta-item">
                    <i class="icon-time"></i>
                    <span class="key">{% trans "Time available" %}</span>
                    <span class="value">{{ availability }}</span>
                </div>
            {{/if}}
        </div>
    </div>
{% endtplhandlebars %}
