{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "user" %}

<div class="container">
    <div id="profile-actions" class="section">
        <div class="wrapper">
            <div class="profile-actions-meta">
                <img {{bindAttr src="controllers.currentUser.getAvatar"}} />
                <div class="profile-actions-meta-title">
                    {% trans "My Profile" %}
                    <a {{action openInBigBox "userModal" controllers.currentUser.content }} class="button-link">
                        <i class="icon-eye-open"></i>
                        {% trans "Preview my profile" %}
                    </a>
                </div>
            </div>

            <ul class="tabs">
                <li class="tab-item">
                    {{#linkTo userProfile }}
                        <em class="tab-icon amount"><i class="icon-user"></i></em>
                        <strong class="tab-title">{% trans "Profile info" %} <em class="tab-subtitle">{% trans "Public info" %}</em></strong>
                    {{/linkTo}}
                </li>

                <li class="tab-item">
                    {{#linkTo userSettings }}
                        <em class="tab-icon amount"><i class="icon-cog"></i></em>
                        <strong class="tab-title">{% trans "Account" %} <em class="tab-subtitle">{% trans "Settings" %}</em></strong>
                    {{/linkTo}}
                </li>
            </ul>
        </div>
    </div>

    {# Outlet for user/profile and user/settings #}
    {{ outlet }}

    <br>
</div>

{% endtplhandlebars %}

{% tplhandlebars "userProfile" %}

<section class="wrapper">
    <div class="content">
        {{#if isLoaded}}
            <form>
                <div class="form-meta">
                    <div class="form-label">{% trans "Edit your profile" %}</div>
                    <div class="form-desc">{% trans "Only 1%Club can see your personal details. They won't be published anywhere on the 1%Club website." %}</div>
                </div>

                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Name" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="first_name" placeholder="First name" class="inline-prepend" classBinding="errors.first_name.length:error"}}

                                {{view Em.TextField valueBinding="last_name" placeholder="Surname" class="inline-append" classBinding="errors.last_name.length:error"}}
                            </div>

                            {# TODO: Error Handling #}
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Profile Picture" %}
                            </label>

                            <div class="controls profile-pic-uploader">
                                <img {{bindAttr src="getAvatar"}} class="preview" />

                                <a class="btn btn-iconed btn-uploader">
                                    {{view App.UploadFileView contentBinding="this" name="picture" id="picture" accept="image/*"}}
                                    <i class="icon icon-upload"></i>
                                    {% trans "Upload picture" %}
                                </a>
                            </div>
                        </li>
                    </ul>
                </fieldset>

                <hr class="form-divider">

                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "About Yourself" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextArea valueBinding="about" maxlength="265" placeholder="Tell us a bit about yourself so we can get to know you!" classBinding="errors.about.length:error"}}
                            </div>

                            {{#if errors.about}}
                                <div class="errors">{{#each errors.about}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Why are you a member?" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextArea valueBinding="why" maxlength="265" placeholder="Tell the world why you chose to join 1%CLUB!" classBinding="errors.why.length:error"}}
                            </div>

                            {{#if errors.why}}
                                <div class="errors">{{#each errors.why}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Your website" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="website" placeholder="http://" classBinding="errors.website.length:error"}}
                            </div>

                            {{#if errors.website}}
                                <div class="errors">{{#each errors.website}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Location" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="location" classBinding="errors.location.length:error"}}
                            </div>

                            {{#if errors.location}}
                                <div class="errors">{{#each errors.website}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                    </ul>
                </fieldset>

                <hr class="form-divider">

                <fieldset>
                    <legend>
                        <strong>{% trans "1%SKILLS" %}</strong>
                        <p>{% trans "If you have any skills or experience that you think could help a smart idea (For example: if you’re a great graphic designer or an awesome accountant) please add them here." %}</p>
                    </legend>

                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Time available" %}
                            </label>

                            <div class="controls">
                                {{view Em.Select
                                    contentBinding="timeAvailableList"
                                    optionValuePath="content.value"
                                    optionLabelPath="content.name"
                                    valueBinding="availability"}}
                            </div>

                            {{#if errors.availability}}
                                <div class="errors">{{#each errors.availability}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                    </ul>
                </fieldset>

                {{#if saved}}
                    <span class="left"><i class="icon-ok"> {% trans "Profile saved" %}</i></span>
                {{/if}}

                <button class="btn btn-iconed btn-primary right" {{action 'save' model}}>
                    <i class="icon icon-star"></i>
                    {{saveButtonText}}
                </button>
            </form>
        {{else}}
            <img src="{% get_static_prefix %}images/loading.gif" height="16px" /> {% trans "loading profile" %}
        {{/if}}
    </div>
</section>

{% endtplhandlebars %}

{% tplhandlebars "userSettings" %}

<section class="wrapper">
    <div class="content">
        {{#if isLoaded}}
            <form>
                <div class="form-meta">
                    <div class="form-label">{% trans "Edit your account" %}</div>
                    <div class="form-desc">{% trans "These are the details we currently have for you – update or change them below." %}</div>
                </div>

                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Email Address" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="email" classBinding="errors.email.length:error"}}
                            </div>

                            {{#if errors.email}}
                                <div class="errors">{{#each errors.email}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                    </ul>
                </fieldset>

                <hr class="form-divider">

                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "I'd like to receive email about" %}
                            </label>

                            <div class="controls">
                                <label class="checkbox">
                                    {{view Em.Checkbox checkedBinding="newsletter" }}
                                    <span for="optionsCheckboxes1">{% trans "1%Newsletters" %}</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </fieldset>

                <hr class="form-divider">

                <fieldset>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Account type" %}
                            </label>

                            <div class="controls">
                                {{view Em.Select
                                    contentBinding="userTypeList"
                                    optionValuePath="content.value"
                                    optionLabelPath="content.name"
                                    valueBinding="user_type"}}
                            </div>

                            {{#if errors.user_type}}
                                <div class="errors">{{#each errors.user_type}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "I want to share" %}
                            </label>

                            <div class="controls">
                                <label class="checkbox">
                                    {{view Em.Checkbox checkedBinding="share_time_knowledge" }}
                                    <span for="optionsCheckboxes1">{% trans "Time & Knowledge" %}</span>
                                </label>
                                <label class="checkbox">
                                    {{view Em.Checkbox checkedBinding="share_money" }}
                                    <span for="optionsCheckboxes1">{% trans "Finances" %}</span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </fieldset>

                <hr class="form-divider">

                <fieldset>
                    <legend>
                        <strong>{% trans "Personal Details" %}</strong>
                        <p>{% trans "Only 1%CLUB can see your personal details. They won’t be published anywhere on the 1%CLUB website." %}</p>
                    </legend>
                    <ul>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Address Line 1" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="line1" classBinding="errors.line1.length:error"}}
                            </div>

                            {{#if errors.line1}}
                                <div class="errors">{{#each errors.line1}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Address Line 2" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="line2" classBinding="errors.line2.length:error"}}
                            </div>

                            {{#if errors.line2}}
                                <div class="errors">{{#each errors.line2}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "City" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="city" classBinding="errors.city.length:error"}}
                            </div>

                            {{#if errors.city}}
                                <div class="errors">{{#each errors.city}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Province / State" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="state" classBinding="errors.state.length:error"}}
                            </div>

                            {{#if errors.state}}
                                <div class="errors">{{#each errors.state}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Postal Code" %}
                            </label>

                            <div class="controls">
                                {{view Em.TextField valueBinding="postal_code" classBinding="errors.postal_code.length:error"}}
                            </div>

                            {{#if errors.state}}
                                <div class="errors">{{#each errors.state}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}

                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Country" %}
                            </label>

                            <div class="controls">
                                {{view App.CountryCodeSelectView valueBinding="country" placeholder="Country" classBinding="errors.country.length:error"}}
                            </div>

                            {{#if error.country}}
                                <div class="errors">{{#each errors.country}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Gender" %}
                            </label>

                            <div class="controls">
                                {{#view Em.RadioButtonGroup name="gender" selectedValueBinding="gender" class="radio-group-horizontal"}}
                                    <div class="radio3">{{view view.RadioButton value="female"}}<span>{% trans "Female" %}</span></div>
                                    <div class="radio3">{{view view.RadioButton value="male"}}<span>{% trans "Male" %}</span></div>
                                    <div class="radio3">{{view view.RadioButton value=""}}<span>{% trans "Unset" %}</span></div>
                                {{/view}}
                            </div>
                        </li>

                        <li class="control-group">
                            <label class="control-label">
                                {% trans "Date of birth" %}
                            </label>

                            <div class="controls">
                                {{view App.DatePicker valueBinding="birthdate" classBinding="errors.birthdate.length:error"}}
                            </div>

                            {{#if errors.birthdate}}
                                <div class="errors">{{#each errors.birthdate}}<p>{{this}}</p>{{/each}}</div>
                            {{/if}}
                        </li>
                    </ul>
                </fieldset>

                {{#if saved}}
                    <span class="left"><i class="icon-ok"> {% trans "Account settings saved" %}</i></span>
                {{/if}}

                <button class="btn btn-iconed btn-primary right" {{action 'save' model}}>
                    <i class="icon icon-star"></i>
                    {{saveButtonText}}
                </button>
            </form>
        {{else}}
            <img src="{% get_static_prefix %}images/loading.gif" height="16px" /> {% trans "loading settings" %}
        {{/if}}
    </div>
</section>

{% endtplhandlebars %}

{% tplhandlebars "signup" %}

<div class="container section">
    <div class="wrapper">
        {{partial signup_content}}
        {{partial signup_sidebar}}
    </div>
</div>

{% endtplhandlebars %}

{% tplhandlebars "_signup_content" %}
<div class="content">
    <h1>{% trans "Become a 1%Member" %}</h1>

    <p>{% trans "1%CLUB is the platform that connects people with smart ideas in developing countries with people, money and knowledge around the world. We are talking about sustainable projects that stimulate the self-reliance of individuals anywhere in the world and improve their standard of living." %}</p>

    {{#if isUserCreated}}
        <h1>{% trans "Thanks for signing up!" %}</h1>

        <p>{% trans "We've sent you an email. Please click <strong>Activate Profile</strong> in the email we just sent you." %}</p>

    {{else}}
        <form class="form-signup">
            <div class="control-group">
                <label class="control-label">
                    {% trans "Name" %}
                </label>

                <div class="controls">
                    {{view Em.TextField valueBinding="first_name" placeholder="First name" class="inline-prepend" classBinding="errors.first_name.length:error"}}

                    {{view Em.TextField valueBinding="last_name" placeholder="Surname" class="inline-append" classBinding="errors.last_name.length:error"}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">
                    {% trans "Email" %}
                </label>

                <div class="controls">
                    {{view Em.TextField valueBinding="email" type="email" classBinding="errors.email.length:error"}}
                </div>

                {{#if errors.email}}
                    <div class="errors">{{#each errors.email}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </div>

            <div class="control-group">
                <label class="control-label">
                    {% trans "Password" %}
                </label>

                <div class="controls">
                    {{view Em.TextField valueBinding="password" type="password" classBinding="errors.password.length:error"}}
                </div>

                {{#if errors.password}}
                    <div class="errors">{{#each errors.password}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </div>

            <button class="btn btn-iconed btn-primary right" {{action 'createUser' model}}>
                <i class="icon icon-group"></i>
                {% trans "SIGNUP" %}
            </button>
        </form>
    {{/if}}
</div>
{% endtplhandlebars %}

{% tplhandlebars "_signup_sidebar" %}
<div class="sidebar">
    <div class="widget widget-login">
        <i class="icon-lock"></i>

        <a {{action openInBox "login"}} class="highlight">
            <strong>{%  trans "ALREADY HAVE AN ACCOUNT?" %}</strong>
        </a>

        <p>{% trans "Login here" %}</p>
    </div>

    <div class="widget widget-member-advantage">
        <div class="widget-icon">
            <i class="icon-heart-empty"></i>
        </div>

        <div class="widget-header">
            {% trans "Why should I join 1%CLUB?" %}
        </div>

        <div class="widget-body">
            <ul>
                <li>{% trans "Receive regular updates on the progress of projects you support" %}</li>
                <li>{% trans "Donate easily to projects" %}</li>
                <li>{% trans "Connect with other members" %}</li>
            </ul>
        </div>
    </div>
</div>
{% endtplhandlebars %}

{% tplhandlebars "user_modal" %}
    <div class="user-modal-sidebar">
        <img {{bindAttr src="getAvatar" info="first_name"}} width="100" height="100" />

        <h2>{{ first_name }} {{ last_name }}</h2>

        <p class="um-member-since">{% trans "Member since" %} {{user_since}}</p>
    </div>

    <div class="user-modal-content">
        {{#if about }}
            <h3>{% trans "About" %}</h3>
            <p>{{ about }} </p>
        {{/if}}

        {{#if why }}
            <h4>{% trans "IS A 1%MEMBER BECAUSE" %}</h4>
            <p>{{ why }} </p>
        {{/if}}

        <div class="um-list">
            {{#if location }}
                <div class="um-list-item">
                    <i class="icon-map-marker"></i>
                    <span class="key">{% trans "Location" %}</span>
                    <span class="value">{{ location }}</span>
                </div>
            {{/if}}

            {{#if availability }}
                <div class="um-list-item">
                    <i class="icon-time"></i>
                    <span class="key">{% trans "Time available" %}</span>
                    <span class="value">{{ availability }}</span>
                </div>
            {{/if}}
        </div>

        <div class="um-meta">
            {{#if website }}
                <span class="um-meta-item website">
                    <a {{bindAttr href="website"}} target="_blank"><i class="icon-link"></i>  {{website}}</a>
                </span>
            {{/if}}
        </div>
    </div>
{% endtplhandlebars %}


{% tplhandlebars "request_password_reset" %}

    <div class="form">
        <div class="modal-header">
            <h3>{% trans "Forgot your password?" %}</h3>
        </div>

        <div class="modal-body">
            <p>{% trans "Leave your email address and we'll send you a link to set a new password." %}</p>
            <div class="control-group">
                <div class="alert alert-error hidden" id="passwordResetError">
                    {{error}}
                </div>
            </div>
            <div class="control-group">
                <div class="control-label">{% trans "Email address" %}</div>
                <div class="controls">
                    <input id="passwordResetEmail" type="text" />
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <p class="left">
                {% trans "Need help?" %}
                <a href="mailto:info@1procentclub.nl">{% trans "Contact us!" %}</a>
            </p>

            <a href="#" class="btn btn-iconed btn-secondary" rel="secondary">
                <i class="icon icon-ok"></i>
                {% trans "Reset" %}
            </a>
        </div>
    </div>

{% endtplhandlebars %}

{% tplhandlebars "password_reset" %}

<div class="modal">
    <div class="modal-header">
        <h3>{% trans "Reset your password" %}</h3>
    </div>

    <div class="modal-body">
        <form>
            <div class="control-group">
                <div class="control-label">{% trans "New password" %}</div>

                <div class="controls">
                    {{view Em.TextField type="password" valueBinding="new_password1" classBinding="errors.new_password1.length:error"}}
                </div>

                {{#if errors.new_password1}}
                    <div class="errors">{{#each errors.new_password1}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </div>

            <div class="control-group">
                <div class="control-label">{% trans "Confirm new password" %}</div>

                <div class="controls">
                    {{view Em.TextField type="password" valueBinding="new_password2" classBinding="errors.new_password2.length:error"}}
                </div>
            </div>

            {{#if errors.new_password2}}
                {{#each errors.new_password2}}
                    <div class="alert alert-error">
                        {{this}}
                    </div>
                {{/each}}
            {{/if}}
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-iconed right" {{action 'resetPassword' model}} {{bindAttr disabled="resetDisabled"}}>
            <i class="icon icon-ok"></i>
            {% trans "Reset password" %}
        </button>
    </div>
</div>

<div class="modal-backdrop"></div>

{% endtplhandlebars %}