{% load i18n bb_ember static %}

{% tplhandlebars "ticker" %}
    <style>
        #content {
            margin-top: 0px !important;
        }
        ul.donation-projects {
            list-style: none;
            margin: 0px;
        }
        ul.donation-projects li {
            background: none;
            padding: 20px;
            margin: 0px;
            clear: both;
        }
        ul.donation-projects li h2 {
            margin: 0px;
        }
        ul.donation-projects li img.project-image {
            height: 140px;
            float: right;
        }
        ul.donation-projects li img.member-image {
            height: 140px;
            float: left;
            margin-right: 30px;
        }

        ul.donation-projects li .amount {
            font-size: 80px;
            float: right;
            color: #FF61CA;
            font-weight: bold;
            padding: 60px 30px 0px 30px;
        }
        ul.donation-projects li .date {
            color: #888;
        }

        ul.donation-projects li .project-title {
            max-width: 1400px;
        }

    </style>


    <ul class="donation-projects" >
        {{#each donation in controller}}
            <li class="donation-project">
                <img {{bindAttr src="donation.project.image" alt="project.title"}} class="project-image" />
                <img {{bindAttr src="donation.user.avatar" alt="project.title"}} class="member-image"  />
                <a {{action 'playSound'}}>
                    <strong class="amount">&euro;{{ donation.amount }}</strong>
                </a>
                <h2>
                    {{#if donation.user.full_name}}
                        {{ donation.user.full_name }}<br />
                    {{else}}
                        <i>-anonymous-</i><br/>
                    {{/if}}
                    <span class="date">{{ localize donation.created  formatting="X" }}</span><br/>
                    <div class="project-title">{{ donation.project.title }}</div>
                </h2>

            </li>
        {{/each}}
    </ul>
{% endtplhandlebars %}
