{% load templatetag_handlebars %}
{% load i18n %}

{% tplhandlebars "_news_header" %}

    <div class="l-section">
        <section class="l-wrapper">
            <header>
                <h1>{% blocktrans %}1%News{% endblocktrans %}</h1>
            </header>
        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "news_index" %}

    {% trans "Loading the latest news" %}

{% endtplhandlebars %}


{% tplhandlebars "news_item" %}

        <header class="blog-header">
            <h1>{{ title}}</h1>
            <a {{action 'openInBigBox' 'userModal' author}} class="member">
                <figure class="member-avatar"><img {{ bindAttr src="author.getAvatar" }} alt="Avatar"></figure>
                <strong class="member-name">{{ author.full_name }}</strong>
            </a>
            <em class="timestamp">{{ localize publicationDate formatting="X" }}</em>
        </header>

        {{{ body }}}
        
{% endtplhandlebars %}


{% tplhandlebars "news" %}

    <section class="l-wrapper">
    
	        <article class="l-content">
	            {{outlet}}
	        </article>
    	
	        <sidebar class="l-sidebar blog-nav">
	        
                <h3>{% trans "More news" %}</h3>
	            <ul>
	                {{#each model}}
	                    <li>
	                        <a {{action 'showNews' this.id}} class="blog-navigation-item">
	                            <strong class="blog-title">{{title}}</strong> <em class="blog-timestamp">{{localize publicationDate formatting="X"}}</em>
	                        </a>
	                    </li>
	                {{/each}}
	            </ul>
	            
	            <div class="blog-pagination">
		            {{#if controller.hasPrevious}}
		                <a {{action 'previousNews'}} class="blog-pagination-previous">
		                    <span class="flaticon solid left-circle-2"></span>
		                    {% trans "previous 5" %}
		                </a>
		            {{/if}}
		            {{#if controller.hasNext}}
		                <a {{action 'nextNews'}} class="blog-pagination-next">
		                    {% trans "next 5" %}
		                    <span class="flaticon solid right-circle-2"></span>
		                </a>
		            {{/if}}
	            </div>
	            
	        </sidebar>
    	</div>
    </section>

{% endtplhandlebars %}

