{% load templatetag_handlebars %}
{% load i18n %}

{% tplhandlebars "_news_header" %}

    <div class="container section">
        <section class="wrapper">
            <div class="content">
                <h1>{% trans "1%NEWS" %}</h1>
            </div>
        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "news_index" %}

    {% trans "Loading the latest news" %}

{% endtplhandlebars %}


{% tplhandlebars "news_item" %}

        <header>
            <h3>{{ title}}</h3>
            <a {{action openInBigBox "userModal" author}} class="user">
                <span class="user-img"><img {{ bindAttr src="author.getAvatar" }} width="100%" alt="Avatar"></span>
                <strong>{{ author.full_name }}</strong>
            </a>
            <small class="timestamp">{{ localize publicationDate formatting="X" }}</small>
        </header>

        <div class="content">
            {{{ body }}}
        </div>

{% endtplhandlebars %}


{% tplhandlebars "news" %}

    <section class="wrapper">
        <article class="blogpost">
            {{outlet}}
        </article>

        <sidebar class="blogpost-filter">
            <ul>
                {{#each model}}
                    <li>
                        <a {{action showNews this.id}}>
                            <strong>{{title}}</strong>
                        </a>
                        <br/>
                        <em>{{localize publicationDate formatting="X"}}</em>
                    </li>
                {{/each}}
            </ul>
            <br /><br />
            {{#if controller.hasPrevious}}
                <a {{action previousNews}} class="pager left">
                    <span class="flaticon solid left-circle-2"></span>
                    {% trans "Previous" %}
                </a>
            {{/if}}
            {{#if controller.hasNext}}
                <a {{action nextNews}} class="pager right">
                    {% trans "Next" %}
                    <span class="flaticon solid right-circle-2"></span>
                </a>
            {{/if}}
        </sidebar>
    </section>

{% endtplhandlebars %}

