{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "wallpost_reaction" %}

	<span class="user-img">
        <a {{action openInBox "memberProfile" author}} class="user">
            <img {{ bindAttr src="author.getAvatar" }} width="100%" alt="Avatar" />
        </a>
    </span>
	<div class="reaction">
	
        <a {{action openInBox "memberProfile" author}} class="user">
            <em class="user-type not-implemented">{%  trans "Member" %}</em>
            <strong class="user-name">{{ author.full_name }}</strong>
            <em class="timestamp">{{ localize created formatting="X" }}</em>
        </a>
        
        {{#if isAuthor}}
            <ul class="manage">
                {% comment %}
                    <li class=" not-implemented"><a href="#"><em class="icon-edit"></em> {% trans "Edit" %}</a></li>
                {% endcomment %}
                <li class="manage-remove"><a {{ action "deleteReaction" target="view" }}><em class="icon-trash"></em> {% trans "Delete" %}</a></li>
            </ul>
        {{/if}}
		{{{ text }}}
	</div>

{% endtplhandlebars %}


{% tplhandlebars "wallpost_reaction_list" %}

    {# We need to use 'content' here (i.e. we can't use 'controller'). #}
    {{#each content itemController="wallPostReaction"}}
        {{view "App.WallPostReactionView" content=this}}
    {{/each}}

{% endtplhandlebars %}


{% tplhandlebars "wallpost_reaction_new" %}

    <fieldset>
    <ul>
        {{#if controllers.currentUser.isAuthenticated }}
            <li {{bindAttr class="errors.text.length:error"}}>
                <span class="user-img">
                    <img {{bindAttr src="controllers.currentUser.avatar" title="controllers.currentUser.fullname"}} width="100%" alt="Avatar" />
                </span>

                {{#each errors.text}}
                    <span class="error">{{this}}</span>
                {{/each}}
                {{view "Em.TextArea" placeholder="Leave a reaction"  valueBinding="content.text" name="reaction"}}
            </li>
        {{else}}
            <a href="/accounts/login">{% trans "Login" %}</a> {% trans "or become a" %} <a href="/accounts/signup">{% trans "member" %}</a> {% trans "to leave a comment." %}
        {{/if}}

    </ul>
    </fieldset>
    <button class="btn" type="submit" id="reaction-post">Post</button>

{% endtplhandlebars %}



