{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "wallpost_reaction" %}

	<li class="reaction">
	    <header class="reaction-header">
        
            <div class="reaction-member">

                <a {{action openInBigBox "memberProfile" author}} class="member">
                    <span class="member-avatar">
                        <img {{ bindAttr src="author.getAvatar" }} alt="{{ author.full_name }}" />
                    </span>
                    <strong class="member-name">{{ author.full_name }}</strong>
                </a>
            
            </div>

            <div class="reaction-meta">
                <em class="timestamp">{{ localize created formatting="X" }}</em>
                {{#if isAuthor}}
                    <a {{ action "deleteReaction" target="view" }} class="manage-delete">{% trans "Delete" %}</a>
                {{/if}}
            </div>
 
	    </header>
            
        <div class="reaction-content">
            <div class="text">{{{ text }}}</div>
        </div>
        
       
        
	</li>

{% endtplhandlebars %}


{% tplhandlebars "wallpost_reaction_list" %}

    {{#if model.length}}
        <ul class="reactions">
            {{#each controller itemController="wallPostReaction"}}
                {{view "App.WallPostReactionView" content=this}}
            {{/each}}
        </ul>
    {{/if}}
    
    {{#if controllers.currentUser.isAuthenticated }}
    <form class="reaction-form">
        <fieldset>
            <ul>
            <li {{bindAttr class="errors.text.length:error"}}>
                <span class="member-avatar">
                    <img {{bindAttr src="controllers.currentUser.avatar" title="controllers.currentUser.fullname"}} alt="You" />
                </span>

                {{#each errors.text}}
                    <span class="error">{{this}}</span>
                {{/each}}
                {{view "Em.TextArea" placeholder="Comment"  valueBinding="newReaction.text" name="reaction" class="newReaction"}}
                
                <button class="btn" type="submit" id="reaction-post">Post</button>
            </li>
            </ul>
        </fieldset>
    </form>
    {{else}}
        <div class="login-box"><a {{action openInBox "login"}}>{%  trans "Login" %}</a> or become a {{#linkTo "signup"}}{% trans "member" %}{{/linkTo}} {% trans "to leave a reaction" %}.</div>
    {{/if}}

{% endtplhandlebars %}