{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "wallpost_reaction" %}

	<span class="user-img">
        <a {{action openInBigBox "userModal" author}} class="user">
            <img {{ bindAttr src="author.getAvatar" }} width="100%" alt="Avatar" />
        </a>
    </span>
	<div class="reaction">
	
        <a {{action openInBigBox "memberProfile" author}} class="user">
            {# <em class="user-type not-implemented">{%  trans "Member" %}</em> #}
            <strong class="user-name">{{ author.full_name }}</strong>
            <em class="timestamp">{{ localize created formatting="X" }}</em>
        </a>
        
        {{#if isAuthor}}
            <ul class="manage">
                {% comment %}
                    <li class=" not-implemented"><a href="#"><em class="flaticon solid pencil-3"></em> {% trans "Edit" %}</a></li>
                {% endcomment %}
                <li class="manage-remove"><a {{ action "deleteReaction" target="view" }}><em class="flaticon solid trash-2"></em> {% trans "Delete" %}</a></li>
            </ul>
        {{/if}}
		{{{ text }}}
	</div>

{% endtplhandlebars %}


{% tplhandlebars "wallpost_reaction_list" %}

    {{#if model.length}}
        <ul class="reactions">
            {{#each controller itemController="wallPostReaction"}}
                {{view "App.WallPostReactionView" content=this}}
            {{/each}}
        </ul>
    {{/if}}

    <form class="reaction-form">
        <fieldset>
        <ul>
            {{#if controllers.currentUser.isAuthenticated }}
                <li {{bindAttr class="errors.text.length:error"}}>
                    <span class="user-img">
                        <img {{bindAttr src="controllers.currentUser.avatar" title="controllers.currentUser.fullname"}} width="100%" alt="Avatar" />
                    </span>

                    {{#each errors.text}}
                        <span class="error">{{this}}</span>
                    {{/each}}
                    {{view "Em.TextArea" placeholder="Comment"  valueBinding="newReaction.text" name="reaction" class="newReaction"}}
                </li>
            {{else}}
                <a {{action openInBox "login"}} class="nav-login">{%  trans "Login" %}</a> or become a {{#linkTo "signup"}}{% trans "member" %}{{/linkTo}} {% trans "to leave a reaction" %}.
            {{/if}}

        </ul>
        </fieldset>
        <button class="btn" type="submit" id="reaction-post">Post</button>
    </form>

{% endtplhandlebars %}



