{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_wallpost_new" %}
	
    {{#if controllers.currentUser.isAuthenticated }}
        {{#if isProjectOwner }}
        	<h3>{% trans "Write an update" %}</h3>
        	<p>{% trans "Write an update of your project to inform your crowd." %}</p>
            {{view App.MediaWallPostNewView content=content}}
        {{else}}
        	<h3>{% trans "Write a comment" %}</h3>
        	<p>{% trans "Write an comment to place on the project's wall." %}</p>
            {{view App.TextWallPostNewView content=content}}
        {{/if}}
    {{else}}
    	<h3>{% trans "Write a comment" %}</h3>
    	<a {{action openInBox "login"}}>{%  trans "Login" %}</a> or become a {{#linkTo "signup"}}{% trans "member" %}{{/linkTo}} {% trans "to leave a comment" %}.</p>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "media_wallpost_new" %}

    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label" for="wallpost-title">
                    {% trans "Name of your update." %}
                </label>

                <div class="controls">
                    {{view Ember.TextField valueBinding="title" placeholder="Keep it short and simple" id="wallpost-title" name="wallpost-title" classBinding="errors.title.length:error"}}
                </div>

                {{#if errors.title }}
                    <div class="errors">{{#each errors.title }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label" for="wallpost-update">
                    {% trans "Your update." %}
                </label>

                <div class="controls">
                    {{view Ember.TextArea valueBinding="text" placeholder="Tell something about the progress, context or yourself!" cols="50" rows="4" name="wallpost-update" id="wallpost-update" classBinding="errors.text.length:error"}}
                </div>

                {{#if errors.text }}
                    <div class="errors">{{#each errors.text }}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label" for="wallpost-video" >
                    {% trans "Add link to video" %}
                </label>

                <div class="controls">
                    {{view Ember.TextField valueBinding="video_url" placeholder="Use YouTube or Vimeo" id="wallpost-video" name="wallpost-video" classBinding="errors.video_url.length:error"}}
                </div>

                {{#if errors.video_url}}
                    <div class="errors">{{#each errors.video_url}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label" for="wallpost-photo">
                    {% trans "Upload photos" %}<br/>
                    <small>{% trans "format 620 x 380 minimum for best result" %}</small>
                </label>

                <div class="controls">
                    <ul class="form-wallpost-photos">
                        {{#each photo in files}}
                            <li class="form-wallpost-photo">
                                {{#if photo.errors}}
                                    <span class="message is-error">{% trans "Error" %}</span>
                                {{else}}
                                    {{#if photo.photo.small}}
                                        <img {{bindAttr src="photo.photo.small"}} />
                                        <a {{action "removePhoto" photo href=true}} class="manage-delete"><span class="flaticon solid x-2"></span> <strong>{% trans "Delete" %}</strong></a>
                                    {{else}}
                                        <div class="is-loading-small"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Loading photos&#8230;" %}</strong></div>
                                    {{/if}}
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                    
                    <a class="btn-link btn-upload">
                        {{view App.UploadMultipleFiles valueBinding="photo_files" multiple="multiple" id="wallpost-photo" name="wallpost-photo" accept="image/*"}}
                        <span class="flaticon solid upload-document-1"></span>
                        {% trans "Upload photos" %}
                    </a>
                </div>
            </li>
        </ul>
    </fieldset>

    <button class="btn btn-iconed" type="submit"><span class="flaticon solid thinking-comment-1"></span>{% trans "Post Update" %}</button>

{% endtplhandlebars %}


{% tplhandlebars "text_wallpost_new" %}
	
	<fieldset>
	   <ul>
	        <li class="control-group">
	            <label for="wallpost-update" class="control-label">{% trans "Comment" %}</label>
	
	            <div class="controls">
	                {{view Ember.TextArea valueBinding="text" cols="50" rows="4" name="wallpost-update" id="wallpost-update"}}
	            </div>
	
	            {{#if errors.text }}
	                <div class="has-errors">{{#each errors.text}}<p>{{this}}</p>{{/each}}</div>
	            {{/if}}
	        </li>
	    </ul>
	</fieldset>

    <button class="btn btn-iconed" type="submit"><span class="flaticon solid thinking-comment-1"></span>{% trans "Comment" %}</button>

{% endtplhandlebars %}


{% tplhandlebars "project_wallpost_list" %}

    <div id="l-section">
        <section class="l-wrapper">
        	<div class="l-content" id="wallposts">
    
    	        {{#each item in items itemController="wallPost"}}
    	            {{#if item.isLoaded}}
                        {{#if item.isSystemWallPost}}
        	                {{view "App.SystemWallPostView"}}
                        {{else}}
        	                {{view "App.ProjectWallPostView"}}
                        {{/if}}
    	            {{/if}}
    	        {{/each}}
            	
                {{#if canLoadMore}}
                    <a {{action "showMore"}} class="btn-link btn-more">
                        <span class="flaticon solid plus-2"></span> {% trans "Show more" %} <small>{{remainingItemCount}} {% trans "more" %}</small>
                    </a>
                {{/if}}
    
        	</div>
    
            <sidebar class="l-sidebar">
            	{{ render "projectWallPostNew" }}
            </sidebar>
            
        </section>
    </div>
    
{% endtplhandlebars %}


{% tplhandlebars "project_wallpost" %}

    <article class="wallpost">
    
        <header class="wallpost-header">
        
            <div class="wallpost-member">
                <a {{action openInBigBox "userModal" author}} class="member">
                    <span class="member-avatar">
                        <img {{bindAttr src="author.getAvatar"}} alt="{{author.full_name}}" />
                    </span>
                    <strong class="member-name">{{author.full_name}}</strong>
                </a>
            </div>
            
            <div class="wallpost-meta">
                {{#if created}}
                    <em class="timestamp">{{ localize created formatting="X" }}</em>
                {{/if}}
                {{#if isAuthor}}
                    <a {{ action "deleteWallPost" target="view" }} class="manage-delete">{% trans "Delete" %}</a>
                {{/if}}
            </div>
        </header>

        <div class="wallpost-content">            
            {{#if title}}
                <h3 class="wallpost-title">{{title}}</h3>
            {{/if}}
            
            {{#if video_html}}
                <div class="video">{{{video_html}}}</div>
            {{/if}}

            <div class="text">{{{text}}}</div>

            {# This is temporary and will go away when we figure out how to upload related photos. #}
            {{#if photo}}
                <ul class="photo-viewer">
                    <li class="photo"><img {{bindAttr src="photo"}} /></li>
                </ul>
            {{/if}}

            {{#if photos.length}}
                <ul class="photo-viewer">
                    {{#each photo in photos}}
                        <li class="photo"><a {{bindAttr href="photo.photo.full"}} title="picture"><img {{bindAttr src="photo.photo.small"}} /></a></li>
                    {{/each}}
                </ul>
            {{/if}}

	    </div>
        
        <div class="wallpost-reactions">
            {{render "wallPostReactionList" reactions}}
        </div>

    </article>


{% endtplhandlebars %}


{% tplhandlebars "system_wallpost" %}

    <article class="wallpost wallpost-system">
    
        <header class="wallpost-header">
            
            <span class="wallpost-system-type">
                <span class="flaticon solid wallet-1"></span> {% trans "Donation" %}
            </span>
            
            <div class="wallpost-member">
                {{#if author}}
                <a {{action openInBigBox "userModal" author}} class="member">
                    <strong class="member-name">{{author.full_name}}</strong>
                </a>
                {{else}}
                <span class="member">
                    <span class="member member-guest"><strong class="member-name">{% trans "Someone" %}</strong></span>
                </span>
                {{/if}}
                <span class="wallpost-system-action">{% trans "Made a donation" %}</span>
            </div>
            
            
            {{#if created}}
            <div class="wallpost-meta">
                <em class="timestamp">{{ localize created formatting="X" }}</em>
                {{#if isAuthor}}
                    <a {{ action "deleteWallPost" target="view" }} class="manage-delete">{% trans "Delete" %}</a>
                {{/if}}
            </div>
            {{/if}}
            
        </header>

        <div class="wallpost-reactions">
            {{render "wallPostReactionList" reactions}}
        </div>

    </article>


{% endtplhandlebars %}



{% tplhandlebars "task_wallpost_new" %}
    
    <form id="wallpost-form">
	    <fieldset>
		   <ul>
		        <li class="control-group">
		            <label for="wallpost-update" class="control-label">{% trans "Comment" %}</label>
		
		            <div class="controls">
		                {{view Ember.TextArea valueBinding="text" placeholder="Comment" cols="50" rows="2" name="wallpost-update" id="wallpost-update"}}
		            </div>
		
		            {{#if errors.text }}
	                	<div class="errors">{{#each errors.text}}<p>{{this}}</p>{{/each}}</div>
					{{/if}}
		        </li>
		    </ul>
		</fieldset>
	
	    <button {{action "addTextWallPost" }} class="btn btn-iconed btn-comment" type="submit"><span class="flaticon solid thinking-comment-1"></span>{% trans "Comment" %}</button>
    </form>

{% endtplhandlebars %}


{% tplhandlebars "task_wallpost" %}
    
    <article class="wallpost">
    
        <header class="wallpost-header">
        
            <div class="wallpost-member">
                <a {{action openInBigBox "memberProfile" author}} class="member">
                    <span class="member-avatar">
                        <img {{bindAttr src="author.getAvatar"}} alt="{{author.full_name}}" />
                    </span>
                    <strong class="member-name">{{author.full_name}}</strong>
                </a>
            </div>
            
            <div class="wallpost-meta">
                 {{#if created}}
                    <em class="timestamp">{{ localize created formatting="X" }}</em>
                {{/if}}
                {{#if isAuthor}}
                    <a {{ action "deleteWallPost" target="view" }} class="manage-delete">{% trans "Delete" %}</a>
                {{/if}}
            </div>
        </header>

        <div class="wallpost-content">
            <div class="text">{{{text}}}</div>
	    </div>
        
        <div class="wallpost-reactions">
            {{render "wallPostReactionList" reactions}}
        </div>

    </article>


{% endtplhandlebars %}


{% tplhandlebars "task_wallpost_list" %}
	
	
	    {{#if controllers.currentUser.isAuthenticated }}
	        {{ render "taskWallPostNew" }}
	    {{else}}
	        <div class="login-box"><a {{action openInBox "login"}}>{%  trans "Login" %}</a> or become a {{#linkTo "signup"}}{% trans "member" %}{{/linkTo}} {% trans "to leave a reaction" %}.</div>
	    {{/if}}

    {{#each item in items itemController="wallPost"}}
        {{#if item.isLoaded}}
            {{view "App.TaskWallPostView"}}
        {{/if}}
    {{/each}}

    {{#if canLoadMore}}
        <a {{action "showMore"}} class="btn-link btn-more">
            <span class="flaticon solid plus-2"></span> {% trans "Show more" %} <small>{{remainingItemCount}} {% trans "more" %}</small>
        </a>
    {{/if}}

{% endtplhandlebars %}
