{% load templatetag_handlebars %}
{% load i18n %}


{% tplhandlebars "project_wallpost_new" %}

<div class="container section">
    <section class="wrapper" id="wallpost-form">
        <header>
            <h2>{% trans "Comments & Updates" %}</h2>
        </header>

        {{#if controllers.currentUser.isAuthenticated }}
            {{#if isProjectOwner }}
                {{view App.MediaWallPostNewView content=content}}
            {{else}}
                {{view App.TextWallPostNewView content=content}}
            {{/if}}
        {{else}}
            <form>{% trans "Login to leave a comment." %}</form>
        {{/if}}

    </section>
</div>

{% endtplhandlebars %}


{% tplhandlebars "media_wallpost_new" %}

    <fieldset>
        <ul>
            <li {{bindAttr class="errors.title.length:error"}}>
                {{#each errors.title}}
                    <span class="error">{{this}}</span>
                {{/each}}
                <label for="wallpost-title" class="inline">
                    {% trans "Title of your update." %}
                </label>
                {{view Ember.TextField valueBinding="title" id="wallpost-title" name="wallpost-title"}}
            </li>
            <li {{bindAttr class="errors.text.length:error"}}>
                {{#each errors.text}}
                    <span class="error">{{this}}</span>
                {{/each}}
                <label for="wallpost-update" class="inline">
                    {% trans "Your update." %}
                </label>
                {{view Ember.TextArea valueBinding="text" cols="50" rows="4" name="wallpost-update" id="wallpost-update"}}
            </li>
            <li {{bindAttr class="errors.video_url.length:error"}}>
                {{#each errors.video_url}}
                    <span class="error">{{this}}</span>
                {{/each}}
                <label for="wallpost-video" class="inline">
                    {% trans "Link to video on YouTube or Vimeo." %}
                </label>
                {{view Ember.TextField valueBinding="video_url" id="wallpost-video" name="wallpost-video"}}
            </li>
            <li {{bindAttr class="errors.photo.length:error"}}>
                {{#each errors.photo}}
                    <span class="error">{{this}}</span>
                {{/each}}
                <label for="wallpost-photo">{% trans "Upload & add Photo's" %} <small>{% trans "(620 x 380 minimum for best results)" %}</small></label>
{# TODO: Implement multi photo upload #}
{#                <span class="fileinput-button image">#}
{#                    <input id="wallpost-photos" class="fileupload" type="file" name="wallpost-photos[]" data-url="server/" multiple>#}
{#                </span>#}
                {{view App.UploadFileView valueBinding="photo" id="wallpost-photo" name="wallpost-photo" accept="image/*"}}
            </li>
        </ul>
    </fieldset>

    <button type="submit">{%trans "Post Update" %}</button>

{% endtplhandlebars %}


{% tplhandlebars "text_wallpost_new" %}

    <fieldset>
        <ul>
            <li {{bindAttr class="errors.text.length:error"}}>
                {{#each errors.text}}
                    <span class="error">{{this}}</span>
                {{/each}}
                <label for="wallpost-update" class="inline">{% trans "Leave your comment here" %}</label>
                {{view Ember.TextArea valueBinding="text" cols="50" rows="4" name="wallpost-update" id="wallpost-update"}}
            </li>
        </ul>
    </fieldset>
    <button type="submit">{% trans "Post Comment" %}</button>

{% endtplhandlebars %}


{% tplhandlebars "project_wallpost_list" %}

<section class="wrapper">
    {{#each controller itemController="projectWallPost"}}
        {{view "App.ProjectWallPostView" content=this}}
    {{/each}}
</section>

{% endtplhandlebars %}


{% tplhandlebars "project_wallpost" %}

<article class="wallpost">
    <header>
        <h3>{{title}}</h3>
        <small class="timestamp">{{timesince}} {% trans "ago" %}</small>
        <a href="#" class="user initiator">
            <span class="user-img"><img {{bindAttr src="author.picture"}} width="100%" alt="Avatar" /></span>
            <strong>{{author.full_name}}</strong> <em class="not-implemented">{% trans "Project Initiator" %}</em>
        </a>

        {{#if isAuthor}}
            <ul class="manage">
                <li class="manage-edit not-implemented"><a href="#">{% trans "Edit" %}</a></li>
                <li class="manage-remove"><a {{action "deleteWallPost" target="view"}}>{% trans "Delete" %}</a></li>
            </ul>
        {{/if}}
    </header>

    <div class="content">

        {{#if video_html}}
            <div class="video">{{{video_html}}}</div>
        {{/if}}

        {{{text}}}

        {# This is temporary and will go away when we figure out how to upload related photos. #}
        {{#if photo}}
            <div class="photo-viewer">
                <span class="photo"><img {{bindAttr src="photo"}} width="100%" alt="Gallery" /></span>
            </div>
        {{/if}}

        {# TODO: Implement multi photo viewer #}
        {{#if photos.isEmpty}}
            <div class="photo-viewer not-implemented">
                <span class="photo"><a href="#"><img src="/static/assets/dummy/wallpost-image.jpg" width="100%" alt="Gallery" /></a></span>
                <ul>
                    <li><a href="#"><img src="/static/assets/dummy/wallpost-thumb.jpg" width="100%" alt="Thumbnail" /></a></li>
                    <li><a href="#"><img src="/static/assets/dummy/wallpost-thumb.jpg" width="100%" alt="Thumbnail" /></a></li>
                    <li><a href="#"><img src="/static/assets/dummy/wallpost-thumb.jpg" width="100%" alt="Thumbnail" /></a></li>
                    <li><a href="#"><img src="/static/assets/dummy/wallpost-thumb.jpg" width="100%" alt="Thumbnail" /></a></li>
                    <li><a href="#"><img src="/static/assets/dummy/wallpost-thumb.jpg" width="100%" alt="Thumbnail" /></a></li>
                    <li class="more"><a href="#"><strong>6</strong> more photos</a></li>
                </ul>
            </div>
        {{/if}}
    </div>


    <!-- reaction-box -->
    <div class="reaction-box">
        {{view "App.WallPostReactionNewView" controllerBinding=controllers.wallPostReactionNew}}

        <ul class="reaction-actions not-implemented">
            <li><a class="toggle-reactions" data-content="2 Comments" data-content-hover="Show comments" data-content-toggled="2 Comments" data-content-toggled-hover="Hide comments">{{reactions.length}} Comments</a></li>
            <li><a class="toggle-love" data-content="22 love this" data-content-hover="Show your love!" data-content-toggled="23 - You loved this" data-content-toggled-hover="Unlove?">22 love this</a></li>
            <li class="share">
                <strong>Share this</strong>
                <ul class="share-actions">
                    <li class="share-facebook">Share on Facebook</li>
                    <li class="share-twitter"><a href="#">Share on Twitter</a></li>
                    <li class="share-url"><code>http://1pr.cc/237429/</code><a href="#" class="share-url-copy">Copy</a></li>
                </ul>
            </li>
        </ul>

        {# {{view "App.WallPostReactionListView" }} #}
         {{view "App.WallPostReactionListView" controllerBinding=controllers.wallPostReactionList}}
    </div>
    <!-- end: reaction-box -->

</article>
{% endtplhandlebars %}