{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "home_banner" %}

	<div class="l-section home-carousel">
		<section class="carousel">
			<ul>
			{{#each slides }}
		        <li class="carousel-item" {{bindAttr id=style}}>
		        	<div class="l-wrapper">
		                {{#if video}}
							<div class="l-half carousel-video">
	                			<div class="video">{{{video}}}</div>
							</div>
						{{/if}}

                    	<article class="l-half carousel-content">
				            <h1>{{ title }}</h1>
				            <p>{{{ body }}}</p>
				            {{#if link_text }}
				                <a class="btn btn-primary" {{bindAttr href="link_url" }}>{{link_text}}</a>
				            {{/if}}
				        </article>

		        	</div>

		        	<div class="carousel-image"></div>
		        </li>
		    {{/each }}
			</ul>

	        <div class="l-section carousel-nav-section">
	            <div class="l-wrapper">
	                <ol class="carousel-nav l-full">
	                    {{#each slides}}
	                        <li {{bindAttr class=":carousel-nav-item isFirst:is-active" }}>{{ tab_text }}</li>
	                    {{/each }}
	                </ol>
	            </div>
	        </div>
        </section>
	</div>

{% endtplhandlebars %}



{% tplhandlebars "home_project" %}

    <div class="l-section home-projects">
        <section class="l-wrapper">

            <div class="project-slider l-full">

	        	<header class="section-header">
	            	<h1>{% trans "Choose your project" %}</h1>
					<p>{% trans "Support it with your time, knowledge or money and receive real-time updates." %}</p>
	        	</header>

                <div class="project-preview">

                    <figure class="image l-half">
                        <img {{bindAttr src="project.plan.image.large" }} width="100%" alt="Project Photo" />
                    </figure>

                    <article class="project-info l-half">
                        <div class="project-meta">
		                    <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{project.plan.country.name}}</span>
		                    <span class="project-theme"><span class="flaticon solid tag-1"></span> {{project.plan.theme.title}}</span>
		                </div>

                        <h2 class="project-title">{{#linkTo 'project' project.getProject }}{{project.title}}{{/linkTo}}</h2>
                        <p class="project-description">{{project.plan.pitch}}</p>
                    </article>

                    <div class="project-status l-full">

                        {{#if project.campaign.deadline}}
                        <div class="project-days-left l-one-third">
    						<strong><span class="flaticon solid clock-1"></span> {{project.campaign.daysToGo}}</strong>
    						<em>{% trans "days to go" %}</em>
    					</div>
    					{{/if}}

    					<div class="project-fund l-one-third">
                            <p class="project-fund-amount">
                                <strong class="amount-donated">&euro;{{localize project.campaign.money_donated}}</strong>
                                {% trans "of" %}
                                <strong class="amount-asked">&euro;{{localize project.campaign.money_asked}}</strong>
                                {% trans "raised" %}
                            </p>

                            <div class="project-fund-amount-slider"><strong style="width: 0%;" class="slider-progress is-in-progress"><em class="slider-percentage">0%</em></strong></div>
    					</div>

                        <div class="project-action l-one-third">
    					    <a href='#' {{ action 'addDonation' project }} class="btn btn-primary btn-iconed"><span class="flaticon solid wallet-1"></span> {% trans "Support" %}</a>
                        </div>

					</div>
                </div>

                <span {{action previousProject}} class="project-slider-prev">{% trans "Previous project" %}</span>
                <span {{action nextProject}} class="project-slider-next">{% trans "Next project" %}</span>

            </div>
        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "home_quotes" %}


    <div class="l-section home-quotes">
        <section class="l-wrapper">
            <div class="l-full">

                <header class="section-header">
                	<h1>{% trans "Share a little." %} <em>{%  trans "Change the world." %}</em></h1>
            	</header>

                <div class="quote">
                    <figure>
                        <img {{ bindAttr src="quote.user.getAvatar" alt="quote.user.full_name" }} />
                    </figure>

                    <article>
                        <p class="quote-name">{{ quote.user.full_name }}</p>
                        <p class="quote-content">{{ quote.quote }}</p>
                    </article>
                </div>

                {{#linkTo 'projectList' class="btn btn-iconed one"}}
                    <span class="flaticon stroke zoom-2"></span> {% trans "Find projects" %}
                {{/linkTo}}

    			{{#linkTo 'taskList' class="btn btn-iconed two"}}
                    <span class="flaticon solid wrench-1"></span> {% trans "Find tasks" %}
                {{/linkTo}}

                {# <a class="" {{action 'showPage' 'befriend'}} href="/#!/pages/befriend"> #}
                {{#link-to 'userMonthlyProjects' class="btn btn-iconed three"}}
                    <span class="flaticon solid heart-1"></span> {% trans "Befriend us" %}
                {{/link-to}}
                </a>
            </div>
        </section>
    </div>


{% endtplhandlebars %}


{% tplhandlebars "home_impact" %}

    <div class="l-section home-impact">
        <section class="l-wrapper">
            <div class="l-full">

                <header class="section-header">
            	    <h1>{% trans "Our impact" %}</h1>
            	    <p>{% trans "We believe that if we all share a little, together we can change the world. We got this far already." %}</p>
                </header>

                <ul class="impact">
                    <li class="impact-lives">
                    	<figure class="image"><object type="image/svg+xml" data="/static/assets/images/illustrations/lives-green.svg" class="logo-image"></object></figure>
                        <strong>{{localize impact.lives_changed }}</strong>
                        {% trans "Lives changed" %}
                    </li>
                    <li class="impact-projects">
                    	<figure class="image"><object type="image/svg+xml" data="/static/assets/images/illustrations/ideas-pink.svg" class="logo-image"></object></figure>
                        <strong>{{localize impact.projects }}</strong>
                        {% trans "Projects" %}
                    </li>
                    <li class="impact-countries">
                    	<figure class="image"><object type="image/svg+xml" data="/static/assets/images/illustrations/countries-green.svg" class="logo-image"></object></figure>
                        <strong>{{ impact.countries }}</strong>
                        {% trans "Countries" %}
                    </li>
                    <li class="impact-hours">
                    	<figure class="image"><object type="image/svg+xml" data="/static/assets/images/illustrations/hours-pink.svg" class="logo-image"></object></figure>
                        <strong>{{localize impact.hours_spent }}</strong>
                        {% trans "Hours spent" %}
                    </li>
                    <li class="impact-donated">
                    	<figure class="image"><object type="image/svg+xml" data="/static/assets/images/illustrations/donate-green.svg" class="logo-image"></object></figure>
                        <strong>&euro; {{localize impact.donated }}</strong>
                        {% trans "Donated" %}
                    </li>
                </ul>

                {{#unless controllers.currentUser.isAuthenticated}}
                    {{#linkTo 'signup' classNames="btn-link"}}{% blocktrans %}Join us. Sign up and share your 1%{% endblocktrans %}{{/linkTo}}
                {{/unless}}
            </div>

        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "home" %}

    <div id="home">
        {{#if isCampaignHomePage}}

            {{!-- TODO: add progressbar with racecar etc. --}}
            {{view App.HomeCampaignView }}

            {{#if fundraisers}}
                {{view App.HomeFundraisersView}}
            {{/if}}
        {{else}}
            {{#if slides }}
                {{view App.HomeBannerView }}
            {{/if }}

            {{#if project }}
                {{view App.HomeProjectView }}
            {{/if }}

        {{/if }}

        {{!-- this must always be visible --}}
        {{#if quote }}
            {{view App.HomeQuotesView }}
        {{/if }}

        {{#if impact }}
            {{view App.HomeImpactView }}
        {{/if }}
    </div>

{% endtplhandlebars %}


{% tplhandlebars "home_fundraisers" %}

    <div class="l-section" id="home-crazy-campaign-fundraisers">
        <section class="l-wrapper">

            <div class="l-full">
                <header class="section-header">
            	    <h1>{% trans "Our crazy fund-racers" %}</h1>
            	    <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." %}</p>
                </header>
                <ul id="fundraiser-results">
                    {{#each fundraisers}}
    
                        <li {{bind-attr class="is_funded:fully-funded :project-item" }}>
                            {{#linkTo 'fundRaiser' this}}
                                {{#if is_funded }}
                                    <span class="is-funded">
                                        {% trans "Fully funded by" %} {{owner.full_name}} {% trans "and supporters." %}
                                    </span>
                                {{/if}}
    
                                <span class="project-header">
    
                                    <figure class="project-image">
                                        <img {{bindAttr src="image.small" }} />
                                    </figure>
    
                                    <span class="project-title">
                                        <h3>{{title}}</h3>
                                    </span>
                                </span>
    
                                <span class="project-status">
    
                                    <div class="project-fund-amount-slider"><strong style="width: 0%;" class="slider-progress is-in-progress"><em class="slider-percentage">0%</em></strong></div>
                                    <span class="project-fund-amount">
                                        {{#if is_funded }}
                                            {% trans "<strong>Fully</strong> funded" %}
                                        {{else}}
                                            <strong>&euro;{{localize amount_needed}}</strong> <em>{% trans "To go" %}</em>
                                        {{/if}}
                                    </span>
                                    
                                    {{#unless is_funded }}
                                    {{#if deadline }}
                                        <span class="project-days-left"><span class="flaticon solid clock-1"></span> <strong>{{daysToGo}}</strong> <em>{% trans "days" %}</em></span>
                                    {{/if}}
                                    {{/unless}}
    
                                </span>
                            {{/linkTo}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "home_campaign_block" %}

    <div class="l-section" id="home-crazy-campaign-header">
        <section class="l-wrapper">
        
            <div class="campaign-image">
                <object type="image/svg+xml" data="{% static "images/campaigns/crazy-campaign-days-2013.svg" %}"></object>
            </div>
            
            <div class="campaign-description">
            
                <div class="project-fund">
                    <p class="project-fund-amount">
                        <strong class="amount-donated">&euro;{{localize campaign.amount_donated}}</strong> 
                        {% trans "fund-raced" %}
                    </p>
                    {{bb-progressbar class="project-fund-amount-slider" totalValue=campaign.target currentValue=campaign.amount_donated}}
                </div>
                
                {# timer {{campaign.start}} - {{campaign.end}} #}
                <div class="crazy-campaign-countdown">
                    <div id="countdown">
                        <span class="digit">{h10}</span> 
                        <span class="digit">{h1}</span> 
                        <span class="digit-sep">:</span> 
                        <span class="digit">{m10}</span> 
                        <span class="digit">{m1}</span> 
                        <span class="digit-sep">:</span> 
                        <span class="digit">{s10}</span> 
                        <span class="digit">{s1}</span> 
                    </div>
                </div>
        
                <p class="crazy-campaign-intro">
                    <p>{% trans " The Crazy Campaign Days: 20 teams who will fund 20 world-changing projects within 5 days. Totally crazy!" %}</p>
                    <a {{action 'scrollToFundraisers' }} class="crazy-campaign-pick">{% trans "Pick a crazy fund-racer and support" %}</a>
                </p>
            </div>
             
        </section>
    </div>

{% endtplhandlebars %}