{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "home_banner" %}

	<div class="banner">
		<div id="bannerCarousel">
			<ul>
			{{#each slides }}
		        <li>
		        	<div class="container" {{bindAttr id=style}}>
                    {{#if video}}
						<div class="wrapper has-video">
							<div class="video">
                    			{{{video}}}
							</div>
					{{else}}
	        			<div class="wrapper">
					{{/if}}
	                    	<article>
					            <h4>{{ title }}</h4>
					            <p>{{{ body }}}</p>
					            {{#if link_text }}
					                <a class="btn btn-primary" {{bindAttr href="link_url" }}>{{link_text}}</a>
					            {{/if}}
					        </article>
		        		</div>
		        		<aside class="banner-image"></aside>
		        	</div>
		        </li>
		    {{/each }}
			</ul>
			
		    <div class="banner-indicators">
		        <div class="container">
		            <div class="wrapper">
		                <ol class="dots">
		                    {{#each slides}}
		                        <li {{bindAttr class=":dot isFirst:active" }}>{{ tab_text }}</li>
		                    {{/each }}
		                </ol>
		            </div>
		        </div>
		    </div>
		</div>
    </div>

{% endtplhandlebars %}



{% tplhandlebars "home_project" %}

    <div class="container">
        <div class="wrapper">
            <section>
                <h2 class="section-header">{% trans "Choose your project" %}</h2>
                <p class="section-subheader">{% trans "Support it with your time, knowledge or money and receive real-time updates." %}</p>

                <div class="projects">
                    <span {{action 'previousProject'}} class="projects-nav prev"></span>
                    <span {{action 'nextProject'}} class="projects-nav next"></span>

                    <div class="project">
                    
                    	<div class="project-top">
                    
	                        <figure class="media">
	                            <img {{bindAttr src="project.plan.image.large" }} width="100%" alt="Photo" />
	                        </figure>
	
	                        <article>
	                            
	                            <div class="project-meta">
				                    <span class="location">
				                    	<em class="flaticon solid location-pin-1"></em> {{project.plan.country.name}}
				                    </span>
				
				                    <span class="theme">
				                        <em class="flaticon solid tag-1"></em> {{project.plan.theme.title}}
				                    </span>
				
				                </div>
	                            
	                            <h2 class="project-title">
	                                {{#linkTo 'project' project.getProject }}{{project.title}}{{/linkTo}}
	                            </h2>
	
	                            <p class="project-description">
	                                {{project.plan.pitch}}
	                            </p>
	                            
	                        </article>
	                        
                    	</div>

                        <div class="status-box">
                            <p class="donate-days-left">
								{{#if project.campaign.deadline}}
								<strong><em class="flaticon solid clock-1"></em> {{project.campaign.daysToGo}}</strong>
								<em>{% trans "days to go" %}</em>
								{{/if}}
							</p>

                            <div class="donate-status">
                                <p class="donate-amount">
                                    <span class="donated">&euro;{{localize project.campaign.money_donated}}</span>
                                    {% trans "of" %}
                                    <span class="asked">&euro;{{localize project.campaign.money_asked}}</span>
                                    {% trans "raised" %}
                                </p>
                                <span class="donate-slider"><strong style="width: 0%;" class="donate-progress is-in-progress"><em class="donate-percentage"></em></strong></span>
                            </div>

                            <div class="donate-call-to-action">
								<a href='#' {{ action 'addDonation' project }} class="btn btn-primary btn-iconed">
								<em class="icon">&euro;</em> {% trans "Support" %}</a>
							</div>
                        </div>
                            
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "home_quotes" %}
	

    <div class="container quotes">
        <div class="wrapper">
            <section>
                <h2 class="section-header">{% trans "Share a little." %} <em>{%  trans "Change the world." %}</em></h2>

                <div class="quote">
                    <aside>
                        <img {{ bindAttr src="quote.user.getAvatar" alt="quote.user.full_name" }} width="100%" />
                    </aside>

                    <article>
                        <p class="quote-name">{{ quote.user.full_name }}</p>
                        <p class="quote-quote">{{ quote.quote }}</p>
                    </article>
                </div>

                {{#linkTo 'projectList' class="btn btn-iconed first"}}
                    <em class="icon">&euro;</em>
                    {% trans "Find projects" %}
                {{/linkTo}}

				{{#linkTo 'taskList' class="btn btn-iconed second"}}
                    <em class="flaticon solid wrench-1"></em>
                    {% trans "Find tasks" %}
                {{/linkTo}}

                <a class="btn btn-iconed third" {{action 'showPage' 'befriend'}} href="/#!/pages/befriend">
                    <em class="flaticon solid heart-1"></em>
                    {% trans "Befriend us" %}
                </a>
            </section>
        </div>
    </div>
    

{% endtplhandlebars %}


{% tplhandlebars "home_impact" %}

    <div class="container">
        <div class="wrapper">
            <section>
                <h2 class="section-header">{% trans "Our impact" %}</h2>
                <p class="section-subheader">{% trans "We believe that if we all share a little, together we can change the world. We got this far already." %}</p>

                <ul class="impact">
                    <li class="impact-lives">
                    	<span class="icon"></span>
                        <strong>{{localize impact.lives_changed }}</strong>
                        {% trans "Lives changed" %}
                    </li>
                    <li class="impact-projects">
                    	<span class="icon"></span>
                        <strong>{{localize impact.projects }}</strong>
                        {% trans "Projects" %}
                    </li>
                    <li class="impact-countries">
                    	<span class="icon"></span>
                        <strong>{{ impact.countries }}</strong>
                        {% trans "Countries" %}
                    </li>                    
                    <li class="impact-hours">
                    	<span class="icon"></span>
                        <strong>{{localize impact.hours_spent }}</strong>
                        {% trans "Hours spent" %}
                    </li>
                    <li class="impact-donated">
                    	<span class="icon"></span>
                        <strong>&euro; {{localize impact.donated }}</strong>
                        {% trans "Donated" %}
                    </li>
                </ul>

                {{#unless controllers.currentUser.isAuthenticated}}
                    {{#linkTo 'signup' classNames="link-primary"}}{% blocktrans %}Join us. Sign up and share your 1%{% endblocktrans %}{{/linkTo}}
                {{/unless}}
            </section>
        </div>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "home" %}
    <div id="home">
        {{#if slides }}
            {{view App.HomeBannerView }}
        {{/if }}

        {{#if project }}
            {{view App.HomeProjectView }}
        {{/if }}

        {{#if quote }}
            {{view App.HomeQuotesView }}
        {{/if }}

        {{#if impact }}
            {{view App.HomeImpactView }}
        {{/if }}
    </div>

{% endtplhandlebars %}
