{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_preview" %}

    <li class="project-item">

        {{#linkTo 'project' id }}
            <span class="project-header">
                <figure class="project-image">
                    {{#if image.small.length}}
                        <img {{bindAttr src="image.small" }} />
                    {{else}}
                        <img {{bindAttr src="image" }} />
                    {{/if}}
                </figure>
                <span class="project-title">
                    <h3>{{title}}</h3>
                    <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{country.name}}</span>
                </span>
            </span>

            <span {{bindAttr class=":project-status phase"}}>

                {{#if amount_asked }}
                    {{bb-progressbar targetValue=amount_asked currentValue=amount_donated}}
                    <span class="project-fund-amount"><strong>&euro;{{localize calculatedAmountNeeded}}</strong> <em>{% trans "To go" %}</em></span>
                {{/if}}

                {{#if deadline }}
                    <span class="project-days-left"><span class="flaticon solid clock-1"></span> <strong>{{daysToGo}}</strong> <em>{% trans "days" %}</em></span>
                {{/if}}

                {{#if isStatusCompleted}}
                    <span class="project-phase"><span class="flaticon solid lightbulb-3"></span> <strong>{% trans "Project funded" %}</strong> <em>{% trans "Being realized" %}</em></span>
                {{/if}}
            </span>


            <span class="project-description">
                {{{pitch}}}

                <span class="project-view">{% trans "View project" %}</span>
            </span>

        {{/linkTo}}

        {{#if task_count}}
            <a class="project-tasks"><span class="flaticon solid wrench-1"></span> <strong>{{task_count}}</strong> <em>{% trans "task(s) available" %}</em></a>
        {{/if}}
    </li>

{% endtplhandlebars %}

