{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project" %}

<div id="project-detail">
    <div class="l-section detail project-detail-main">
        <section class="l-wrapper">

            {{#if video_html}}
                <figure class="project-image">
                    {{{ video_html }}}
                </figure>
            {{else}}
                <figure class="project-image">
                    <span {{bindAttr class="partner.id:"}}></span>
                    <img {{bindAttr src="image.large"}} width="100%" alt="Photo" />
                </figure>
            {{/if}}

            <article class="project-info">
                <div class="project-meta">
                    <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{country.name}}</span>
                    <span class="project-theme"><span class="flaticon solid tag-2"></span> {{theme.name}}</span>
                </div>

                <div class="project-share">
                    {{view App.SocialShareView}}
                </div>
                
                <h1 class="project-title">{{title}}</h1>
                <p class="project-description">{{pitch}}</p>
				<p class="project-plan-link"><span class="flaticon solid book-4"></span>&nbsp;<a {{action openInFullScreenBox "projectPlan" this}}>{% trans "Read full project plan" %}</a></p>
            </article>
        </section>
	</div>

    <section class="l-wrapper">
        <div class="project-status">

            {{#if isStatusCampaign}}
                <div class="project-days-left">
                    <strong><span class="flaticon solid stopwatch-1"></span> 
                    {{#ifExpired deadline}}
                        <em>{% trans "deadline passed" %}</em>
                    {{else}}
                        {{daysToGo}} <em>{% trans "days to go" %}</em>
                    {{/ifExpired}}
                    </strong>
                </div>
            {{else}}
                <div class="project-days-left">
                    <strong><span class="flaticon solid clock-1"></span> <em>{% trans "deadline passed" %}</em></strong>
                </div>
            {{/if}}

            <div class="project-fund">
                <p class="project-fund-amount">
                    <strong class="amount-donated">&euro;{{localize amount_donated}}</strong>
                    {% trans "of" %}
                    <strong class="amount-asked">&euro;{{localize amount_asked}}</strong>
                    {% trans "raised" %}
                </p>
                {{#if partner.id}}
                    <div class="cheetah-project-progress">

                        {{#if isStatusCampaign}}
                            {{#ifExpired deadline}}
                                <div class="cheetah-funded">
                                    <div class="cheetah-funded-text">
                                        {% blocktrans%}
                                            <span><strong>At 30%</strong> it will be Cheetah Funded</span>
                                        {% endblocktrans %}
                                    </div>
                                    <i class="cheetah-funded-dot"></i>
                                </div>
                                <div class="expired">
                                    {{cheetah-progressbar targetValue=amount_asked currentValue=amount_donated class="campaign-fund-amount-slider"}}
                                </div>
                            {{else}}
                                <div class="cheetah-funded">
                                    <div class="cheetah-funded-text">
                                        {% blocktrans%}
                                            <span><strong>At 30%</strong> it will be Cheetah Funded</span>
                                        {% endblocktrans %}
                                    </div>
                                    <i class="cheetah-funded-dot"></i>
                                </div>
                                {{cheetah-progressbar targetValue=amount_asked currentValue=amount_donated class="campaign-fund-amount-slider"}}
                            {{/ifExpired}}
                        {{else}}
                            {{#if isStatusCompleted}}
                                <div class="cheetah-fully-funded">
                                    {{bb-progressbar targetValue=project.amount_asked currentValue=project.amount_donated class="campaign-fund-amount-slider "}}
                                </div>
                                <div class="campaign-fund-amount">
                                    <span class="fully-funded"><strong>&euro; {{amount_donated}} {% trans 'fully funded!' %}</strong></span>
                                </div>
                            {{else}}
                                <div class="cheetah-funded">
                                    <div class="cheetah-funded-text">
                                        {% blocktrans%}
                                            <span><strong>At 30%</strong> it will be Cheetah Funded</span>
                                        {% endblocktrans %}
                                    </div>
                                    <i class="cheetah-funded-dot"></i>
                                </div>
                                <div class="expired">
                                    {{cheetah-progressbar targetValue=amount_asked currentValue=amount_donated class="campaign-fund-amount-slider"}}
                                </div>
                            {{/if}}
                        {{/if}}

                    </div>

                {{else}}
                <div class="campaign-fund-amount-slider">
                    {{bb-progressbar targetValue=amount_asked currentValue=amount_donated}}
                </div>
                {{/if}}
            </div>

            {{#if isSupportable}}
                <div class="project-action">
                    <a href='#' {{ action 'addDonation' this }} class="btn btn-primary btn-iconed"><span class="flaticon solid wallet-1"></span> {% trans "Support project" %}</a>
                </div>
            {{/if}}
        </div>
    </section>

    <div class="l-section detail" id="project-members">
        <section class="l-wrapper">

		    <ul class="member-list">
		        <li class="member-initiator">
		            <ul>
		                <li>
		                    <a {{action 'openInBigBox' 'userModal' owner }} class="member">
		                        <figure class="member-avatar"><img {{bindAttr src="owner.getAvatar"}} /></figure>
		                        <h4>{% trans "Initiator" %}</h4>
		                        <strong class="member-name">{{owner.full_name}}</strong>
		                    </a>
		                </li>
		            </ul>
                </li>

                <li class="project-member-fundraisers">
                    {{render "projectFundRaiserList"}}
                </li>

                <li class="project-member-supporters">
                    {{render "projectSupporterList"}}
                </li>
			</ul>
		</section>
    </div>

    {{outlet}}

</div>

{% endtplhandlebars %}
