{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project_preview" %}

    <li class="project-item">
        <span {{bindAttr class="partner.id:"}}></span>

        {{#linkTo 'project' id }}
            <span class="project-header">
                <figure class="project-image">
                       {{#if image.small.length}}
                            <img {{bindAttr src="image.small"}} />
                        {{else}}
                            <div class="previewUpload">
                            </div>
                            <img {{bindAttr src="image" }} />
                        {{/if}}
                </figure>
                <span class="project-title">
                    <h3>{{title}}</h3>
                    <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{country.name}}</span>
                </span>
            </span>

            <span {{bindAttr class=":project-status phase"}}>

                {{#if isStatusCampaign }}
                    {{bb-progressbar targetValue=amount_asked currentValue=amount_donated}}
                    <span class="project-fund-amount"><strong>&euro;{{localize donatedRound}}</strong>  {% trans "of" %} {{localize amount_asked}} <em>{% trans "raised" %}</em></span>
                    {{#ifExpired deadline}}{{else}}
                        <span class="project-days-left"><span class="flaticon solid clock-1"></span> <strong>{{daysToGo}}</strong> <em>{% trans "days" %}</em></span>
                    {{/ifExpired}}
                {{else}}
                    {{#if amount_asked}}
                        {{bb-progressbar targetValue=amount_asked currentValue=amount_donated}}
                        <span class="project-fund-amount"><strong>&euro; {{localize amount_donated}}</strong> {% trans "of" %} {{localize amount_asked}} <em>{% trans "raised" %}</em></span>
                    {{/if}}
                    {{#if deadline}}
                        {{#unless overDeadline}}
                            <span class="project-days-left"><span class="flaticon solid clock-1"></span> <strong>{{daysToGo}}</strong> <em>{% trans "days" %}</em></span>
                        {{/unless}}
                    {{/if}}
                {{/if}}
            </span>


            <span class="project-description">
                {{{pitch}}}
                <span class="project-view">{% trans "View project" %}</span>
            </span>

        {{/linkTo}}

        {{#if task_count}}
            <a class="project-tasks"><span class="flaticon solid wrench-1"></span> <strong>{{task_count}}</strong> <em>{% trans "task(s) available" %}</em></a>
        {{/if}}
    </li>

{% endtplhandlebars %}

