{% load bb_ember %}
{% load i18n %}
{% load static %}

{% tplhandlebars "project" %}

<div id="project-detail">
    <div class="l-section detail project-detail-main">
        <section class="l-wrapper">

            {{# if video_html }}
                <figure class="project-image">
                    {{{ video_html }}}
                </figure>
            {{ else }}
                <figure class="project-image">
                    <img {{bindAttr src="image.large"}} width="100%" alt="Photo" />
                </figure>
            {{/if}}

            <article class="project-info">
                <div class="project-meta">
					{{!--}}
					<span class="project-deadline"><span class="flaticon stroke time-1"></span> {{daysToGo}}</span>
					{{--}}
                    <span class="project-location"><span class="flaticon solid location-pin-1"></span> {{country.name}}</span>
                    <span class="project-theme"><span class="flaticon solid tag-2"></span> {{theme.name}}</span>
                </div>
                <div class="project-share">
                    {{view App.SocialShareView}}
                </div>


                <h1 class="project-title">{{title}}</h1>
                <p class="project-description">{{pitch}}</p>
				<p class="project-plan-link"><span class="flaticon solid book-4"></span>&nbsp;<a {{action openInFullScreenBox "projectPlan" this}}>{% trans "Read full project plan" %}</a></p>
            </article>
        </section>
	</div>

    <section class="l-wrapper">
        <div class="project-status">

            {{#if isStatusCampaign}}
                <div class="project-days-left">
                    <strong><span class="flaticon solid stopwatch-1"></span> {{daysToGo}} <em>{% trans "days to go" %}!</em></strong>
                </div>
            {{else}}
                <div class="project-days-left">
                    <strong><span class="flaticon solid clock-1"></span> <em>{% trans "deadline passed" %}</em></strong>
                </div>
            {{/if}}

            <div class="project-fund">
                <p class="project-fund-amount">
                    <strong class="amount-donated">&euro;{{localize amount_donated}}</strong>
                    {% trans "of" %}
                    <strong class="amount-asked">&euro;{{localize amount_asked}}</strong>
                    {% trans "raised" %}
                </p>
                {{bb-progressbar targetValue=amount_asked currentValue=amount_donated}}
            </div>

            {{#if isStatusCampaign}}
                <div class="project-action">
                    <a href='#' {{ action 'addDonation' this }} class="btn btn-primary btn-iconed"><span class="flaticon solid wallet-1"></span> {% trans "Support project" %}</a>
                </div>
            {{/if}}
        </div>
    </section>

    <div class="l-section detail" id="project-members">
        <section class="l-wrapper">

		    <ul class="member-list">
		        <li class="member-initiator">
		            <ul>
		                <li>
		                    <a {{action 'openInBigBox' 'userModal' owner }} class="member">
		                        <figure class="member-avatar"><img {{bindAttr src="owner.getAvatar"}} /></figure>
		                        <h4>{% trans "Initiator" %}</h4>
		                        <strong class="member-name">{{owner.full_name}}</strong>
		                    </a>
		                </li>
		            </ul>
		        </li>
                {{!-- Static html for supporters + fundraisers start here --}}
                <li class="project-member-fundraisers">
                    <h4>
                        Fundraisers
                        <em>
                            <a>
                                1 Total
                            </a>
                        </em>
                    </h4>
                   
                    <ul>
                        <li id="ember5269" class="ember-view">
                            <a id="ember5279" class="ember-view member" href="#!/fundraisers/3">
                                <span>
                                    <span class="member-avatar">
                                        <img src="http://onepercentclub.com/static/media/cache/f3/fb/f3fbe3ca80815511b1af621992de7bf5.jpg" alt="Mijnwebwinkel " data-original-title="" title="">
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                
                    <a id="ember5138" class="ember-view fundraiser-become" href="#!/projects/sun4food/new-fundraiser">
                        Become a fundraiser
                    </a>
                </li>

                <li class="project-member-supporters">
                    <h4>Supporters <em>3 Total</em></h4>
                    <ul>
                        <li>
                            <a class="member" data-title="guest" data-content="6 days ago" title="">
                                <span class="member-avatar">
                                    <img src="/static/assets/images/default-avatar.png" alt="Guest">
                                </span>
                            </a>
                        </li>                        
                        <li>
                            <a class="member" data-title="guest" data-content="6 days ago" title="">
                                <span class="member-avatar">
                                    <img src="/static/assets/images/default-avatar.png" alt="Guest">
                                </span>
                            </a>
                        </li>                        
                        <li>
                            <a class="member" data-title="guest" data-content="6 days ago" title="">
                                <span class="member-avatar">
                                    <img src="/static/assets/images/default-avatar.png" alt="Guest">
                                </span>
                            </a>
                        </li>                        
                    </ul>
                </li>
                {{!-- Static html for fundraisers + supporters end here --}}
			</ul>
		</section>
    </div>

    {{outlet}}

</div>

{% endtplhandlebars %}
