{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "current_order" %}

    <div class="container section">

        <!-- donation -->
        <header class="wrapper">
            <h1 class="main-title">Support one or more projects!</h1>
        </header>

    </div>

    <div class="container">

        <section class="wrapper">

        <ul class="donation-steps">
            {{#view App.OrderNavView classNames="support"}}
                {{#linkTo currentOrderItemList}}Support{{/linkTo}}
            {{/view}}
            {{#view App.OrderNavView classNames="details"}}
                {{#linkTo orderProfile}}{% trans "Details" %}{{/linkTo}}
            {{/view}}
            {{#view App.OrderNavView classNames="profile"}}
                {{#linkTo orderPayment}}{% trans "Profile" %}{{/linkTo}}
            {{/view}}
            {{#view App.OrderNavView classNames="payment"}}
                {{#linkTo paymentInfo}}{% trans "Pay" %}{{/linkTo}}
            {{/view}}
        </ul>

            {{outlet}}

            <!--
            <div class="sidebar tip">
              <h3>Did you know?</h3>
              <p>Fusce quam enim, vehicula euismod porttitor vitae, facilisis a purus. Maecenas augue metus, consectetur eleifend posuere in, rhoncus ac enim.</p>
              <p><a href="#">Read some more</a></p>
            </div>
            -->

        </section>

    </div>

{% endtplhandlebars %}


{% tplhandlebars "currentorderitem_form" %}

    <fieldset>

        <ul id="donation-projects">
            {{#each controller}}
                {{view "App.CurrentOrderItemView" content=this}}
            {{/each}}
        </ul>

        {{#linkTo projectList class="add-project"}}{%trans "Add another project" %}{{/linkTo}}

    </fieldset>

    <fieldset class="donation-frequency">
        <label class="label">{% trans "Support the selected projects:" %}</label>
        <a {{action selectSingle target="view.parentView.controller"}} {{bindAttr class=":checkbox view.parentView.controller.isSingle:checked"}}>{% trans "Single donation" %}</a>
        <a {{action selectMonthly target="view.parentView.controller"}}  {{bindAttr class=":checkbox view.parentView.controller.isMonthly:checked"}}>{% trans "Monthly donation" %}</a>

    </fieldset>

{{#linkTo orderProfile class="button right"}}{% trans "Next step" %}{{/linkTo}}

{% endtplhandlebars %}


{% tplhandlebars "order_profile_form" %}
    <fieldset>
        {{#if content.isLoaded}}
            {{#each content.errors.firstName}}
                <span class="errors">{{this}}</span>
            {{/each}}
            {{view Em.TextField valueBinding="firstName" placeholder="First name"}}
            {{view Em.TextField valueBinding="lastName" placeholder="Last name"}}
            {{view Em.TextField valueBinding="email" placeholder="Email"}}
            {{view Em.TextField valueBinding="address" placeholder="Address"}}
            {{view Em.TextField valueBinding="zipCode" placeholder="Zip code"}}
            {{view Em.TextField valueBinding="city" placeholder="City"}}
            {{#each content.errors.country}}
                <span class="errors">{{this}}</span>
            {{/each}}
            {{view Em.TextField valueBinding="country" placeholder="Country"}}

            <button class="right">{% trans 'Next step' %}</button>
        {{/if}}
    </fieldset>
{% endtplhandlebars %}


<!-- wrapper tag: <li class="donation-project"> -->
{% tplhandlebars "currentorderitem" %}

    {{#linkTo project project}}
        <img {{bindAttr src="project.image_square" alt="project.title"}} class="project-image" />
        <h1>{{project.title}} <em class="country">{{project.country.name}}</em></h1>
    {{/linkTo}}
    <p class="donation-amount">
        <strong class="amount-needed">&euro; {{view.neededAfterDonation}} {% trans "is still needed"%}</strong>
        <label for="donation-amount-1">{% trans "I'd like to give" %}</label>
        <span class="currency"><em>&euro; </em><input type="number" id="donation-amount-1" name="donation-amount-1" size="8" maxlength="4" {{bindAttr value="amount"}} /></span>
    </p>

    <a class="remove" {{action "deleteOrderItem" this }}>{% trans "Remove" %}</a>

{% endtplhandlebars %}


{% tplhandlebars "order_payment" %}

    <fieldset>
        {{#view Em.Select valueBinding="paymentMethod"}}
            <option>{% trans "Payment Method"%}</option>
            <option value="1">iDeal</option>
            <option value="2">Direct Debit</option>
            <option value="3">Credit Card</option>
        {{/view}}
        {{#linkTo paymentInfo class="button right"}}{% trans "Next step" %}{{/linkTo}}
    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "payment_info" %}

    <fieldset>
        {{#if content.isLoaded}}
            {# TODO: Ask for payment method specific information here... #}
            You're all set now!<br/>
            In the next step we will redirect you to Docdata who takes care of our online payments.<br />
            <a {{bindAttr href="payment_url"}} class="button right">Pay</a>
        {{else}}
            <img src="{% get_static_prefix %}images/loading.gif" height="16px" /> {% trans "loading your information..." %}
        {{/if}}
    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "final_order_item_list" %}

    <div class="container section">
        <header class="wrapper">
            <h1 class="main-title">{% trans "Thank you!" %}</h1>
        </header>

    </div>

    <div class="container">

        <section class="wrapper">
            <form>
            <ul id="donation-projects">
                {{#each orderitem in controller}}
                    <li class="donation-project">
                        {{#linkTo project orderitem.project}}
                            <img {{bindAttr src="orderitem.project.image_square"}} class="project-image" alt="Project Name" />
                        {{/linkTo}}
                        <h1>
                            {{#linkTo project orderitem.project}}
                                {{orderitem.project.title}}
                            {{/linkTo}}
                            <em class="country">{{orderitem.project.country.name}}</em>
                        </h1>
                        <p class="donation-amount">
                            <label for="donation-amount-1">{% trans "You just donated" %}</label>
                            <span class="big currency">&euro; {{orderitem.amount}}</span>
                        </p>
                    </li>

                {{/each}}

            </ul>
            </form>
        </section>
    </div>
{% endtplhandlebars %}
