{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "currentOrder" %}
<div id="donate">
    {{#if controller.isVoucherOrder}}
        <div class="container section">
            <div class="wrapper">
                <div class="content">
                    <h1 class="main-title">{% trans "Order digital 1%GIFTCARDS" %}</h1>
                </div>
                <sidebar>
                    {{#linkTo 'currentOrder.donationList' tagName="a" class="button-link"}}
                        <em class="flaticon solid credit-card-1"></em> {% trans "Switch to donations" %}
                    {{/linkTo}}
                </sidebar>
            </div>
        </div>
    {{else}}
        <div class="container section">
            <div class="wrapper">
                <div class="content">
                    <h1 class="main-title">{% trans "Support one or more projects!" %}</h1>
                </div>
                {%comment%}
                Voucher code is disabled for now.
                <sidebar>
                    {{#linkTo 'voucherRedeem' tagName="a" class="button-link"}}
                        <em class="flaticon solid credit-card-1"></em> {% trans "I have a 1%GIFTCARD" %}
                    {{/linkTo}}
                </sidebar>
                {%endcomment%}
                
                {{#if controllers.currentUser.isAuthenticated}}
                	<ul class="tabs steps three">
                {{else}}
                	<ul class="tabs steps four">
                {{/if}}
                
	                {{#if controller.isVoucherOrder}}
	                    {%comment%}
	                    Voucher code is disabled for now.
	                    {{#view App.OrderNavView classNames="support"}}
	                        {{#linkTo 'currentOrder.voucherList'}}{% trans "Gift Cards" %}{{/linkTo}}
	                    {{/view}}
	                    {%endcomment%}
	                {{else}}
	                    {{#view App.OrderNavView classNames="support"}}
	                        {{#linkTo 'currentOrder.donationList'}}<em class="flaticon solid menu-list-1"></em> {% trans "Projects" %}{{/linkTo}}
	                    {{/view}}
	                {{/if}}
	
	                {{#view App.OrderNavView classNames="details"}}
	                    {{#linkTo 'paymentProfile'}}<em class="flaticon solid house-2"></em> {% trans "Details" %}{{/linkTo}}
	                {{/view}}
	                
					{{#unless controllers.currentUser.isAuthenticated}}
	                	{{#view App.OrderNavView classNames="profile"}}
	                   		{{#linkTo 'paymentSignup'}}<em class="flaticon solid user-2"></em> {% trans "Profile" %}{{/linkTo}}
					   	{{/view}}
					{{/unless}}

	                {{#view App.OrderNavView classNames="payment"}}
	                    {{#linkTo 'paymentSelect'}}<em class="flaticon solid wallet-1"></em> {% trans "Payment" %}{{/linkTo}}
	                {{/view}}
				</ul>
            </div>
        </div>
    {{/if}}

    <div class="container">
        <section class="wrapper">

            {{#if display_message}}
                <div {{bindAttr class=":order-message isError"}}>
                    <a {{ action hideMessage }} class="message-close" rel="close">&times;</a>

                    <div class="message-content">
                        {{ message_content }}
                    </div>
                </div>
            {{/if}}

            {{ outlet }}

        </section>

    </div>
</div>
{% endtplhandlebars %}


{% tplhandlebars "current_order_donation_list" %}
<div class="content">
	<form>
	    <fieldset class="donate-time">
	        <ul>
	            <li class="control-group control-group-lonely">
	                {{#if moreThanOneDonation }}
	                    <label class="control-label">{% trans "Donate to projects" %}</label>
	                {{else}}
	                    <label class="control-label">{% trans "Donate to project" %}</label>
	                {{/if}}
	
	                {{#if controllers.currentUser.isAuthenticated}}
	                    <div class="controls">
	                        {{#view Em.RadioButtonGroup class="big-radio radio2" name="frequency" selectedValueBinding="controllers.currentOrder.donationType"}}
	                            {{view view.RadioButton value="single" id="freq_single"}}
	                            <label for="freq_single">{% trans "One time only" %}</label>
	
	                            {{view view.RadioButton value="monthly" id="freq_monthly"}}
	                            <label for="freq_monthly">{% trans "Monthly" %}</label>
	                        {{/view}}
	                    </div>
	                {{/if}}
	
	            </li>
	        </ul>
	    </fieldset>
		

        {{#each donation in controller }}
			<ul class="donation-projects">
            	{{render "currentOrderDonation" donation}}
			</ul>
        {{else}}
        
        	<div class="donation-empty">
            {{#if showTopThreeProjects }}
            	<em class="flaticon solid heart-1"></em>
                <div class="form-meta">
                    {{#if recurringPayment.active }}
                        <p class="form-label">{% blocktrans %}You are a 1%Friend{% endblocktrans %}</p>
                        <p class="form-desc">{% trans "You currently support the top 3 projects with your monthly donation." %}</p>
                    {{ else }}
                        <p class="form-label">{% blocktrans %}Become a 1%Friend{% endblocktrans %}</p>
                        <p class="form-desc">{% trans "Support the top 3 projects with your monthly donation." %}</p>
                    {{/if}}
                </div>
            {{else}}
                {{#linkTo 'projectList'}}
                	<em class="flaticon solid plus-2"></em>
                    <div class="form-meta">
                        <p class="form-label">{% trans "Choose a project to support" %}</p>
                        <p class="form-desc">{% trans "Choose a project and click 'Support this project' to add it to your list" %}.</p>
                    </div>
                {{/linkTo}}
            {{/if}}
        	</div>
        {{/each}}
        
	    {{#if controllers.currentOrder.recurring }}
	        {{#if recurringOrder.donations.length }}	            
            <div class="donation-recurring">
            	<div class="donation-recurring-title"><h3><em class="flaticon solid menu-list-3"></em> Current Monthly Donation</h3></div>
                <ul class="donation-projects">
                    {{#each donation in recurringOrder.donations }}
                        {{#if donation.tempRecurringAmount }}
                            {{render "currentRecurringDonation" donation}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
	        {{/if}}
	        
	        {{#if controllers.currentOrder.recurring }}
                {# Both recurringPayment and recurringPayment.active checks are required #}
                {{#if recurringPayment }}
                    {{#unless recurringPayment.active }}
                        <div class="donations-turned-off">
                            <h3>{% trans "You turned off monthly donations" %}</h3>
                            <p>{% trans "It will be automatically turned on again if you follow through the next steps" %}.</p>
                        </div>
                    {{/unless}}
                {{/if}}
			{{/if}}

            <fieldset class="donation-monthly-total">
            	{{#if showTopThreeProjects }}
                	<div class="form-summary">&nbsp;</div>
                {{else}}
                	<div class="form-summary">{% trans "Divide to projects" %}</div>
                {{/if}}
                <div class="donation-amount">
                    <div class="amount-control">
                        {# TODO: This doesn't display. #}
                        {{#each error in errors.recurringTotal }}
                            <span class="errors">{{ error }}</span>
                        {{/each}}
                        <label for="donation-amount-1">{% trans "Total Amount" %}</label>
                        <span class="currency"><em>&euro; </em>
                            <input type="number" id="donation-amount-1" step="5" name="donation-amount-1" size="8" maxlength="3" {{bindAttr value="recurringTotal"}} />
                        </span>
                    </div>
                </div>
            </fieldset>

	    {{else}}
	        <fieldset class="donation-total">
	        	<div class="form-summary">{% trans "Total" %}<span class="currency right">&euro; {{ singleTotal }}</span></div>
	        </fieldset>
	    {{/if}}
	    
        {{#linkTo 'projectList' class="button-link add-project"}}<em class="flaticon solid plus-2"></em>
            {{#if showTopThreeProjects }}
            	{%trans "Choose a project" %}
            {{else}}
	            {{#if length }}
	                {%trans "Add another project" %}
	            {{else}}
	                {%trans "Add a project" %}
	            {{/if}}
	        {{/if}}
        {{/linkTo}}
        
	    {{#if readyForPayment }}
	        {{#linkTo 'paymentProfile' class="btn btn-primary btn-iconed right"}}<em class="flaticon solid right-2"></em>{% trans "Next Step" %}{{/linkTo}}
	    {{else}}
	        <button disabled class="btn btn-iconed right"><em class="flaticon solid right-2"></em>{% trans "Next Step" %}</button>
	    {{/if}}
	    
	</form>
</div>

<div class="sidebar tip">
	{{#if controllers.currentUser.isAuthenticated}}
		{{#if controllers.currentOrder.recurring }}
		<h3>{% blocktrans %}Donate monthly to<br /> become a 1%Friend.{% endblocktrans %}</h3>
	    <p>{% blocktrans %}Yay! We're happy to welcome you as a 1%Friend. After all, friends make life better!{% endblocktrans %}</p>
		{{else}}
		<h3>{% trans "Why not donate monthly?" %}</h3>
		<p>{% blocktrans %}You're about to support a 1%Project. Great! Did you know you can also share a little every month? How? Choose 'monthly' and become a 1%Friend!{% endblocktrans %}</p>
		{{/if}}	
	{{else}}
		<h3>Did you know?</h3>
		<p>{% blocktrans %}You're about to support a 1%Project. Great! Did you know you can also share a little every month? How? By becoming a 1%Member and choosin' monthly.{% endblocktrans %}
		<p class="action-link">{{#linkTo 'signup'}}{% blocktrans %}Become a 1%Member{% endblocktrans %} <em class="flaticon solid right-angle-quote-1"></em>{{/linkTo}}</p>
	{{/if}}
</div>

{% endtplhandlebars %}



{% tplhandlebars "paymentProfile" %}


<div class="content">
	<form>
	    <fieldset>
	    	
	    	<div class="form-meta">
	    	{{#if controllers.currentUser.isAuthenticated}}
	    		<div class="form-label">{% trans "Great your doing another donation!" %}</div>
				<div class="form-desc">{% trans "To process your donation, please check if your information is still correct." %}</div>
	    	{{else}}
				<div class="form-label">{% trans "Please to meet you" %}</div>
				<div class="form-desc">{% trans "To process your donation we need some information." %}</div>
	    	{{/if}}
	    	</div>
	    	
	        {{#if model.isLoaded}}
	            <ul>
	                <li class="control-group">
	                    <label class="control-label">{% trans "Your full name" %}</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="firstName" placeholder="First name" class="inline-prepend" classBinding="errors.first_name.length:error"}}
	                        {{view Em.TextField valueBinding="lastName" placeholder="Last name" class="inline-append" classBinding="errors.last_name.length:error"}}
	                    </div>
	                </li>
	
	                <li class="control-group">
	                    <label class="control-label">{% trans "Email" %}</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="email" placeholder="Email" classBinding="errors.email.length:error"}}
	                    </div>
	
	                    {{#if errors.email }}
	                        <div class="errors">{{#each errors.email }}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>
	
	                <li class="control-group">
	                    <label class="control-label">{% trans "Address" %}</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="address" placeholder="Address" classBinding="errors.address.length:error"}}
	                    </div>
	
	                    {{#if errors.address }}
	                        <div class="errors">{{#each errors.address }}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>
	
	                <li class="control-group">
	                    <label class="control-label">{% trans "Postal code" %}</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="postalCode" placeholder="Postal code" classBinding="errors.postal_code.length:error"}}
	                    </div>
	
	                    {{#if errors.postal_code }}
	                        <div class="errors">{{#each errors.postal_code }}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>
	
	                <li class="control-group">
	                    <label class="control-label">{% trans "City" %}</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="city" placeholder="City" classBinding="errors.city.length:error"}}
	                    </div>
	
	                    {{#if errors.city }}
	                        <div class="errors">{{#each errors.city }}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>
	
	                <li class="control-group">
	                    <label class="control-label">{% trans "Country" %}</label>
	                    <div class="controls">
	                        {{view App.CountryCodeSelectView valueBinding="country" placeholder="Country" classBinding="errors.country.length:error"}}
	                    </div>
	                    {{#if errors.country}}
	                        <div class="errors">{{#each errors.country}}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>
	            </ul>
	        {{/if}}
	    </fieldset>
	
	    {{#if isFormReady }}
	        <button class="btn btn-primary btn-iconed right"><em class="flaticon solid right-2"></em>{% trans 'Next Step' %}</button>
	    {{else}}
	        <button disabled class="btn btn-iconed right"><em class="flaticon solid right-2"></em>{% trans "Next Step" %}</button>
	    {{/if}}
	
	</form>
</div>

<div class="sidebar tip">

	{{#unless controllers.currentUser.isAuthenticated}}
		<a {{action openInBox "login"}} class="btn-login"><span class="flaticon solid lock-1"></span> <strong>{% trans "Have an account?" %}</strong><br /> {%  trans "Log in here" %}</a>
	{{/unless}}

    <h3>{% trans "Did you know?" %}</h3>
    {{#if controllers.currentUser.isAuthenticated }}
        <p>{% blocktrans %}"You're about to make a big impact! Did you know that every 1%Project has 6 months to reach its target? And, if the target isn't reached you will be able to support another project with this donation. If this is the case, you'll receive an email from us explaining the next steps.{% endblocktrans %}</p>
    {{else}}
        <p>{% blocktrans %}You're about to make a big impact! Did you know that every 1%Project has 6 months to reach its target? And, if the target isn't reached we'll make sure your donation will support a similar project.{% endblocktrans %}</p>
    {{/if}}
</div>

{% endtplhandlebars %}


{% tplhandlebars "currentOrderDonation" %}

    {{#linkTo 'project' project}}
        <img {{bindAttr src="project.plan.image.square" alt="project.title"}} class="project-image" />
        <h2>
            {{ project.title }}
            <em class="country">
                <em class="flaticon solid location-pin-1"></em> {{ project.plan.country.name }}, {{ project.plan.country.subregion }}
            </em>
        </h2>
    {{/linkTo}}

    <div class="donation-amount">
        <div class="amount-needed">
            <strong>&euro; {{ project.campaign.money_needed }}</strong> {% trans "is still needed"%}
        </div>

        <div class="amount-control">
            {{#each error in errors.amount}}
                <span class="errors">{{ error }}</span>
            {{/each}}
            {{#if controllers.currentOrder.recurring }}
                <span class="divided-amount">&euro; 
                 {{#if controllers.currentOrderDonationList.editingRecurringOrder }}
                        {{ tempRecurringAmount }}
                   {{else}}
                        {{ amount }}
                    {{/if}}
                </span>
            {{else}}
                <label for="donation-amount-1">{% trans "I'd like to give" %}</label>
                <span class="currency"><em>&euro; </em>
                    <input type="number" id="donation-amount-1" step="5" name="donation-amount-1" size="8" maxlength="4" {{bindAttr value="amount"}} />
                </span>
            {{/if}}
        </div>
    </div>

    <a class="remove" {{action "delete" this target="view" }}>
        <em class="flaticon solid x-2"></em>
    </a>

{% endtplhandlebars %}


{% tplhandlebars "paymentSelect" %}

{{#if controllers.currentOrder.recurring }}

	{{ outlet }}
	
{{else}}
	<div class="content">
		<form>
	    	<div class="form-meta">
				<div class="form-label">{% trans "You're almost there!" %}</div>
				<div class="form-desc">{% trans "We'll redirect you through our payment provider where you can finish your donation securely." %}</div>
			</div>
	    	
	        {{#if paymentInProgress }}
	            <span class="loading-small"><img src="{% get_static_prefix %}images/loading.gif" /> {% trans "Processing payment..." %}</span>
	            <button disabled class="btn btn-primary btn-iconed right" {{action "proceedWithPayment"}}><em class="flaticon solid right-2"></em>{% trans "Proceed with Payment" %}</button>
	        {{else}}
	            <button class="btn btn-primary btn-iconed right" {{action "proceedWithPayment"}}><em class="flaticon solid right-2"></em>{% trans "Proceed with Payment" %}</button>
	        {{/if}}
		</form>
	</div>
{{/if}}

{% endtplhandlebars %}


{% tplhandlebars "paymentSignup" %}

{{#if controllers.currentUser.isAuthenticated}}
    <div class="content">
        <form>

            <div class="form-meta">
                <div class="form-label">{% trans "We'll keep you up to date!" %}</div>
                <div class="form-desc">{% blocktrans %}You already have an account. Great! We'll keep you updated with the progress of the projects you support{% endblocktrans %}.<br /></div>
                
            </div>
        </form>
        {{#linkTo 'paymentSelect'}}
            <button class="btn btn-primary btn-iconed right"><em class="flaticon solid right-2"></em>{% trans "Next" %}</button>
        {{/linkTo}}
    </div>
    
{{else}}
	
    <div class="content">
        <form>
        
			<div class="form-meta">
				<div class="form-label">{% trans "Follow the progress?" %}</div>
				<div class="form-desc">{% trans "Sign up for an account and we keep you updated on the projects progress" %}.</div>
			</div>

            <fieldset>
                <ul>
                    <li class="control-group">
                        <label class="control-label">{% trans "Your full name" %}</label>
                        <div class="controls">
                            {{view Em.TextField valueBinding="first_name" placeholder="First name" class="inline-prepend" classBinding="errors.first_name.length:error"}}
                            {{view Em.TextField valueBinding="last_name" placeholder="Last name" class="inline-append" classBinding="errors.last_name.length:error"}}
                        </div>
                    </li>
                    <li class="control-group">
                        <label class="control-label">{% trans "Email" %}</label>
                        <div class="controls">
                            {{view Em.TextField valueBinding="email" classBinding="errors.email.length:error"}}
                        </div>
                        {{#if errors.email }}
                            <div class="errors">{{#each errors.email }}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>

                    <li class="control-group">
                        <label class="control-label">{% trans "Password" %}</label>
                        <div class="controls">
                            {{view Em.TextField type="password" valueBinding="password" classBinding="errors.password.length:error"}}
                        </div>
                        {{#if errors.password }}
                            <div class="errors">{{#each errors.password }}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>

                    <li class="control-group">
                        <label class="control-label">{% trans "Password again" %}</label>
                        <div class="controls">
                            {{view Em.TextField type="password" valueBinding="password2" classBinding="errors.password2.length:error"}}
                        </div>
                        {{#if errors.password2 }}
                            <div class="errors">{{#each errors.password2 }}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>

                </ul>
            </fieldset>

            <div class="user-agree">
                {% blocktrans %}By joining 1%Club I hereby agree to the {% endblocktrans %}
                <a {{action showPage 'terms-and-conditions'}} href="/#!/pages/terms-and-conditions">{% blocktrans %}1%Club Terms of service{% endblocktrans %}</a>
            </div>
            
            {{#if isFormReady }}
                <button class="btn btn-primary btn-iconed right"><em class="flaticon solid right-2"></em>{% trans "Submit" %}</button>
            {{else}}
                <button disabled class="btn btn-iconed right"><em class="flaticon solid right-2"></em>{% trans "Submit" %}</button>
            {{/if}}
            
            {{#linkTo 'paymentSelect' class="btn-skip"}}Skip this step{{/linkTo}}

        </form>
    </div>

    <div class="sidebar tip">
    
    	{{#unless controllers.currentUser.isAuthenticated}}
		    <a {{action openInBox "login"}} class="btn-login"><span class="flaticon solid lock-1"></span> <strong>{% trans "Have an account?" %}</strong><br /> {%  trans "Log in here" %}</a>
		{{/unless}}
		
    </div>
{{/if}}

{% endtplhandlebars %}


{% tplhandlebars "recurringDirectDebitPayment" %}
<div class="content">
	<form>
	
		<div class="form-meta">
	    	<div class="form-label">{% trans "You're almost there!" %}</div>
	        <div class="form-desc">{% trans "Add or edit your bank account information and submit to set your monthly donations." %}</div>
	    </div>
	    
	    <fieldset>
	        <ul>
	            <li class="control-group">
	                <label class="control-label">{% trans "Account Name" %}</label>
	                <div class="controls">
	                    {{view Em.TextField valueBinding="name" placeholder="Full name as it appears on your bank account" classBinding="errors.name.length:error"}}
	                </div>
	                {{#if errors.name }}
	                    <div class="errors">{{#each errors.name }}<p>{{this}}</p>{{/each}}</div>
	                {{/if}}
	            </li>
	
	            <li class="control-group">
	                <label class="control-label">{% trans "Account City" %}</label>
	                <div class="controls">
	                    {{view Em.TextField valueBinding="city" placeholder="City registered on your bank account" classBinding="errors.city.length:error"}}
	                </div>
	                {{#if errors.city }}
	                    <div class="errors">{{#each errors.city }}<p>{{this}}</p>{{/each}}</div>
	                {{/if}}
	            </li>
	
	            <li class="control-group">
	                <label class="control-label">{% trans "Account Number" %}</label>
	                <div class="controls">
	                    {{view Em.TextField valueBinding="account" placeholder="Your bank account number" classBinding="errors.account.length:error"}}
	                </div>
	                {{#if errors.account }}
	                    <div class="errors">{{#each errors.account }}<p>{{this}}</p>{{/each}}</div>
	                {{/if}}
	            </li>
	        </ul>
	    </fieldset>
	
	    <p class="authorisation">{% blocktrans %}By clicking submit, I authorize 1%Club to withdraw money every month.{% endblocktrans %}</p>
	
	    {{#if isFormReady }}
	        {{#if paymentInProgress }}
		        <span class="loading-small"><img src="{% get_static_prefix %}images/loading.gif" height="16px"  /> {% trans "Updating monthly donation ..." %}</span>
		        <button disabled class="btn btn-primary btn-iconed right"><em class="flaticon solid right-2"></em>{% trans "Submit" %}</button>
	        {{else}}
	            <button class="btn btn-primary btn-iconed right"><em class="flaticon solid right-2"></em>{% trans "Submit" %}</button>
	        {{/if}}
	    {{else}}
	        <button disabled class="btn btn-iconed right"><em class="flaticon solid right-2"></em>{% trans "Submit" %}</button>
	    {{/if}}
	
	</form>
</div>
	
<div class="sidebar tip">
	<h3>{% trans "Your monthly donation" %}</h3>
	<p>{% blocktrans %}Thank you 1%Friend! You're about to set your monthly donation amount to &euro;{% endblocktrans %} {{controllers.currentOrderDonationList.recurringTotal}}</p>
</div>	

{% endtplhandlebars %}


{% comment %}
{# TODO This isn't currently used but we want to be. #}
{% tplhandlebars "payment_multi" %}

    <div class="intro">
        <h4>{% trans "YOU MAKE IT WORK!" %}</h4>
        {% trans "Choose the payment method you prefer to donate." %}
    </div>
    <fieldset>
        <div class="tabs vertical">
            {{#view Em.RadioButtonGroup name="payment_method" selectedValueBinding="paymentMethod"}}
                {{#if hasIdeal}}
                    <label>
                        {{view view.RadioButton value="dd-ideal"}}
                        {% trans "iDeal" %}
                    </label>
                    <br/>
                {{/if}}
                {{#if hasWebMenu}}
                    <label>
                        {{view view.RadioButton value="dd-webmenu"}}
                        {% trans "Other" %}
                    </label>
                {{/if}}
            {{/view}}
        </div>
        <div class="panes vertical">
            {{#if paymentInProgress }}
                <span class="loading-small"><img src="{% get_static_prefix %}images/loading.gif" height="16px" /> {% trans "Processing payment..." %}</span>
            {{else}}
                {{#if paymentMethod}}
                    <a href="#" {{action "proceedWithPayment"}} class="btn">{% trans "Proceed with Payment" %}</a>
                {{else}}
                    {% trans "No payment method selected" %}
                {{/if}}
            {{/if}}
        </div>
    </fieldset>

{% endtplhandlebars %}
{% endcomment %}



{% tplhandlebars "orderThanks" %}
<div id="thankyou">
	<div class="container section">
        <div class="wrapper">
            <div class="content">
            	
            	<figure>
        			<img src="/static/assets/images/you-made-it-work.png" alt="You made it work" />
				</figure>
            	
            	<header>
                	<h1 class="main-title">{% trans "Donation Successful!" %}</h1>
					{{#if controllers.currentUser.isAuthenticated }}
                		<p>{% blocktrans %}
						Thanks for your support! Your 1% has brought them one step closer to realise their smart idea! Don't forget to tune in to see how they're doing! 
					{% endblocktrans %}</p>
					{{else}}
                		<p>{% blocktrans %}
						Thanks for your support! We'd be happy to keep you posted on the progress of the project(s) you supported. Why? Because it's a fun and personal way to see what's happening with your 1%. Sounds good? Just become a 1%Member!
					{% endblocktrans %}</p>
					<p>{{#linkTo 'signup'}}{% blocktrans %}Become a 1%Member{% endblocktrans %} <em class="flaticon solid right-angle-quote-1"></em>{{/linkTo}}</p>
					{{/if}}
            	</header>
            
            </div>
        </div>
    </div>

    <div class="container">
        <section class="wrapper">
			<div class="content">
			
				<div class="intro">
                	{{#if moreThanOneDonation }}
                        <h3>{% trans "You just supported these projects" %}</h3>
                    {{ else }}
                        <h3>{% trans "You just supported this project" %}</h3>
                    {{/if}}
                </div>
	
	            <ul class="donation-projects">
	                {{#each donation in donations }}
                        {{partial "thanksDonation"}}
	                {{/each}}
	            </ul>
            </div>
            
            <sidebar class="sidebar tip">
            	{{#if recurring}}
                <h3>{% trans "Your donation is set" %}</h3>
        		<p>{% blocktrans %}
				Your donation will be deducted from your account.
				{% endblocktrans %}</p>
				<p>{% trans "Donation total:" %} <strong>&euro; {{ total }},-</strong></p>
				{{/if}}
            </sidebar>
        </section>
    </div>
</div>
{% endtplhandlebars %}


{% tplhandlebars "recurringOrderThanks" %}
<div id="thankyou">
    <div class="container section">
        <div class="wrapper">
            <div class="content">
                {{#if recurringPayment.active}}
                	
                	<figure>
                		<img src="/static/assets/images/you-made-it-work.png" alt="You made it work" />
                	</figure>
                	
                	<header>
	                	<h1 class="main-title">{% trans "Donation Successful!" %}</h1>
						{{#if controllers.currentUser.isAuthenticated }}
	                		<p>{% blocktrans %}
							Thanks for your support! Your 1% has brought them one step closer to realise their smart idea! Don't forget to tune in to see how they're doing! 
						{% endblocktrans %}</p>
						{{else}}
	                		<p>{% blocktrans %}
							Thanks for your support! We'd be happy to keep you posted on the progress of the project(s) you supported. Why? Because it's a fun and personal way to see what's happening with your 1%. Sounds good? Just become a 1%Member!
						{% endblocktrans %}</p>
						<p>{{#linkTo 'signup'}}{% blocktrans %}Become a 1%Member{% endblocktrans %} <em class="flaticon solid right-angle-quote-1"></em>{{/linkTo}}</p>
						{{/if}}
	            	</header>
            	
                {{else}}
                	<header>
                    	<h1 class="main-title">{% trans "No donation set..." %}</h1>
						{{#linkTo 'currentOrder.donationList' class="edit-monthly-donations" }}
                        	<strong>{% trans "Create or enable your monthly donation" %}</strong>
						{{/linkTo }}
                	</header>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="container">
        <section class="wrapper">
			<div class="content">
                {{#if recurringPayment.active}}

                   <div class="intro">
                        {{#if donations}}
                            {{#if moreThanOneDonation }}
                                <h3>{% trans "You just supported these projects" %}</h3>
                            {{ else }}
                                <h3>{% trans "You just supported this project" %}</h3>
                            {{/if}}
                        {{ else }}
                            <h3>{% trans "You just supported the top three projects." %}</h3>
                        {{/if}}
                   </div>

                    <ul class="donation-projects">
                        {{#each donation in donations }}
                            {{partial "thanksDonation"}}
                        {{/each}}
                            
                            
                        {% comment %}    
                        {{ else }}
                            {{#each projectPreview in topThreeProjects }}
                                <li>
                                    {{ projectPreview.title }}
                                </li>
                            {{/each}}
                        {% endcomment %}
                    </ul>
                {{/if}}
            </div>
            
            <sidebar class="sidebar tip">
            	
            	<h3>{% trans "Your monthly donation is set" %}</h3>
				{{#if donations.length }}
                	<p>{% trans "Your monthly donation will be deducted from your account at the beginning of each month." %}</p>
                {{/if}}
				<p>{% trans "Monthly donation total:" %} <strong>&euro; {{ recurringPayment.amount }},-</strong></p>
				
				
				
            	{% comment %}
            	{{#if controllers.currentUser.isAuthenticated }}
                    <h3>{% trans "Personalise profile" %}</h3>
            		<p>{% blocktrans %}
					Following projects are now even easier and you'll have your own personalised page!
					{% endblocktrans %}</p>
                    {{#linkTo 'userProfile' class="profile-link" }}
                        {% trans "Complete your profile" %} &#8250;
                    {{/linkTo }}
                {{else}}
                    <h3>{% trans "Become a member" %}</h3>
                	<p>{% blocktrans %}
					Following projects are now even easier and you'll have your own personalised page!
					{% endblocktrans %}</p>
                    {{#linkTo 'signup' class="profile-link" }}
                        {% blocktrans %}Become 1%Club member{% endblocktrans %} &#8250;
                    {{/linkTo }}
                {{/if}}
                
                {{#linkTo 'userProfile' class="profile-link" }}
                        {% trans "Complete your profile" %} &#8250;
                    {{/linkTo }}
                {% endcomment %}
                
                
                
            </sidebar>
        </section>
    </div>
</div>

{% endtplhandlebars %}


{% tplhandlebars "_thanksDonation" %}

    <li class="donation-project">
        {{#linkTo 'project' donation.project}}
            <img {{bindAttr src="donation.project.plan.image.square" alt="project.title"}} class="project-image" />
            <h2>
                {{ donation.project.title }}
                <em class="country">
                    <em class="flaticon solid location-pin-1"></em> {{ donation.project.plan.country.name }}
                </em>
            </h2>
        {{/linkTo}}

        <p class="donation-amount">
            <span class="amount-needed">
                <strong>&euro; {{ donation.project.campaign.money_needed }}</strong>
                {% trans "still needed" %}
            </span>
        </p>
    </li>

{% endtplhandlebars %}

{% tplhandlebars "current_order_voucher_list" %}

    <fieldset>

        {{ render "currentOrderVoucherNew" }}

        <ul class="voucher-list">
            {{#each controller itemController=currentOrderVoucher }}
                {{ view "App.CurrentOrderVoucherView" }}
            {{/each}}

            {{#if length }}
                <li>
                    <div class="summary">
                        {{ length }} {% trans "1%GIFTCARDS will be sent out with a total value of" %}
                    </div>
                    <div class="amount">
                        <h4 class="right">&euro;{{ singleTotal }}</h4>
                    </div>
                </li>
            {{else}}
                <li>
                    <div class="summary">
                        {% trans "No gift cards in shopping basket" %}
                    </div>
                </li>
            {{/if}}
        </ul>


        {{#if length }}
            {{#linkTo 'paymentProfile' class="btn btn-primary btn-iconed right"}}<em class="flaticon solid right-2"></em>{% trans "Next Step" %}{{/linkTo}}
        {{else}}
            <button disabled class="btn btn-iconed right"><em class="flaticon solid right-2"></em>{% trans "Next Step" %}</button>
        {{/if}}

    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "current_order_voucher_new" %}

    <div class="form-meta">
        <p class="form-label">{% trans "Choose value & personalize 1%GIFTCARD" %}</p>
    </div>

    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label">{% trans "Language" %}</label>

                <div class="controls">
                    {{#view Em.RadioButtonGroup class="big-radio radio2" name="language" selectedValueBinding="language"}}
                        {{view view.RadioButton value="en" id="lang_en"}}
                        <label for="lang_en">{% trans "English" %}</label>

                        {{view view.RadioButton value="nl" id="lang_nl"}}
                        <label for="lang_nl">{% trans "Dutch" %}</label>
                    {{/view}}
                </div>
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Value" %}</label>

                <div class="controls">
                    {{#view Em.RadioButtonGroup class="big-radio radio4" name="amount" selectedValueBinding="amount"}}
                        {{view view.RadioButton value=10 id="amount_10"}}
                        <label for="amount_10">
                            &euro;10
                        </label>
                        {{view view.RadioButton value=25 id="amount_25"}}
                        <label for="amount_25">
                            &euro;25
                        </label>
                        {{view view.RadioButton value=50 id="amount_50"}}
                        <label for="amount_50">
                            &euro;50
                        </label>
                        {{view view.RadioButton value=100 id="amount_100"}}
                        <label for="amount_100">
                            &euro;100
                        </label>
                    {{/view}}
                </div>
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Your name" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="sender_name" classBinding="errors.sender_name.length:error"}}
                </div>

                {{#if errors.sender_name }}
                    <div class="errors">{{#each errors.sender_name}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Your email" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="sender_email" classBinding="errors.sender_email.length:error"}}
                </div>

                {{#if errors.sender_email }}
                    <div class="errors">{{#each errors.sender_email}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>

    <hr class="form-divider">

    <fieldset>
        <legend><strong>{% trans "This gift card is for:" %}</strong></legend>

        <ul>
            <li class="control-group">
                <label class="control-label">{% trans "Name" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="receiver_name" classBinding="errors.receiver_name.length:error"}}
                </div>

                {{#if errors.receiver_name }}
                    <div class="errors">{{#each errors.receiver_name}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Email" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="receiver_email" classBinding="errors.receiver_email.length:error"}}
                </div>

                {{#if errors.receiver_email}}
                    <div class="errors">{{#each errors.receiver_email}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Personal message" %}</label>

                <div class="controls">
                    {{view Em.TextArea valueBinding="message" placeholder="Your message that will appear on the digital voucher." classBinding="errors.message.length:error"}}
                </div>

                {{#if errors.message}}
                    <div class="errors">{{#each errors.message}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>

    <a {{action "addVoucher"}} class="right btn">{% trans "Add" %}</a>
    <br class="clear">

{% endtplhandlebars %}


{% tplhandlebars "current_order_voucher" %}

    <div class="name">
        <h4>{{receiver_name}}</h4>
    </div>
    <div class="mail">{{receiver_email}}</div>
    <div class="amount right">
        <span class="right">&euro;{{amount}}</span>
    </div>
    <div class="actions manage-remove"><a {{action "delete" target="view"}} class="right">{% trans "Delete" %}</a></div>

{% endtplhandlebars %}



{% tplhandlebars "ticker" %}
    <ul class="donation-projects" >
        {{#each donation in controller}}
            <li class="donation-project">
                <img {{bindAttr src="donation.project.image" alt="project.title"}} class="project-image" style="width: 200px; float: right;" />
                <img {{bindAttr src="donation.user.avatar" alt="project.title"}} class="project-image"  style="width: 150px"  />
                <strong style="font-size:70px; padding: 10px; font-weight: 600; color: #ff619a; float: right;">&euro;{{ donation.amount }}</strong><br />
                <h2 style="font-size:30px; color: black;">
                    {{ donation.user.full_name }}<br />
                    <span style="color: #777;font-size:20px; text-transform: lowercase">{{ localize donation.created  formatting="X" }}</span><br/>
                    <span style="color: #777;">{{ donation.project.title }}</span>
                </h2>

            </li>
        {{/each}}
    </ul>
{% endtplhandlebars %}
