{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "currentOrder" %}
<div id="fund">
    {{#if controller.isVoucherOrder}}
        <div class="l-section">
            <section class="l-wrapper">
                <div class="l-content">
                    <header>
                        <h1>{% trans "Order digital 1%GIFTCARDS" %}</h1>
                    </header>
                </div>
                <sidebar class="l-sidebar">
                    {{#linkTo 'currentOrder.donationList' tagName="a" class="btn-link"}}
                        <span class="flaticon solid credit-card-1"></span> {% trans "Switch to donations" %}
                    {{/linkTo}}
                </sidebar>
            </section>
        </div>
    {{else}}
        <div class="l-section fund-header">
            <section class="l-wrapper">
            
                <header class="l-header">
                    <h1>{% trans "Support" %}</h1>
                
                    {{#if controllers.currentUser.isAuthenticated}}
                	<ul class="tabs steps three">
                    {{else}}
                	<ul class="tabs steps four">
                    {{/if}}
                
	                {{#if controller.isVoucherOrder}}
	                    {%comment%}
	                    Voucher code is disabled for now.
	                    {{#view App.OrderNavView classNames="support"}}
	                        {{#linkTo 'currentOrder.voucherList'}}{% trans "Gift Cards" %}{{/linkTo}}
	                    {{/view}}
	                    {%endcomment%}
	                {{else}}
	                    {{#view App.OrderNavView classNames="support"}}
	                        {{#linkTo 'currentOrder.donationList'}}<span class="flaticon solid menu-list-4"></span> {% trans "Projects" %}{{/linkTo}}
	                    {{/view}}
	                {{/if}}
	
	                {{#view App.OrderNavView classNames="details"}}
	                    {{#linkTo 'paymentProfile'}}<span class="flaticon solid mail-3"></span> {% trans "Details" %}{{/linkTo}}
	                {{/view}}
	                
					{{#unless controllers.currentUser.isAuthenticated}}
	                	{{#view App.OrderNavView classNames="profile"}}
	                   		{{#linkTo 'paymentSignup'}}<span class="flaticon solid user-1"></span> {% trans "Profile" %}{{/linkTo}}
					   	{{/view}}
					{{/unless}}

	                {{#view App.OrderNavView classNames="payment"}}
	                    {{#linkTo 'paymentSelect'}}<span class="flaticon solid wallet-1"></span> {% trans "Payment" %}{{/linkTo}}
	                {{/view}}
                    </ul>
				</header>
                
                {%comment%}
                Voucher code is disabled for now.
                <sidebar class="l-sidebar">
                    {{#linkTo 'voucherRedeem' tagName="a" class="btn-link"}}
                        <span class="flaticon solid credit-card-1"></span> {% trans "I have a 1%GIFTCARD" %}
                    {{/linkTo}}
                </sidebar>
                {%endcomment%}
            </section>
        </div>
    {{/if}}

    <div class="l-section">
        <section class="l-wrapper">

            {{#if display_message}}
                <div {{bindAttr class=":message :l-content isError"}}>
                    <a {{ action hideMessage }} class="message-close" rel="close">&times;</a>

                    <div class="message-content">
                        {{ message_content }}
                    </div>
                </div>
            {{/if}}

            {{ outlet }}

        </section>
    </div>
</div>
{% endtplhandlebars %}


{% tplhandlebars "current_order_donation_list" %}
	<form class="l-content">
	    
        <ul class="project-list">
        {{#each donation in controller }}
            {{render "currentOrderDonation" donation}}
        {{else}}
        
        	<div class="fund-empty">
            {{#linkTo 'projectList'}}
                <em class="flaticon solid plus-2"></em>
                <legend>
                    <strong>{% trans "Choose a project to support" %}</strong>
                    <p>{% trans "Choose a project and click 'Support this project' to add it to your list" %}.</p>
                </legend>
            {{/linkTo}}
        	</div>
        {{/each}}
        </ul>
        
        <fieldset class="fund-total">
            <div class="fund-total-label">{% trans "Total" %}</div>
            <div class="fund-total-amount"><em class="currency">&euro;</em> {{ singleTotal }}</div>
        </fieldset>

        {{#linkTo 'projectList' class="btn-link btn-add"}}<em class="flaticon solid plus-2"></em>
            {{#if length }}
                {%trans "Add another project" %}
            {{else}}
                {%trans "Add a project" %}
            {{/if}}
        {{/linkTo}}
        
	    {{#if readyForPayment }}
	        <button {{action nextStep}} class="btn btn-iconed btn-next"><span class="flaticon solid right-2"></span>{% trans "Next Step" %}</button>
	    {{else}}
	        <button disabled class="btn btn-iconed btn-next"><span class="flaticon solid right-2"></span>{% trans "Next Step" %}</button>
	    {{/if}}
	    
	</form>

{% comment %}
<div class="l-sidebar">
	{{if controllers.currentUser.isAuthenticated}}
		<h3>{% trans "Why not donate monthly?" %}</h3>
		<p>{% blocktrans %}You're about to support a 1%Project. Great! Did you know you can also share a little every month? How? Choose 'monthly' and become a 1%Friend!{% endblocktrans %}</p>
	{{else}}
		<h3>Did you know?</h3>
		<p>{% blocktrans %}You're about to support a 1%Project. Great! Did you know you can also share a little every month? How? By becoming a 1%Member and choosin' monthly.{% endblocktrans %}
		<p class="btn-link">{{#linkTo 'signup'}}{% blocktrans %}Become a 1%Member{% endblocktrans %} <span class="flaticon solid right-angle-quote-1"></span>{{/linkTo}}</p>
	{{/if}}
</div>
{% endcomment %}

{% endtplhandlebars %}



{% tplhandlebars "paymentProfile" %}

<div class="l-content">
    
    {{#unless controllers.currentUser.isAuthenticated}}
        <a {{action openInBox "login"}} class="btn-login"><span class="flaticon solid lock-1"></span> <strong>{% trans "Have an account?" %}</strong><br /> {%  trans "Log in here" %}</a>
    {{/unless}}
    
	<form>
    	<legend>
        	{{#if controllers.currentUser.isAuthenticated}}
        		<strong>{% trans "Great that you are doing another donation!" %}</strong>
    			<p>{% trans "Please verify your details" %}.</p>
        	{{else}}
    			<strong>{% trans "Nice to meet you" %}</strong>
    			<p>{% trans "To process your donation we need some information." %}</p>
        	{{/if}}
    	</legend>
	    	
	    <fieldset>
	    	
	        {{#if model.isLoaded}}
	            <ul>
	                <li class="control-group">
	                    <label class="control-label">{% trans "Your full name" %}</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="firstName" placeholder="First name" class="inline-prepend" classBinding="errors.first_name.length:error"}}
	                        {{view Em.TextField valueBinding="lastName" placeholder="Last name" class="inline-append" classBinding="errors.last_name.length:error"}}
	                    </div>
	                </li>
	
	                <li class="control-group">
	                    <label class="control-label">{% trans "Email" %}</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="email" placeholder="Email" classBinding="errors.email.length:error"}}
	                    </div>
	
	                    {{#if errors.email }}
	                        <div class="has-errors">{{#each errors.email }}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>
	
	                <li class="control-group">
	                    <label class="control-label">{% trans "Address" %}</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="address" placeholder="Address" classBinding="errors.address.length:error"}}
	                    </div>
	
	                    {{#if errors.address }}
	                        <div class="has-errors">{{#each errors.address }}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>
	
	                <li class="control-group">
	                    <label class="control-label">{% trans "Postal code" %}</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="postalCode" placeholder="Postal code" classBinding="errors.postal_code.length:error"}}
	                    </div>
	
	                    {{#if errors.postal_code }}
	                        <div class="has-errors">{{#each errors.postal_code }}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>
	
	                <li class="control-group">
	                    <label class="control-label">{% trans "City" %}</label>
	                    <div class="controls">
	                        {{view Em.TextField valueBinding="city" placeholder="City" classBinding="errors.city.length:error"}}
	                    </div>
	
	                    {{#if errors.city }}
	                        <div class="has-errors">{{#each errors.city }}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>
	
	                <li class="control-group">
	                    <label class="control-label">{% trans "Country" %}</label>
	                    <div class="controls">
	                        {{view App.CountryCodeSelectView valueBinding="country" placeholder="Country" classBinding="errors.country.length:error"}}
	                    </div>
	                    {{#if errors.country}}
	                        <div class="has-errors">{{#each errors.country}}<p>{{this}}</p>{{/each}}</div>
	                    {{/if}}
	                </li>
	            </ul>
	        {{/if}}
	    </fieldset>
	
	    {{#if isComplete }}
	        <button class="btn btn-primary btn-iconed btn-next"><span class="flaticon solid right-2"></span>{% trans 'Next Step' %}</button>
	    {{else}}
	        <button disabled class="btn btn-iconed btn-next"><span class="flaticon solid right-2"></span>{% trans "Next Step" %}</button>
	    {{/if}}
	
	</form>
</div>

{% comment %}
<div class="l-sidebar">

    <h3>{% trans "Did you know?" %}</h3>
    {{#if controllers.currentUser.isAuthenticated }}
        <p>{% blocktrans %}"You're about to make a big impact! Did you know that every 1%Project has 6 months to reach its target? And, if the target isn't reached you will be able to support another project with this donation. If this is the case, you'll receive an email from us explaining the next steps.{% endblocktrans %}</p>
    {{else}}
        <p>{% blocktrans %}You're about to make a big impact! Did you know that every 1%Project has 6 months to reach its target? And, if the target isn't reached we'll make sure your donation will support a similar project.{% endblocktrans %}</p>
    {{/if}}
</div>
{% endcomment %}

{% endtplhandlebars %}


{% tplhandlebars "currentOrderDonation" %}

    {{#linkTo 'project' project class="project-header" }}
        <figure class="project-image">
            <img {{bindAttr src="project.plan.image.square" alt="project.title"}} />
        </figure>
        <h2 class="project-title">
            {{ project.title }}
            <em class="project-location">
                <span class="flaticon solid location-pin-1"></span> {{ project.plan.country.name }}
            </em>
        </h2>
    {{/linkTo}}

    <div class="fund-amount">
        <strong class="fund-amount-needed">&euro; {{ project.campaign.money_needed }}</strong> {% trans "is still needed"%}
        <div class="fund-amount-control">
            {{#each error in errors.amount}}
                <span class="has-errors">{{ error }}</span>
            {{/each}}
            <label for="fund-amount-1">{% trans "I'd like to give" %}</label>
            <span class="currency"><em>&euro; </em>
                <input type="number" class="fund-amount-input" id="fund-amount-1" step="5" name="fund-amount-1" size="8" maxlength="4" {{bindAttr value="amount"}} />
            </span>            
        </div>
    </div>
    
    <a {{ action "deleteDonation" target="view" }} class="manage-delete"><span class="flaticon solid x-2"></span> <strong>{% trans "Delete" %}</strong></a>
    
{% endtplhandlebars %}


{% tplhandlebars "paymentSelect" %}

{{#if controllers.currentOrder.recurring }}
	{{ outlet }}
{{else}}
	<div class="l-content fund-payment-select">
		<form>
	    	<legend>
				<strong>{% trans "You're almost there!" %}</strong>
				<p>{% trans "We'll redirect you through our payment provider where you can finish your donation securely." %}</p>
			</legend>

                <ul class="tabs tabs-vertical">
                    {{#view Em.RadioButtonGroup name="paymentMethod" selectedValueBinding="redirectPaymentMethod" class="radio-group-tabbed"}}
                        {{#each redirectPaymentMethods}}
                            <li class="tab-item">
                                <label class="tab-title radio">{{view view.RadioButton valueBinding=id}} <span>{{name}}</span></label>
                            </li>
                        {{/each}}
                    {{/view}}
                </ul>
                
                <div class="tab-content fund-payment-type">
                   
                    {{#if isIdeal}}
                        <h3>{% trans "Select your bank below" %}</h3>
                        <p>{% trans "We'll redirect you through our payment provider where you can finish your donation securely." %}</p>
                        <ul>
                        {{#view Em.RadioButtonGroup name="issuerId" selectedValueBinding="idealIssuerId" class="radio-group-tabbed"}}
                            {{#each idealIssuers}}
                                <li class="fund-payment-item">
                                    <label class="radio">{{view view.RadioButton valueBinding=id}} <span>{{name}}</span></label>
                                </li>
                            {{/each}}
                        {{/view}}
                        </ul>
                    
                        {{#if idealIssuerId}}
                            {{#if paymentInProgress }}
                                <div class="is-loading-small"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Processing payment&#8230;" %}</strong></div>
                                <button disabled class="btn btn-primary btn-iconed btn-submit" {{action "proceedWithPayment"}}><span class="flaticon solid right-2"></span>{% trans "Proceed with Payment" %}</button>
                            {{else}}
                                <button class="btn btn-primary btn-iconed btn-proceed" {{action "proceedWithPayment"}}><span class="flaticon solid right-2"></span>{% trans "Proceed with Payment" %}</button>
                            {{/if}}
                        {{else}}
                            <button class="btn btn-primary btn-iconed btn-proceed" disabled {{action "proceedWithPayment"}}><span class="flaticon solid right-2"></span>{% trans "Proceed with Payment" %}</button>

                        {{/if}}

                    {{else}}
                        {{#if redirectPaymentMethod}}
                            <h3>{% trans "You're almost there!" %}</h3>
                            <p>{% trans "We'll redirect you through our payment provider where you can finish your donation securely." %}</p>

                            {{#if paymentInProgress }}
                                <div class="is-loading-small"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Processing payment&#8230;" %}</strong></div>
                                <button disabled class="btn btn-primary btn-iconed btn-submit" {{action "proceedWithPayment"}}><span class="flaticon solid right-2"></span>{% trans "Proceed with Payment" %}</button>
                            {{else}}
                                <button class="btn btn-primary btn-iconed btn-proceed" {{action "proceedWithPayment"}}><span class="flaticon solid right-2"></span>{% trans "Proceed with Payment" %}</button>
                            {{/if}}
            	        {{/if}}

                    {{/if}}
                </div>
            </div>
	        
		</form>
	</div>
{{/if}}

{% endtplhandlebars %}


{% tplhandlebars "paymentSignup" %}

{{#if controllers.currentUser.isAuthenticated}}
    <div class="l-content">
        <form>
            <legend>
                <strong>{% trans "We'll keep you up to date!" %}</strong>
                <p>{% blocktrans %}You already have an account. Great! We'll keep you updated with the progress of the projects you support{% endblocktrans %}.<br /></div>
                
            </legend>
        </form>
        {{#linkTo 'paymentSelect'}}
            <button class="btn btn-primary btn-iconed btn-next"><em class="flaticon solid right-2"></em>{% trans "Next" %}</button>
        {{/linkTo}}
    </div>
    
{{else}}
	
    <div class="l-content">
        {{#unless controllers.currentUser.isAuthenticated}}
            <a {{action openInBox "login"}} class="btn-login"><span class="flaticon solid lock-1"></span> <strong>{% trans "Have an account?" %}</strong><br /> {%  trans "Log in here" %}</a>
		{{/unless}}
		
        <form>
                          
			<legend>
				<strong>{% trans "Follow the progress?" %}</strong>
				<p>{% trans "Sign up for an account and we keep you updated on the projects progress" %}.</p>
			</legend>
            
            <fieldset>  
                <ul>
                    <li class="control-group">
                        <label class="control-label">{% trans "Your full name" %}</label>
                        <div class="controls">
                            {{view Em.TextField valueBinding="first_name" placeholder="First name" class="inline-prepend" classBinding="errors.first_name.length:error"}}
                            {{view Em.TextField valueBinding="last_name" placeholder="Last name" class="inline-append" classBinding="errors.last_name.length:error"}}
                        </div>
                    </li>
                    <li class="control-group">
                        <label class="control-label">{% trans "Email" %}</label>
                        <div class="controls">
                            {{view Em.TextField valueBinding="email" classBinding="errors.email.length:error"}}
                        </div>
                        {{#if errors.email }}
                            <div class="has-errors">{{#each errors.email }}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>

                    <li class="control-group">
                        <label class="control-label">{% trans "Password" %}</label>
                        <div class="controls">
                            {{view Em.TextField type="password" valueBinding="password" classBinding="errors.password.length:error"}}
                        </div>
                        {{#if errors.password }}
                            <div class="has-errors">{{#each errors.password }}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>

                    <li class="control-group">
                        <label class="control-label">{% trans "Password again" %}</label>
                        <div class="controls">
                            {{view Em.TextField type="password" valueBinding="password2" classBinding="errors.password2.length:error"}}
                        </div>
                        {{#if errors.password2 }}
                            <div class="has-errors">{{#each errors.password2 }}<p>{{this}}</p>{{/each}}</div>
                        {{/if}}
                    </li>
                </ul>
                
                <p class="control-group agree">
                    <small class="controls">
                        {% blocktrans %}By joining 1%Club I hereby agree to the {% endblocktrans %} 
                        <a {{action showPage 'terms-and-conditions'}} href="/#!/pages/terms-and-conditions">{% blocktrans %}1%Club Terms of service{% endblocktrans %}</a>
                    </small>
                </p>
                
            </fieldset>
            
            {{#if isFormReady }}
                <button class="btn btn-primary btn-iconed btn-next"><span class="flaticon solid right-2"></span>{% trans "Next Step" %}</button>
            {{else}}
                <button disabled class="btn btn-iconed btn-next"><span class="flaticon solid right-2"></span>{% trans "Next Step" %}</button>
            {{/if}}
            
            {{#linkTo 'paymentSelect' class="btn-link btn-skip"}}<span class="flaticon solid x-1"></span>Skip this step{{/linkTo}}

        </form>
    </div>

    <div class="l-sidebar">
    
    </div>
{{/if}}

{% endtplhandlebars %}


{% tplhandlebars "recurringDirectDebitPayment" %}
<div class="l-content">
	<form>
	    <fieldset>
	    	    
    		<legend>
    	    	<strong>{% trans "You're almost there!" %}</strong>
    	        <p>{% trans "Add or edit your bank account information and submit to set your monthly donations." %}</p>
    	    </legend>
	    
	        <ul>
	            <li class="control-group">
	                <label class="control-label">{% trans "Account Name" %}</label>
	                <div class="controls">
	                    {{view Em.TextField valueBinding="name" placeholder="Full name as it appears on your bank account" classBinding="errors.name.length:error"}}
	                </div>
	                {{#if errors.name }}
	                    <div class="has-errors">{{#each errors.name }}<p>{{this}}</p>{{/each}}</div>
	                {{/if}}
	            </li>
	
	            <li class="control-group">
	                <label class="control-label">{% trans "Account City" %}</label>
	                <div class="controls">
	                    {{view Em.TextField valueBinding="city" placeholder="City registered on your bank account" classBinding="errors.city.length:error"}}
	                </div>
	                {{#if errors.city }}
	                    <div class="has-errors">{{#each errors.city }}<p>{{this}}</p>{{/each}}</div>
	                {{/if}}
	            </li>
	
	            <li class="control-group">
	                <label class="control-label">{% trans "Account Number" %}</label>
	                <div class="controls">
	                    {{view Em.TextField valueBinding="account" placeholder="Your bank account number" classBinding="errors.account.length:error"}}
	                </div>
	                {{#if errors.account }}
	                    <div class="has-errors">{{#each errors.account }}<p>{{this}}</p>{{/each}}</div>
	                {{/if}}
	            </li>
	        </ul>
	        
	        <p class="control-group agree">
                <small class="controls">
                    {% blocktrans %}By clicking submit, I authorize 1%Club to withdraw money every month.{% endblocktrans %}
                </small>
            </p>
	        
	    </fieldset>
	
	    {{#if isFormReady }}
	        {{#if paymentInProgress }}
		        <div class="is-loading-small"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Updating monthly donation&#8230;" %}</strong></div>
		        <button disabled class="btn btn-primary btn-iconed btn-submit"><span class="flaticon solid right-2"></span>{% trans "Submit" %}</button>
	        {{else}}
	            <button class="btn btn-primary btn-iconed btn-submit"><span class="flaticon solid right-2"></span>{% trans "Submit" %}</button>
	        {{/if}}
	    {{else}}
	        <button disabled class="btn btn-iconed btn-submit"><span class="flaticon solid right-2"></span>{% trans "Submit" %}</button>
	    {{/if}}
	
	</form>
</div>
	
<div class="l-sidebar">
	<h3>{% trans "Your monthly donation" %}</h3>
	<p>{% blocktrans %}Thank you 1%Friend! You're about to set your monthly donation amount to &euro;{% endblocktrans %} {{controllers.currentOrderDonationList.recurringTotal}}</p>
</div>	

{% endtplhandlebars %}


{% comment %}
{# TODO This isn't currently used but we want to be. #}
{% tplhandlebars "payment_multi" %}

    <header>
        <h4>{% trans "YOU MAKE IT WORK!" %}</h4>
        {% trans "Choose the payment method you prefer to donate." %}
    </header>
    
    <fieldset>
        <div class="tabs vertical">
            {{#view Em.RadioButtonGroup name="payment_method" selectedValueBinding="paymentMethod"}}
                {{#if hasIdeal}}
                    <label>
                        {{view view.RadioButton value="dd-ideal"}}
                        {% trans "iDeal" %}
                    </label>
                    <br/>
                {{/if}}
                {{#if hasWebMenu}}
                    <label>
                        {{view view.RadioButton value="dd-webmenu"}}
                        {% trans "Other" %}
                    </label>
                {{/if}}
            {{/view}}
        </div>
        <div class="panes vertical">
            {{#if paymentInProgress }}
                <div class="is-loading-small"><img src="{% get_static_prefix %}images/loading.gif" /> <strong>{% trans "Processing payment&#8230;" %}</strong></span>
            {{else}}
                {{#if paymentMethod}}
                    <a href="#" {{action "proceedWithPayment"}} class="btn btn-proceed">{% trans "Proceed with Payment" %}</a>
                {{else}}
                    {% trans "No payment method selected" %}
                {{/if}}
            {{/if}}
        </div>
    </fieldset>

{% endtplhandlebars %}
{% endcomment %}



{% tplhandlebars "orderThanks" %}
	<div class="l-section">
        <section class="l-wrapper">
        
            <div class="l-content">    	
            	<figure>
        			<img src="/static/assets/images/you-made-it-work.png" alt="You made it work" />
				</figure>
            	
            	<header>
                	<h1>{% trans "Donation Successful!" %}</h1>
					{{#if controllers.currentUser.isAuthenticated }}
                		<p>{% blocktrans %}
						Thanks for your support! Your 1% has brought them one step closer to realise their smart idea! Don't forget to tune in to see how they're doing! 
					{% endblocktrans %}</p>
					{{else}}
                		<p>{% blocktrans %}
						Thanks for your support! We'd be happy to keep you posted on the progress of the project(s) you supported. Why? Because it's a fun and personal way to see what's happening with your 1%. Sounds good? Just become a 1%Member!
					{% endblocktrans %}</p>
					<p>{{#linkTo 'signup'}}{% blocktrans %}Become a 1%Member{% endblocktrans %} <em class="flaticon solid right-angle-quote-1"></em>{{/linkTo}}</p>
					{{/if}}
            	</header>
            
            </div>
        </section>
    </div>

    <div class="l-section">
        <section class="l-wrapper">
			<div class="l-content">
				<header>
                	{{#if moreThanOneDonation }}
                        <h3>{% trans "You just supported these projects" %}</h3>
                    {{ else }}
                        <h3>{% trans "You just supported this project" %}</h3>
                    {{/if}}
                </header>
	
	            <ul class="project-list">
	                {{#each donation in donations }}
                        {{partial "thanksDonation"}}
	                {{/each}}
	            </ul>
            </div>
        </section>
    </div>
{% endtplhandlebars %}


{% tplhandlebars "recurringOrderThanks" %}
    <div class="l-section">
        <section class="l-wrapper">
            <div class="l-content">
                {{#if recurringPayment.active}}
                	
                	<figure>
                		<img src="/static/assets/images/you-made-it-work.png" alt="You made it work" />
                	</figure>
                	
                	<header>
	                	<h1>{% trans "Donation Successful!" %}</h1>
						{{#if controllers.currentUser.isAuthenticated }}
	                		<p>{% blocktrans %}
							Thanks for your support! Your 1% has brought them one step closer to realise their smart idea! Don't forget to tune in to see how they're doing! 
						{% endblocktrans %}</p>
						{{else}}
	                		<p>{% blocktrans %}
							Thanks for your support! We'd be happy to keep you posted on the progress of the project(s) you supported. Why? Because it's a fun and personal way to see what's happening with your 1%. Sounds good? Just become a 1%Member!
						{% endblocktrans %}</p>
						<p>{{#linkTo 'signup'}}{% blocktrans %}Become a 1%Member{% endblocktrans %} <em class="flaticon solid right-angle-quote-1"></em>{{/linkTo}}</p>
						{{/if}}
	            	</header>
            	
                {{else}}
                	<header>
                    	<h1>{% trans "No donation set..." %}</h1>
						{{#linkTo 'currentOrder.donationList' class="edit-monthly-donations" }}
                        	<strong>{% trans "Create or enable your monthly donation" %}</strong>
						{{/linkTo }}
                	</header>
                {{/if}}
            </div>
        </section>
    </div>

    <div class="l-section">
        <section class="l-wrapper">
			<div class="l-content">
                {{#if recurringPayment.active}}

                   <header>
                        {{#if donations}}
                            {{#if moreThanOneDonation }}
                                <h3>{% trans "You just supported these projects" %}</h3>
                            {{ else }}
                                <h3>{% trans "You just supported this project" %}</h3>
                            {{/if}}
                        {{ else }}
                            <h3>{% trans "You just supported the top three projects." %}</h3>
                        {{/if}}
                   </header>

                    <ul class="project-list">
                        {{#each donation in donations }}
                            {{partial "thanksDonation"}}
                        {{/each}}
                            
                            
                        {% comment %}    
                        {{ else }}
                            {{#each projectPreview in topThreeProjects }}
                                <li>
                                    {{ projectPreview.title }}
                                </li>
                            {{/each}}
                        {% endcomment %}
                    </ul>
                {{/if}}
            </div>
            
            <sidebar class="l-sidebar">
            	
            	<h3>{% trans "Your monthly donation is set" %}</h3>
				{{#if donations.length }}
                	<p>{% trans "Your monthly donation will be deducted from your account at the beginning of each month." %}</p>
                {{/if}}
				<p>{% trans "Monthly donation total:" %} <strong>&euro; {{ recurringPayment.amount }},-</strong></p>
				
            	{% comment %}
            	{{#if controllers.currentUser.isAuthenticated }}
                    <h3>{% trans "Personalise profile" %}</h3>
            		<p>{% blocktrans %}
					Following projects are now even easier and you'll have your own personalised page!
					{% endblocktrans %}</p>
                    {{#linkTo 'userProfile' class="profile-link" }}
                        {% trans "Complete your profile" %} &#8250;
                    {{/linkTo }}
                {{else}}
                    <h3>{% trans "Become a member" %}</h3>
                	<p>{% blocktrans %}
					Following projects are now even easier and you'll have your own personalised page!
					{% endblocktrans %}</p>
                    {{#linkTo 'signup' class="profile-link" }}
                        {% blocktrans %}Become 1%Club member{% endblocktrans %} &#8250;
                    {{/linkTo }}
                {{/if}}
                
                {{#linkTo 'userProfile' class="profile-link" }}
                        {% trans "Complete your profile" %} &#8250;
                    {{/linkTo }}
                {% endcomment %}
                
            </sidebar>
        </section>
    </div>
{% endtplhandlebars %}


{% tplhandlebars "_thanksDonation" %}

    <li class="project-item">
        {{#linkTo 'project' donation.project}}
            <figure class="project-image">
                <img {{bindAttr src="donation.project.plan.image.square" alt="project.title"}} />
            </figure>
            <h2>
                {{ donation.project.title }}
                <em class="project-location">
                    <span class="flaticon solid location-pin-1"></span> {{ donation.project.plan.country.name }}
                </em>
            </h2>
        {{/linkTo}}

        <p class="fund-amount">
            <span class="fund-amount-needed">
                <strong>&euro; {{ donation.project.campaign.money_needed }}</strong>
                {% trans "still needed" %}
            </span>
        </p>
    </li>

{% endtplhandlebars %}

{% tplhandlebars "current_order_voucher_list" %}

    <fieldset>

        {{ render "currentOrderVoucherNew" }}

        <ul class="voucher-list">
            {{#each controller itemController=currentOrderVoucher }}
                {{ view "App.CurrentOrderVoucherView" }}
            {{/each}}

            {{#if length }}
                <li>
                    <div class="summary">
                        {{ length }} {% trans "1%GIFTCARDS will be sent out with a total value of" %}
                    </div>
                    <div class="amount">
                        <h4 class="right">&euro;{{ singleTotal }}</h4>
                    </div>
                </li>
            {{else}}
                <li>
                    <div class="summary">
                        {% trans "No gift cards in shopping basket" %}
                    </div>
                </li>
            {{/if}}
        </ul>


        {{#if length }}
            {{#linkTo 'paymentProfile' class="btn btn-primary btn-iconed btn-next"}}<em class="flaticon solid right-2"></em>{% trans "Next Step" %}{{/linkTo}}
        {{else}}
            <button disabled class="btn btn-iconed  btn-next"><span class="flaticon solid right-2"></span>{% trans "Next Step" %}</button>
        {{/if}}

    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "current_order_voucher_new" %}

    <div class="form-meta">
        <p class="form-label">{% trans "Choose value & personalize 1%GIFTCARD" %}</p>
    </div>

    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label">{% trans "Language" %}</label>

                <div class="controls">
                    {{#view Em.RadioButtonGroup class="big-radio radio2" name="language" selectedValueBinding="language"}}
                        {{view view.RadioButton value="en" id="lang_en"}}
                        <label for="lang_en">{% trans "English" %}</label>

                        {{view view.RadioButton value="nl" id="lang_nl"}}
                        <label for="lang_nl">{% trans "Dutch" %}</label>
                    {{/view}}
                </div>
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Value" %}</label>

                <div class="controls">
                    {{#view Em.RadioButtonGroup class="big-radio radio4" name="amount" selectedValueBinding="amount"}}
                        {{view view.RadioButton value=10 id="amount_10"}}
                        <label for="amount_10">
                            &euro;10
                        </label>
                        {{view view.RadioButton value=25 id="amount_25"}}
                        <label for="amount_25">
                            &euro;25
                        </label>
                        {{view view.RadioButton value=50 id="amount_50"}}
                        <label for="amount_50">
                            &euro;50
                        </label>
                        {{view view.RadioButton value=100 id="amount_100"}}
                        <label for="amount_100">
                            &euro;100
                        </label>
                    {{/view}}
                </div>
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Your name" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="sender_name" classBinding="errors.sender_name.length:error"}}
                </div>

                {{#if errors.sender_name }}
                    <div class="has-errors">{{#each errors.sender_name}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Your email" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="sender_email" classBinding="errors.sender_email.length:error"}}
                </div>

                {{#if errors.sender_email }}
                    <div class="has-errors">{{#each errors.sender_email}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>

    <hr class="form-divider">

    <fieldset>
        <legend><strong>{% trans "This gift card is for:" %}</strong></legend>

        <ul>
            <li class="control-group">
                <label class="control-label">{% trans "Name" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="receiver_name" classBinding="errors.receiver_name.length:error"}}
                </div>

                {{#if errors.receiver_name }}
                    <div class="has-errors">{{#each errors.receiver_name}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Email" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="receiver_email" classBinding="errors.receiver_email.length:error"}}
                </div>

                {{#if errors.receiver_email}}
                    <div class="has-errors">{{#each errors.receiver_email}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Personal message" %}</label>

                <div class="controls">
                    {{view Em.TextArea valueBinding="message" placeholder="Your message that will appear on the digital voucher." classBinding="errors.message.length:error"}}
                </div>

                {{#if errors.message}}
                    <div class="has-errors">{{#each errors.message}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>

    <a {{action "addVoucher"}} class="btn-link btn-add">{% trans "Add" %}</a>
    <br class="clear">

{% endtplhandlebars %}


{% tplhandlebars "current_order_voucher" %}

    <div class="name">
        <h4>{{receiver_name}}</h4>
    </div>
    <div class="mail">{{receiver_email}}</div>
    <div class="amount right">
        <span class="right">&euro;{{amount}}</span>
    </div>
    <div class="actions manage-delete"><a {{action "delete" target="view"}}>{% trans "Delete" %}</a></div>

{% endtplhandlebars %}



{% tplhandlebars "ticker" %}
    <ul class="donation-projects" >
        {{#each donation in controller}}
            <li class="donation-project">
                <img {{bindAttr src="donation.project.image" alt="project.title"}} class="project-image" style="width: 200px; float: right;" />
                <img {{bindAttr src="donation.user.avatar" alt="project.title"}} class="project-image"  style="width: 150px"  />
                <strong style="font-size:70px; padding: 10px; font-weight: 600; color: #ff619a; float: right;">&euro;{{ donation.amount }}</strong><br />
                <h2 style="font-size:30px; color: black;">
                    {{ donation.user.full_name }}<br />
                    <span style="color: #777;font-size:20px; text-transform: lowercase">{{ localize donation.created  formatting="X" }}</span><br/>
                    <span style="color: #777;">{{ donation.project.title }}</span>
                </h2>

            </li>
        {{/each}}
    </ul>
{% endtplhandlebars %}
