{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}


{% tplhandlebars "current_order" %}

    {{#if controller.isVoucherOrder}}
        <div class="container section">
            <div class="wrapper">
                <div class="content">
                    <h1 class="main-title">{% trans "Order digital 1%GIFTCARDS" %}</h1>
                </div>
                <sidebar>
                    {{#linkTo "currentOrder.donationList" tagName="a" class="button-link"}}
                        <em class="icon-money"></em> {% trans "Switch to donations" %}
                    {{/linkTo}}
                </sidebar>
            </div>
        </div>
    {{else}}
        <div class="container section">
            <div class="wrapper">
                <div class="content">
                    <h1 class="main-title">{% trans "Support one or more projects!" %}</h1>
                </div>
                <sidebar>
                    {{#linkTo "voucherRedeem" tagName="a" class="button-link"}}
                        <em class="icon-credit-card"></em> {% trans "I have a 1%GIFTCARD" %}
                    {{/linkTo}}
                </sidebar>
            </div>
        </div>
    {{/if}}

    <div class="container">

        <section class="wrapper">

            <ul class="donation-steps">
                {{#if controller.isVoucherOrder}}
                    {{#view App.OrderNavView classNames="support"}}
                        {{#linkTo "currentOrder.voucherList"}}{% trans "Gift Cards" %}{{/linkTo}}
                    {{/view}}
                {{else}}
                    {# Hack: This span needs to be here to get the 'Support' to replace 'Gift Cards'. #}
                    <span></span>
                    {{#view App.OrderNavView classNames="support"}}
                        {{#linkTo "currentOrder.donationList"}}{% trans "Support" %}{{/linkTo}}
                    {{/view}}
                {{/if}}

                {{#view App.OrderNavView classNames="details"}}
                    {{#linkTo "paymentProfile"}}{% trans "Details" %}{{/linkTo}}
                {{/view}}

                {% comment %}
                Disable Profile tab until we have time to implement it properly.
                The donations-steps css class will need to be changed when this is enabled (that changed this line).
                {{#view App.OrderNavView classNames="profile"}}
                    <a>{% trans "Profile" %}</a>
                {{/view}}
                {% endcomment %}

                {{#view App.OrderNavView classNames="payment"}}
                    {{#linkTo "paymentSelect"}}{% trans "Finish" %}{{/linkTo}}
                {{/view}}
            </ul>

            {{#if display_message}}
                <div {{bindAttr class=":order-message isError"}}>
                    <a {{ action hideMessage }} class="message-close" rel="close">&times;</a>

                    <div class="message-content">
                        {{ message_content }}
                    </div>
                </div>
            {{/if}}

            {{ outlet }}

            <div class="sidebar tip">
                {{#if controller.isVoucherOrder}}
                    <h3>{% trans "Want customised 1%GIFTCARDS or buy a bulk of 1%GIFTCARDS?" %}</h3>
                    <br />
                    {{#linkTo "customVoucherRequest"}}{% trans "Contact us." %}{{/linkTo}}
                {{else}}
                    {% comment %}
                    No implemented at this point.
                    <h3>{% trans "Did you know?" %}</h3>
                    <p>{% trans "The average donated amount is €22? The previous donation was: €50. (really, we cheer with every single donation..)" %}</p>
                    <p><a href="#">Read some more</a></p>
                    {% endcomment %}
                {{/if}}
            </div>

        </section>

    </div>

{% endtplhandlebars %}


{% tplhandlebars "current_order_donation_list" %}

    <fieldset>
        <ul>
            <li class="control-group control-group-lonely">

                {{#if moreThanOneDonation }}
                    <label class="control-label">{% trans "Donate to projects" %}</label>
                {{else}}
                    <label class="control-label">{% trans "Donate to project" %}</label>
                {{/if}}

                {{#if controllers.currentUser.isAuthenticated}}
                    <div class="controls">
                        {{#view Em.RadioButtonGroup class="big-radio radio2" name="frequency" selectedValueBinding="controllers.currentOrder.donationType"}}
                            {{view view.RadioButton value="single" id="freq_single"}}
                            <label for="freq_single">{% trans "one-off" %}</label>

                            {{view view.RadioButton value="monthly" id="freq_monthly"}}
                            <label for="freq_monthly">{% trans "monthly" %}</label>
                        {{/view}}
                    </div>
                {{/if}}

            </li>
        </ul>
    </fieldset>

    <fieldset>
        <ul id="donation-projects">
            {{#each donation in controller itemController="currentOrderDonation"}}
                {{view "App.CurrentOrderDonationView" content=donation}}
            {{else}}
                {{#linkTo "projectList"}}
                    <div class="form-meta">
                        <p class="form-label">{% trans "Choose a project to support" %}</p>
                        <p class="form-desc">{% trans "Choose a project and click 'Support this project' to add it to your list." %}</p>
                    </div>
                {{/linkTo}}
            {{/each}}
        </ul>
    </fieldset>


    {{#if controllers.currentOrder.recurring }}
        <fieldset class="monthly-donation">
            <div class="monthly-donation-total">
                <div class="form-summary">{% trans "Divide total to projects above" %}</div>
                <div class="donation-amount">
                    <div class="monthly-amount-control">
                        <label for="donation-amount-1">{% trans "Total Amount" %}</label>
                        <span class="currency"><em>&euro; </em>
                            <input type="number" id="donation-amount-1" step="5" name="donation-amount-1" size="8" maxlength="3" {{bindAttr value="monthly_total"}} />
                        </span>
                    </div>
                </div>
            </div>
        </fieldset>
    {{else}}
        <fieldset>
            <div class="donation-total">
                <div class="form-summary">{% trans "Total" %}<span class="currency right">&euro; {{ total }}</span></div>
            </div>
        </fieldset>
    {{/if}}


    {{#linkTo "projectList" class="button-link"}}<em class="icon-plus-sign"></em> {%trans "Add another project" %}{{/linkTo}}

    {{#if length }}
        {{#linkTo "paymentProfile" class="btn btn-iconed right"}}<i class="icon icon-chevron-right"></i>{% trans "Next" %}{{/linkTo}}
    {{else}}
        <button disabled class="btn btn-iconed right"><i class="icon icon-chevron-right"></i>{% trans "Next" %}</button>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "current_order_voucher_list" %}

    <fieldset>

        {{ render "currentOrderVoucherNew" }}

        <ul class="voucher-list">
            {{#each controller itemController=currentOrderVoucher }}
                {{ view "App.CurrentOrderVoucherView" }}
            {{/each}}

            {{#if length }}
                <li>
                    <div class="summary">
                        {{ length }} {% trans "1%GIFTCARDS will be sent out with a total value of" %}
                    </div>
                    <div class="amount">
                        <h4 class="right">&euro;{{ total }}</h4>
                    </div>
                </li>
            {{else}}
                <li>
                    <div class="summary">
                        {% trans "No gift cards in shopping basket" %}
                    </div>
                </li>
            {{/if}}
        </ul>


        {{#if length }}
            {{#linkTo "paymentProfile" class="btn btn-iconed right"}}<i class="icon icon-chevron-right"></i>{% trans "Next" %}{{/linkTo}}
        {{else}}
            <button disabled class="btn btn-iconed right"><i class="icon icon-chevron-right"></i>{% trans "Next" %}</button>
        {{/if}}

    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "current_order_voucher_new" %}

    <div class="form-meta">
        <p class="form-label">{% trans "Choose value & personalize 1%GIFTCARD" %}</p>
    </div>

    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label">{% trans "Language" %}</label>

                <div class="controls">
                    {{#view Em.RadioButtonGroup class="big-radio radio2" name="language" selectedValueBinding="language"}}
                        {{view view.RadioButton value="en" id="lang_en"}}
                        <label for="lang_en">{% trans "English" %}</label>

                        {{view view.RadioButton value="nl" id="lang_nl"}}
                        <label for="lang_nl">{% trans "Dutch" %}</label>
                    {{/view}}
                </div>
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Value" %}</label>

                <div class="controls">
                    {{#view Em.RadioButtonGroup class="big-radio radio4" name="amount" selectedValueBinding="amount"}}
                        {{view view.RadioButton value=10 id="amount_10"}}
                        <label for="amount_10">
                            &euro;10
                        </label>
                        {{view view.RadioButton value=25 id="amount_25"}}
                        <label for="amount_25">
                            &euro;25
                        </label>
                        {{view view.RadioButton value=50 id="amount_50"}}
                        <label for="amount_50">
                            &euro;50
                        </label>
                        {{view view.RadioButton value=100 id="amount_100"}}
                        <label for="amount_100">
                            &euro;100
                        </label>
                    {{/view}}
                </div>
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Your name" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="sender_name" classBinding="errors.sender_name.length:error"}}
                </div>

                {{#if errors.sender_name }}
                    <div class="errors">{{#each errors.sender_name}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Your email" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="sender_email" classBinding="errors.sender_email.length:error"}}
                </div>

                {{#if errors.sender_email }}
                    <div class="errors">{{#each errors.sender_email}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>

    <hr class="form-divider">

    <fieldset>
        <legend><strong>{% trans "This gift card is for:" %}</strong></legend>

        <ul>
            <li class="control-group">
                <label class="control-label">{% trans "Name" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="receiver_name" classBinding="errors.receiver_name.length:error"}}
                </div>

                {{#if errors.receiver_name }}
                    <div class="errors">{{#each errors.receiver_name}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Email" %}</label>

                <div class="controls">
                    {{view Em.TextField valueBinding="receiver_email" classBinding="errors.receiver_email.length:error"}}
                </div>

                {{#if errors.receiver_email}}
                    <div class="errors">{{#each errors.receiver_email}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>

            <li class="control-group">
                <label class="control-label">{% trans "Personal message" %}</label>

                <div class="controls">
                    {{view Em.TextArea valueBinding="message" placeholder="Your message that will appear on the digital voucher." classBinding="errors.message.length:error"}}
                </div>

                {{#if errors.message}}
                    <div class="errors">{{#each errors.message}}<p>{{this}}</p>{{/each}}</div>
                {{/if}}
            </li>
        </ul>
    </fieldset>

    <a {{action "addVoucher"}} class="right btn">{% trans "Add" %}</a>
    <br class="clear">

{% endtplhandlebars %}


{% tplhandlebars "current_order_voucher" %}

    <div class="name">
        <h4>{{receiver_name}}</h4>
    </div>
    <div class="mail">{{receiver_email}}</div>
    <div class="amount right">
        <span class="right">&euro;{{amount}}</span>
    </div>
    <div class="actions manage-remove"><a {{action "delete" target="view"}} class="right">{% trans "Delete" %}</a></div>

{% endtplhandlebars %}


{% tplhandlebars "payment_profile" %}

    <fieldset>
        {{#if model.isLoaded}}
            <ul>
                <li class="control-group">
                    <label class="control-label">{% trans "Your full name" %}</label>
                    <div class="controls">
                        {{view Ember.TextField valueBinding="firstName" placeholder="First name" class="inline-prepend" classBinding="errors.first_name.length:error"}}
                        {{view Em.TextField valueBinding="lastName" placeholder="Last name" class="inline-append" classBinding="errors.last_name.length:error"}}
                    </div>
                </li>

                <li class="control-group">
                    <label class="control-label">{% trans "Email" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="email" placeholder="Email" classBinding="errors.email.length:error"}}
                    </div>

                    {{#if errors.email }}
                        <div class="errors">{{#each errors.email }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group">
                    <label class="control-label">{% trans "Address" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="address" placeholder="Address" classBinding="errors.address.length:error"}}
                    </div>

                    {{#if errors.address }}
                        <div class="errors">{{#each errors.address }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group">
                    <label class="control-label">{% trans "Postal code" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="postalCode" placeholder="Postal code" classBinding="errors.postal_code.length:error"}}
                    </div>

                    {{#if errors.postal_code }}
                        <div class="errors">{{#each errors.postal_code }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group">
                    <label class="control-label">{% trans "City" %}</label>
                    <div class="controls">
                        {{view Em.TextField valueBinding="city" placeholder="City" classBinding="errors.city.length:error"}}
                    </div>

                    {{#if errors.city }}
                        <div class="errors">{{#each errors.city }}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>

                <li class="control-group">
                    <label class="control-label">{% trans "Country" %}</label>
                    <div class="controls">
                        {{view App.CountryCodeSelectView valueBinding="country" placeholder="Country" classBinding="errors.country.length:error"}}
                    </div>

                    {{#if error.country}}
                        <div class="errors">{{#each errors.country}}<p>{{this}}</p>{{/each}}</div>
                    {{/if}}
                </li>
            </ul>
        {{/if}}
    </fieldset>

    {{#if isPaymentProfileReady }}
        <button class="btn btn-iconed right"><i class="icon icon-chevron-right"></i>{% trans 'Next' %}</button>
    {{else}}
        <button disabled class="btn btn-iconed right"><i class="icon icon-chevron-right"></i>{% trans "Next" %}</button>
    {{/if}}

{% endtplhandlebars %}


{% tplhandlebars "current_order_donation" %}

    {{#linkTo "project" project}}
        <img {{bindAttr src="project.plan.image.square" alt="project.title"}} class="project-image" />
        <h2>
            {{ project.title }}
            <em class="country">
                <i class="icon-globe"></i> {{ project.plan.country.name }}, {{ project.plan.country.subregion }}
            </em>
        </h2>
    {{/linkTo}}

    <div class="donation-amount">
        <div class="amount-needed">
            <strong>&euro; {{ project.campaign.money_needed }}</strong> {% trans "is still needed"%}
        </div>

        <div class="amount-control">
            {{#each error in errors.amount}}
                <span class="errors">{{ error }}</span>
            {{/each}}
            {{#if controllers.currentOrder.recurring }}
                <span class="currency"><em>&euro; </em>
                    {{ amount }}
                </span>
            {{else}}
                <label for="donation-amount-1">{% trans "I'd like to give" %}</label>
                <span class="currency"><em>&euro; </em>
                    <input type="number" id="donation-amount-1" step="5" name="donation-amount-1" size="8" maxlength="4" {{bindAttr value="amount"}} />
                </span>
            {{/if}}
        </div>
    </div>

    <a class="remove" {{action "delete" this target="view" }}>{% trans "Delete" %}</a>

{% endtplhandlebars %}


{% tplhandlebars "paymentSelect" %}

    <div class="intro">

    </div>
    <fieldset>
        {% comment %}
        <div class="tabs vertical">
        </div>
        {% endcomment %}


        <div class="panes vertical payment">
            <h4>{% trans "You're Almost there!" %}</h4>

            {{#if paymentInProgress }}
                <img src="{% get_static_prefix %}images/loading.gif" height="16px" /> {% trans "processing payment..." %}
            {{else}}
                <a href="#" {{action "proceedWithPayment"}} class="btn payment-link">{% trans "Proceed with Payment" %}</a>
            {{/if}}
        </div>
    </fieldset>

{% endtplhandlebars %}


{# TODO This isn't currently used but we want to be. #}
{% tplhandlebars "payment_multi" %}

    <div class="intro">
        <h4>{% trans "YOU MAKE IT WORK!" %}</h4>
        {% trans "Choose the payment method you prefer to donate." %}
    </div>
    <fieldset>
        <div class="tabs vertical">
            {{#view Em.RadioButtonGroup name="payment_method" selectedValueBinding="paymentMethod"}}
                {{#if hasIdeal}}
                    <label>
                        {{view view.RadioButton value="dd-ideal"}}
                        {% trans "iDeal" %}
                    </label>
                    <br/>
                {{/if}}
                {{#if hasWebMenu}}
                    <label>
                        {{view view.RadioButton value="dd-webmenu"}}
                        {% trans "Other" %}
                    </label>
                {{/if}}
            {{/view}}
        </div>
        <div class="panes vertical">
            {{#if paymentInProgress }}
                <img src="{% get_static_prefix %}images/loading.gif" height="16px" /> {% trans "processing payment..." %}
            {{else}}
                {{#if paymentMethod}}
                    <a href="#" {{action "proceedWithPayment"}} class="btn">{% trans "Proceed with Payment" %}</a>
                {{else}}
                    {% trans "No payment method selected" %}
                {{/if}}
            {{/if}}
        </div>
    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "payment_method_info" %}

    <fieldset>
        {{#if content.isLoaded}}
            {{#if view.parentView.parentView.controller.isIdeal}}
                {{view App.IdealPaymentMethodInfoView}}
            {{else}}
                {{#if view.parentView.parentView.controller.isDirectDebit}}
                    {{view App.DirectDebitPaymentMethodInfoView}}
                {{else}}
                    {{#if payment_url}}
                        <a {{bindAttr href="payment_url"}} class="btn right">{% trans "Pay" %}</a>
                    {{else}}
                        <button class="btn right">{% trans "Next" %}</button>
                    {{/if}}
                {{/if}}
            {{/if}}

        {{else}}
            <img src="{% get_static_prefix %}images/loading.gif" height="16px" /> {% trans "Hang on tiger! Loading information..." %}
        {{/if}}
    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "ideal_payment_method_info" %}

    <fieldset>
        {{#if content.isLoaded}}
            {{view Em.Select contentBinding="App.bankList"
                             optionValuePath="content.value"
                             optionLabelPath="content.title"
                             valueBinding="view.parentView.parentView.parentView.controller.content.payment_submethod_id"}}
            {{#if payment_url}}
                <a {{bindAttr href="payment_url"}} class="btn right">{% trans "Pay" %}</a>
            {{else}}
                <button>{% trans "Next" %}</button>
            {{/if}}
        {{else}}
            <img src="{% get_static_prefix %}images/loading.gif" height="16px" /> {% trans "loading information..." %}
        {{/if}}
    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "direct_debit_payment_method_info" %}

    <fieldset>
        {{#if content.isLoaded}}
            {{#each errors.bank_account_number}}<span class="error">{{this}}</span>{{/each}}
            {{view Em.TextField valueBinding="bank_account_number" placeholder="Bank account number" classBinding="errors.bank_account_number.length:error"}}
            {{#each errors.bank_account_name}}<span class="error">{{this}}</span>{{/each}}
            {{view Em.TextField valueBinding="bank_account_name" placeholder="Bank account holder name" classBinding="errors.bank_account_name.length:error"}}

            {{#each errors.bank_account_city}}<span class="error">{{this}}</span>{{/each}}
            {{view Em.TextField valueBinding="bank_account_city" placeholder="Bank account city" classBinding="errors.bank_account_city.length:error :clear"}}

            <button>{% trans "Next" %}</button>
        {{else}}
            <img src="{% get_static_prefix %}images/loading.gif" height="16px" /> {% trans "loading information..." %}
        {{/if}}
    </fieldset>

{% endtplhandlebars %}


{% tplhandlebars "order_thanks" %}
    <div class="container section">
        <header class="wrapper">
            <div class="content">
                <h1 class="main-title">{% trans "Donation Successful!" %}</h1>
                {% blocktrans %}
                Thank you so much for your support. 1% makes a difference.
                If everybody shares a little. together we can get a lot done.
                So share this with your friends.
                {% endblocktrans %}
            </div>
            <sidebar>
                <h2 class="green">{% trans "Personalise your 1%" %}</h2>
                {% blocktrans %}
                Following projects are now even easier and you'll have
                your own personalised page!
                {% endblocktrans %}
                <br />
                {{#linkTo "userProfile" class="profile-link" }}
                    {% trans "Complete your profile" %}
                {{/linkTo }}

            </sidebar>
        </header>
    </div>

    <div class="container">
        <section class="wrapper">

            <ul id="donation-projects" class="content">

                {{#if donations.length}}
                    <h3 class="green">{% trans "You just supported" %}</h3>
                {{/if}}
                {{#each donation in donations}}
                    <li class="donation-project">
                        {{#linkTo "project" donation.project}}
                            <img {{bindAttr src="donation.project.plan.image.square" alt="project.title"}} class="project-image" />
                            <h2>
                                {{ donation.project.title }}
                                <em class="country">
                                    <i class="icon-globe"></i> {{ donation.project.plan.country.name }}, {{ donation.project.plan.country.subregion }}
                                </em>
                            </h2>
                        {{/linkTo}}

                        <p class="donation-amount">
                            <span class="amount-needed">
                                <strong>&euro; {{donation.project.campaign.money_needed}}</strong>
                                {% trans "still needed" %}
                            </span>
                        </p>
                    </li>
                {{/each}}

                {{#if vouchers.length}}
                    <h1>{% trans "Vouchers" %}</h1>
                {{/if}}
                {{#each voucher in vouchers}}
                    <li class="donation-project">
                        {{#if voucher.receiver_name}}
                            <h3>
                                {{voucher.receiver_name}}
                            </h3>
                            <em class="country">{{voucher.receiver_email}}</em>

                        {{else}}
                            <h3>
                                {{voucher.receiver_email}}
                            </h3>
                        {{/if}}
                        <p>{{voucher.message}}</p>
                        <p class="donation-amount">
                            <span class="big currency">&euro; {{voucher.amount}}</span>
                        </p>
                    </li>
                {{/each}}
            </ul>
        </section>
    </div>

{% endtplhandlebars %}

