{% load templatetag_handlebars %}
{% load i18n %}


{% tplhandlebars "voucher_start" %}

    <div class="container section voucher-banner">

        <header class="wrapper">
            <h1 class="">{% trans "Share" %}</h1>
            <h1 class="">{% trans "the fun" %}</h1>
            <h1 class="">{% trans "of giving" %}</h1>
            <h1 class="">{% trans "Get the" %}</h1>
            <h1 class="pink">{% trans "1%GIFTCARD" %} </h1>
        </header>

    </div>

    <div class="container">
        <section class="wrapper">
            <div class="redeem">
                {{#linkTo "voucherRedeem"}}
                    <h2>{% trans "I received a gift card" %}</h2>
                {{/linkTo}}
            </div>
            <div class="buy">
                {{#linkTo "currentOrder.voucherList"}}
                    <h2>{% trans "I'd like to buy gift card(s)" %}</h2>
                {{/linkTo}}
            </div>
        </section>
    </div>

{% endtplhandlebars %}


{% tplhandlebars "voucher_redeem" %}

    <div class="container section">
        <div class="wrapper">
            <div class="content">
                <h1 class="main-title">{% trans "Claim your gift card and donate!" %}</h1>
            </div>
            <sidebar>
                {{#linkTo "currentOrder.donationList" tagName="a" class="button-link"}}
                    <em class="icon-credit-card"></em> {% trans "Switch to donations" %}
                {{/linkTo}}
            </sidebar>
        </div>
    </div>

    <div class="container">

        <section class="wrapper">

            <ul class="voucher-steps">
                {{#view App.OrderNavView classNames="support selected"}}
                    {{#linkTo "voucherRedeem"}}Support{{/linkTo}}
                {{/view}}
                {{#view App.OrderNavView classNames="profile"}}
                    <a>{% trans "Profile" %}</a>
                {{/view}}
            </ul>

            {{#if voucher.isLoaded}}
                <form class="labeled">
                    <fieldset class="">
                        <div class="label">{% trans "Gift card" %}</div>
                        <div class="label ok">&#10004; {{voucher.code}}</div>
                        <div class="label">{% trans "code accepted" %}</div>
                        <div class="label ok">
                            <span class="right big-text">&euro;{{voucher.amount}}</span>
                        </div>
                    </fieldset>

                    <ul id="donation-projects">
                        {{#each voucher.donations}}
                            {{view App.VoucherDonationView content=this}}
                        {{else}}
                            <li class="donation-project">
                                {{#linkTo "projectList"}}
                                    <h1>
                                        {% trans "Choose a project to support with this gift card" %}
                                    </h1>
                                    <b>You can make it work!</b>
                                {{/linkTo}}
                            </li>
                        {{/each}}
                    </ul>
                    {{#if voucher.donations.length}}
                        <button {{action "redeemVoucher" target="controller"}} type="submit" class="button right">
                            {% trans "Submit" %}
                        </button>
                    {{else}}
                        <button disabled class="button right">
                            {% trans "Submit" %}
                        </button>

                    {{/if}}
                </form>

            {{else}}
                <form class="labeled">
                    <fieldset>
                        <ul>
                            <li class="control-group">
                                <label class="control-label">{% trans "Gift card code" %}</label>

                                <div class="controls">
                                    {{view Em.TextField valueBinding="code" placeholder="Your code" classBinding="error:error"}}
                                </div>

                                {{#if error}}
                                    <div class="errors"><p>{% trans "We don't have a gift card with this code." %}</p></div>
                                {{/if}}
                            </li>
                        </ul>
                    </fieldset>

                    <button {{action "submitVoucherCode" target="controller"}} type="submit" class="btn right">
                        {% trans "Submit" %}
                    </button>
                </form>
            {{/if}}

        </section>
    </div>

{% endtplhandlebars %}static/global/css/print.css


{% tplhandlebars "voucher_redeem_done" %}

    <div class="container section">

        <header class="wrapper">
            <h1 class="">YOU MAKE IT WORK!</h1>
        </header>

    </div>

{% endtplhandlebars %}


{% tplhandlebars "voucher_donation" %}

    {{#linkTo "project" project}}
        <img {{bindAttr src="project.image_square"}} class="project-image" alt="Project Name" />
    {{/linkTo}}
    <h1>
        {{#linkTo "project" project}}
            {{project.title}}
        {{/linkTo}}
        <em class="country">{{project.country.name}}</em>
    </h1>
    <p class="donation-amount">
        {{#if amount}}
            <span class="big currency">&euro; {{amount}}</span>
        {{/if}}
    </p>

    {# add this for multiple donations per voucher #}
    {# <a class="remove" {{action "delete" this target="view" }}>{% trans "Remove" %}</a> #}

{% endtplhandlebars %}


{% tplhandlebars "custom_voucher_request" %}

    <div class="container section">
        <header class="wrapper">
            <div class="content">
                <h1 class="">{% trans "Contact us for custom 1%GIFTCARDS" %}</h1>
                {% trans "Please fill in the form and we'll contact you. You can also call us directly on (+31) 20 715 8980" %}
            </div>
        </header>
    </div>
    <br/>
    <div class="container">
        <section class="wrapper">

            <div class="content gray">

                <form class="labeled">

                    {{#each errors.amount}}<span class="error">{{this}}</span>{{/each}}
                    <div class="label">{% trans "Amount" %}</div>
                    {{view Em.TextField valueBinding="amount" type="number" step="10" classBinding="errors.amount.length:error"}}

                    {{#each errors.contact_name}}<span class="error">{{this}}</span>{{/each}}
                    <div class="label">{% trans "Your name" %}</div>
                    {{view Em.TextField valueBinding="contact_name" classBinding="errors.contact_name.length:error"}}

                    {{#each errors.contact_email}}<span class="error">{{this}}</span>{{/each}}
                    <div class="label">{% trans "Your email" %}</div>
                    {{view Em.TextField valueBinding="contact_email" classBinding="errors.contact_email.length:error"}}

                    {{#each errors.organization}}<span class="error">{{this}}</span>{{/each}}
                    <div class="label">{% trans "Organization" %}</div>
                    {{view Em.TextField valueBinding="organization" classBinding="errors.organization.length:error"}}

                    {{#each errors.contact_phone}}<span class="error">{{this}}</span>{{/each}}
                    <div class="label">{% trans "Phone number" %}</div>
                    {{view Em.TextField valueBinding="contact_phone" classBinding="errors.contact_phone.length:error"}}

                    {{#each errors.message}}<span class="error">{{this}}</span>{{/each}}
                    <div class="label wide">{% trans "Anything to add? Leave a message." %}</div>
                    {{view Em.TextArea valueBinding="message" classBinding="errors.message.length:error"}}

                    <a class="right button" {{action sendRequest target="controller"}}>{% trans "Send message" %}</a>
                </form>
            </div>
        </section>
    </div>

{% endtplhandlebars %}
