{% load i18n bb_ember static %}

{% tplhandlebars "fundRaiser/index" %}

    <div class="l-section" id="wallposts">
        <section class="l-wrapper">

            <div class="wallposts-list">

                {{#if controllers.currentUser.isAuthenticated }}
                    {{#if canAddMediaWallPost}}
                        {{ render "mediaWallPostNew" parentId=parentId}}
                    {{else}}
                        {{ render "textWallPostNew" }}
                    {{/if}}
                {{/if}}

                {{#each item in controller itemController="wallPost"}}
                    {{#if item.isLoaded}}
                        {{#if item.isSystemWallPost}}
                            {{view "App.SystemWallPostView"}}
                        {{else}}
                            {{view "App.MediaWallPostView"}}
                        {{/if}}
                    {{/if}}
                {{/each}}

                {{#if canLoadMore}}
                    <a {{action "showMore"}} class="btn-link btn-more">
                        <span class="flaticon solid plus-2"></span> {% trans "Show more" %} <small>{{remainingItemCount}} {% trans "more" %}</small>
                    </a>
                {{/if}}

            </div>
        </section>
    </div>

{% endtplhandlebars %}
