{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "how_to_crowdfund"%}

    <div id="how-to-crowdfund">
       
        {{#if App.isDutch}}
            {{render 'howto/video'}}
        {{else}}
            {{render 'howto/header'}}
        {{/if}}

        {{render 'howto/slider'}}

        {{render 'howto/canvas'}}

        {{render 'howto/crowdtools'}}

    </div>

{% endtplhandlebars %}