{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "partner_index" %}
    <div class="l-section" id="partner-detail">
        <section class="l-wrapper">
            <div class="row">
                <div class="col12 partner-col">
                    <figure class="image">
                        <img {{bindAttr src="image.full"}} />
                    </figure>

                    <article>
                        <h1>{{name}}</h1>
                        <p>{{linebreaks description formatting='br'}}</p>
                    </article>
                </div>
            </div>
        </section>

        <section class="l-wrapper">
            <ul id="search-results">
                {{#each project in projects}}
                    {{render "projectPreview" project}}
                {{else}}
                    <li class="no-results">{% trans "No projects found." %}</li>
                {{/each}}
            </ul>
        </section>
    </div>
{% endtplhandlebars %}