{% load templatetag_handlebars %}
{% load i18n %}
{% load static %}

{% tplhandlebars "partner_index" %}
    <div class="l-section" id="partner-detail">
        <div class="l-section partner-info">
            <div class="l-wrapper">
                <div class="row">
                    <div class="col8">
                        <div class="partner-headline">
                            <div class="partner-heading">
                                <span class="partner-main-content">
                                    <h1>{{name}}</h1>
                                </span>
                            </div>
                            <p class="partner-content">
                                {{linebreaks description formatting='br'}}
                            </p>
                        </div>
                    </div>
                    <div class="col4">
                        <div class="col12 partner-col">
                            <figure class="image-logo">
                                <img {{bindAttr src="image.full"}} />
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="l-wrapper">
            <ul class="campaign-container campaign-grid gc-3">
                {{#each project in projects}}
                    {{partial 'project_preview_list'}}
                {{else}}
                    <li class="no-results">{% trans "No projects found." %}</li>
                {{/each}}
            </ul>
        </section>
    </div>
{% endtplhandlebars %}