{% extends "bb_accounts:bb_accounts/profile_form.hbs" %}
{% load i18n bb_ember %}


{% block form_meta %}
    <strong>{% trans "Edit your profile" %}</strong>
    <p>{% trans "Personalise your account so 1%Members can get to know you." %}</p>
{% endblock form_meta %}

{% block_verbatim fieldset1 %}
    <fieldset>
        <ul>
            <li class="control-group">
                <label class="control-label">
                    {% trans "Name" %}
                </label>

                <div class="controls">
                    {{view App.FirstName valueBinding="first_name"
                    class="inline-prepend" classBinding="errors.first_name.length:error"}}

                    {{view App.Surname valueBinding="last_name"
                    class="inline-append" classBinding="errors.last_name.length:error"}}
                </div>
            </li>

            <li class="control-group profile-picture-container">
                <label class="control-label">
                    {% trans "Profile Picture" %}
                </label>

                <div class="controls image-upload">
                    <div class="image-upload-drag">
                        <figure class="member-avatar"><img {{bindAttr src="getAvatar"}} /></figure>
                    </div>

                    <a class="btn btn-iconed btn-upload">
                        {{view App.UploadFile contentBinding="this" name="picture" id="picture" accept="image/*" fileBinding="picture"}}
                        <span class="flaticon solid upload-document-1"></span>
                        {% trans "Upload picture" %}
                    </a>
                </div>
            </li>
    </ul>
    </fieldset>
{% endblock_verbatim fieldset1 %}

{% block_verbatim profile_fields %}
    
    <li class="control-group">
        <label class="control-label">
            {% trans "About yourself" %}
        </label>

        <div class="controls">
            {{view App.AboutYou valueBinding="about" maxlength="265" rows="4" classBinding="errors.about.length:error"}}
        </div>

        {{#if errors.about}}
            <div class="has-errors">{{#each errors.about}}<p>{{this}}</p>{{/each}}</div>
        {{/if}}
    </li>

    <li class="control-group">
        <label class="control-label">
            {% blocktrans %}Why did you join 1%Club?{% endblocktrans %}
        </label>

        <div class="controls">
            {{view App.Why valueBinding="why" maxlength="265" classBinding="errors.why.length:error"}}
        </div>

        {{#if errors.why}}
            <div class="has-errors">{{#each errors.why}}<p>{{this}}</p>{{/each}}</div>
        {{/if}}
    </li>

    <li class="control-group">
        <label class="control-label">
            {% trans "Your website" %}
        </label>

        <div class="controls">
            {{view Em.TextField valueBinding="website" placeholder="http://" classBinding="errors.website.length:error"}}
        </div>

        {{#if errors.website}}
            <div class="has-errors">{{#each errors.website}}<p>{{this}}</p>{{/each}}</div>
        {{/if}}
    </li>

    <li class="control-group">
        <label class="control-label">
            {% trans "Location" %}
        </label>

        <div class="controls">
            {{view Em.TextField valueBinding="location" classBinding="errors.location.length:error"}}
        </div>

        {{#if errors.location}}
            <div class="has-errors">{{#each errors.website}}<p>{{this}}</p>{{/each}}</div>
        {{/if}}
    </li>

{% endblock_verbatim profile_fields %}

{% block_verbatim extra_fieldsets %}
    <fieldset>
    
        <legend>
            <strong>{% trans "1%Skills" %}</strong>
            <p>{% blocktrans %}How much time are you willing to spend your 1%Skills?<br/>Let us know so we can provide you with some matching tasks from our projects.{% endblocktrans %}</p>
        </legend>

        <ul>
          <li class="control-group">
            <label class="control-label">
                {% trans "Time available" %}
            </label>

            <div class="controls">
                {{view App.TimeAvailableSelect contentBinding="timeAvailableList" optionValuePath="content.value" optionLabelPath="content.name" valueBinding="available_time" classBinding="errors.timeavailable:error" }}
            </div>
          </li>
        </ul>
    </fieldset>
{% endblock_verbatim extra_fieldsets %}

                
